  NULL = NULL

SelectFaction = $GER
SelectRegion = $Austria

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_GER_KPBanned|0|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_GER_AustriaAtWar|0|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_BaltikumKorpsRaised|0|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_BlockadeEstablished|0|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_FirstPanzerDivision|0|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/03/15

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_SecondPanzerDivision|0|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/03/15

Actions

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Riga

SelectFaction = $RED
SelectRegion = $Riga
StartEvent = evt_nam_RED_RigaControlled1921|0|1|NULL|NULL|$Riga|NULL

Conditions

EvalRgnOwned = $Riga;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Helsinki
StartEvent = evt_nam_RED_HelsinkiControlled1921|0|1|NULL|NULL|$Helsinki|NULL

Conditions

EvalRgnOwned = $Helsinki;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Bucuresti
StartEvent = evt_nam_RED_BucurestiControlled1921|0|1|NULL|NULL|$Bucuresti|NULL

Conditions

EvalRgnOwned = $Bucuresti;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Tiflis
StartEvent = evt_nam_RED_TiflisControlled1921|0|1|NULL|NULL|$Tiflis|NULL

Conditions

EvalRgnOwned = $Tiflis;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Petrograd

SelectFaction = $GER
SelectRegion = $Petrograd
StartEvent = evt_nam_GER_PetrogradControlled1921|0|1|NULL|NULL|$Petrograd|NULL

Conditions

EvalRgnOwned = $Petrograd;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Petrograd
StartEvent = evt_nam_GER_PetrogradControlled1921Bis|0|1|NULL|NULL|$Petrograd|NULL

Conditions

EvalRgnOwned = $Petrograd;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Odessa
StartEvent = evt_nam_GER_OdessaControlled1921|0|1|NULL|NULL|$Odessa|NULL

Conditions

SelectFaction = $RED

EvalRgnOwned = $Odessa

SelectFaction = $GER

EvalRgnOwned = $Odessa;NOT

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_GER_RostovControlled1921|0|1|NULL|NULL|$Rostov|NULL

Conditions

SelectFaction = $RED

EvalRgnOwned = $Rostov

SelectFaction = $GER

EvalRgnOwned = $Rostov;NOT

Actions
  ChangeFacMorale = -1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_FullWar|0|0|NULL|NULL|$Germany|NULL

Conditions

Actions

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_FalsePeace1921|0|0|NULL|NULL|$Kiev|NULL

Conditions

Actions

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_KievControlled1921|0|0|NULL|NULL|$Kiev|NULL

Conditions

Actions

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_RealPeace1921|0|0|NULL|NULL|$Kiev|NULL

Conditions

Actions

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Ukraine21OptionChosen|0|0|NULL|NULL|$Kiev|NULL

Conditions

Actions

EndEvent
  Drang_Ger_AI.sct 
  Drang_Red_AI.sct 
  ANAAI.sct
  GRNAI.sct
  RUS DrangMultiChoices.sct
  RUS Drang Options Reinforcements.sct
  RUS Drang Options Diplomacy.sct
  RUS Drang Options Various.sct
  RUS Drang Options Politics.sct
  RUS Drang Bolshevik DOWs.sct
  RUS Drang Centrals DOWs.sct
  RUS Drang Misc Events.sct
  RUS Drang Strikes Insurrections.sct
  RUS Drang Balance.sct
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_RED_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;5
  ChgRgnDecisionFP = $rgdConscriptions;10
  ChgRgnDecisionFP = $rgdTcheka;3
  ChgRgnDecisionFP = $rgdSubversion;2

EndEvent

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_GER_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;5
  ChgRgnDecisionFP = $rgdConscriptions;2
  ChgRgnDecisionFP = $rgdReforms;1

EndEvent

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_WHI_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;2
  ChgRgnDecisionFP = $rgdConscriptions;2
  ChgRgnDecisionFP = $rgdReforms;1

EndEvent
  NULL = NULL
  NULL = NULL

SelectFaction = $WHI
StartEvent = evt_nam_RGDExclusion_WHI|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Central_Powers
  AddRgnDecisionExcl  = $Area_Romania
  AddRgnDecisionExcl  = $Area_Mazowia 
  AddRgnDecisionExcl  = $Area_OstPreussen
  AddRgnDecisionExcl  = $Area_Vilnius
  AddRgnDecisionExcl  = $Area_Lithuania 
  AddRgnDecisionExcl  = $Area_Finland 
  AddRgnDecisionExcl  = $Area_Karelia
  AddRgnDecisionExcl  = $Area_Latvia
  AddRgnDecisionExcl  = $Area_Estonia
  AddRgnDecisionExcl  = $Area_Georgia
  AddRgnDecisionExcl  = $Area_Armenia
  AddRgnDecisionExcl  = $Area_Azerbaijan
  AddRgnDecisionExcl  = $Area_Wallachia
  AddRgnDecisionExcl  = $Area_Wielkopolska
  AddRgnDecisionExcl  = $Area_Galicia
  AddRgnDecisionExcl  = $Area_Perm
  AddRgnDecisionExcl  = $Area_Uralsk
  AddRgnDecisionExcl  = $Area_Ufa 
  AddRgnDecisionExcl  = $Area_Viatka
  AddRgnDecisionExcl  = $Area_Orenburg
  AddRgnDecisionExcl  = $Area_Turgay
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_RGDExclusion_RED|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_RGDExclusion_GER|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = RGD_Remove_Exclusion_Finland_RED|0|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_WHI_FinlandJoin_ON;=;1

Actions
  RemRgnDecisionExcl = $Area_Finland 
  RemRgnDecisionExcl = $Area_Karelia

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_allowingRGDconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_allowingRGDGERconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent
  NULL = NULL
  NULL = NULL

SelectFaction = $GER
StartEvent = evt_nam_GER_NoWar_EPIncrease_Silent|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;0
  EvalEngagementPts = <;20

Actions
  ChgFacEngagementPts = 1

EndEvent
  NULL = NULL

SelectFaction = $GER
StartEvent = evt_nam_GER_NoWar_MoraleIncrease_Silent|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;0
  EvalMorale = <;120

Actions
  ChangeFacMorale = 1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_GeneralWarNow|1|0|evt_txt_GER_GeneralWarNow|Opt_XXX_ArmSales|$Germany|NULL

Conditions
  MinDate = 1921/05/01
  EvalEvent = evt_nam_GER_FullWar;=;0
  Probability = 25

Actions

  ChgEvtOccurs = evt_nam_GER_FullWar;CuOccurs;1
  ChgFacEngagementPts = 5

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_GER_AustrianMobilization|1|0|evt_txt_GER_AustrianMobilization|Opt_GER_AustrianArmy6|$Austria|NULL

Conditions
  MinDate = 1921/02/01

Actions
  ChgFacEngagementPts = 2

EndEvent

SelectFaction = $GER
SelectRegion = $Anatolia
StartEvent = evt_nam_GER_TurkishMobilization|1|0|evt_txt_GER_TurkishMobilization|Event-img_TUR_CaucasusIntervention|$Anatolia|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 25

Actions
  ChgFacEngagementPts = 2

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_GermanMobilizationLdw|1|2|evt_txt_GER_GermanMobilizationLdw|Event-img_Renforts_CMN_GermanOstSee_Intervention|$Germany|NULL

Conditions
  MinDate = 1921/01/10

EvalRgnOwned = $Germany

Actions
  NULL = NULL

SelectRegion = $Koenigsberg

SelectFaction = $GER
SelectRegion = $Koenigsberg
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = East Prussian Reserve
  Apply
  CreateUnit
  GMEParam = 5
  SetType = $uni_GER_Etzel2
  FlavorName = XVIII. Reservekorps
  SetName = G. von Etzel
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 6
  SetName = 16. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 5
  SetName = 21. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Pio
  SetName = 12. Pionier-Batallion
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_GER_Cav0
  SetName = 11. Kavallerie-Regiment
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.2
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.3
  Apply

SelectRegion = $Danzig

SelectFaction = $GER
SelectRegion = $Danzig
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = Pomeranian Reserve
  Apply
  CreateUnit
  GMEParam = 5
  SetType = $uni_GER_Fritsch2
  FlavorName = XXII. Reservekorps
  SetName = W. von Fritsch
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 6
  SetName = 17. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 5
  SetName = 19. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Pio
  SetName = 13. Pionier-Batallion
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_GER_Cav0
  SetName = 12. Kavallerie-Regiment
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.3
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.4
  Apply

SelectRegion = $Poznan

SelectFaction = $GER
SelectRegion = $Poznan
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = Ostmark Reserve
  Apply
  CreateUnit
  GMEParam = 5
  SetType = $uni_GER_Lutz2
  FlavorName = XXIII. Reservekorps
  SetName = O. Lutz
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 6
  SetName = 18. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 5
  SetName = 35. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Pio
  SetName = 14. Pionier-Batallion
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_GER_Cav0
  SetName = 13. Kavallerie-Regiment
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.5
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.6
  Apply

SelectRegion = $Silesia

SelectFaction = $GER
SelectRegion = $Silesia
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = Silesian Reserve
  Apply
  CreateUnit
  GMEParam = 5
  SetType = $uni_GER_Epp2
  FlavorName = XXIV. Reservekorps
  SetName = F. Epp
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 5
  SetName = 22. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Div4
  NumCreate = 4
  SetName = 33. Reserve-Division
  Apply
  CreateUnit
  SetType = $uni_GER_Pio
  SetName = 15. Pionier-Batallion
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_GER_Cav0
  SetName = 15. Kavallerie-Regiment
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.7
  Apply
  CreateUnit
  SetType = $uni_GER_Sup1
  SetName = P.Res. Nachshub-Rgt N.8
  Apply
  NULL = NULL

SelectRegion = $Austria

SelectFaction = $GER
SelectRegion = $Austria
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 5
  SetName = Austrian Landwehr Reserve
  Apply
  CreateUnit
  SetType = $uni_AUS_Ljubiszic2
  SetName = S. Ljubiszic
  Apply
  CreateUnit
  SetType = $uni_AUS_Div6
  SetName = 6. Landwehr-Division
  Apply
  CreateUnit
  SetType = $uni_AUS_Div6
  SetName = 7. Landwehr-Division
  Apply
  CreateUnit
  SetType = $uni_AUS_Sup1
  SetName = 43. Nachshub-Regiment
  Apply

SelectRegion = $Hungary

SelectFaction = $GER
SelectRegion = $Hungary
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 5
  SetName = Hungarian Landwehr Reserve
  Apply
  CreateUnit
  SetType = $uni_AUS_Lerch2
  SetName = T. von Lerch
  Apply
  CreateUnit
  SetType = $uni_AUS_Div6
  SetName = 8. Landwehr-Division
  Apply
  CreateUnit
  SetType = $uni_AUS_Div6
  SetName = 9. Landwehr-Division
  Apply
  CreateUnit
  SetType = $uni_AUS_Sup1
  SetName = 44. Nachshub-Regiment
  Apply
  ChangeFacMorale = 1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_NewLeaders1|1|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/05/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BaltikumKorpsRaised;=;0
  EvalEvent = evt_nam_GER_FullWar;=;1
  Probability = 25

Actions

SelectFaction = $GER
SelectRegion = $Germany
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 0
  SetName = New Generals
  Apply
  CreateUnit
  SetType = $uni_GER_Goltz2
  SetName = R. von der Goltz
  Apply
  CreateUnit
  SetType = $uni_GER_Brandenstein1
  SetName = A. von Brandenstein
  Apply
  CreateUnit
  SetType = $uni_GER_Tschirscky1
  SetName = H. von Tschirscky
  Apply

EndEvent

SelectFaction = $GER
SelectRegion = $Memel
StartEvent = evt_nam_GER_NewLeaders2|1|1|NULL|NULL|$Memel|NULL

Conditions
  MinDate = 1921/05/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BaltikumKorpsRaised;=;0
  EvalEvent = evt_nam_GER_FullWar;=;1
  Probability = 30

Actions
  ChangeFacMorale = 1

SelectFaction = $GER
SelectRegion = $Memel
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 0
  SetName = Freikorps I
  Apply
  CreateUnit
  SetType = $uni_GER_Bischoff1
  SetName = J. Bischoff
  Apply
  CreateUnit
  SetType = $uni_GER_Fletcher1
  SetName = A. Fletcher
  Apply

EndEvent

SelectFaction = $GER
SelectRegion = $Koenigsberg
StartEvent = evt_nam_GER_NewLeaders3|1|1|NULL|NULL|$Koenigsberg|NULL

Conditions
  MinDate = 1921/05/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BaltikumKorpsRaised;=;0
  EvalEvent = evt_nam_GER_FullWar;=;1
  EvalEvent = evt_nam_GER_NewLeaders2;=;1
  Probability = 50

Actions
  ChangeFacMorale = 2

SelectFaction = $GER
SelectRegion = $Koenigsberg
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 0
  SetName = Freikorps II
  Apply
  CreateUnit
  SetType = $uni_GER_Tiede1
  SetName = P. Tiede
  Apply
  CreateUnit
  SetType = $uni_GER_Fleischer1
  SetName = C. Fleischer
  Apply

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_EliteTroops|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_GER_Inf1
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_GER_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_VeteranTroops|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_GER_Inf2
  AlterCuSubUnit = ApplyToList;probability 25;Model $mdl_GER_Inf1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_RegularTroops|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_GER_Inf3
  AlterCuSubUnit = ApplyToList;probability 20;Model $mdl_GER_Inf2

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_BAY_EliteTroops|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_BAY_Inf1
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_BAY_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_BAY_VeteranTroops|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_BAY_Inf2
  AlterCuSubUnit = ApplyToList;probability 20;Model $mdl_BAY_Inf1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_Aces|1|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_GER_Air2
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_GER_Air2as

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_AUS_EliteTroops|1|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_AUS_Inf1
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_AUS_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_AUS_VeteranTroops|1|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_AUS_Inf2
  AlterCuSubUnit = ApplyToList;probability 20;Model $mdl_AUS_Inf1

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_AUS_RegularTroops|1|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_AUS_Inf3
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_AUS_Inf2

EndEvent

SelectFaction = $GER
SelectRegion = $Hungary
StartEvent = evt_nam_HUN_EliteTroops|1|0|NULL|NULL|$Hungary|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_HUN_Inf1
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_HUN_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Hungary
StartEvent = evt_nam_HUN_VeteranTroops|1|0|NULL|NULL|$Hungary|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_HUN_Inf2
  AlterCuSubUnit = ApplyToList;probability 20;Model $mdl_HUN_Inf1

EndEvent

SelectFaction = $GER
SelectRegion = $Hungary
StartEvent = evt_nam_HUN_RegularTroops|1|0|NULL|NULL|$Hungary|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_HUN_Inf3
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_HUN_Inf2

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_AUS_Aces|1|0|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_AUS_Air2
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_AUS_Air2as

EndEvent

SelectFaction = $GER
SelectRegion = $Helsinki
StartEvent = evt_nam_FIN_EliteTroops|1|0|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_FIN_Inf2
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_FIN_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Helsinki
StartEvent = evt_nam_BAL_LateWarTroops|1|0|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_BAL_Inf1
  AlterCuSubUnit = ApplyToList;probability 50;Model $mdl_BAL_Inf2

EndEvent

SelectFaction = $GER
SelectRegion = $Helsinki
StartEvent = evt_nam_BAL_EliteTroops|1|0|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_BAL_Inf2
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_BAL_Inf4

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_UKR_EliteTroops|1|0|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_UKR_Inf3
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_UKR_Inf9

EndEvent

SelectFaction = $GER
SelectRegion = $Anatolia
StartEvent = evt_nam_TUR_EliteTroops|1|0|NULL|NULL|$Anatolia|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_TUR_Inf1
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_TUR_Inf2

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_EliteTroops|1|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf1  $mdl_RED_Inf2  $mdl_RED_Inf3
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_RED_Inf9

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_LateWarTroops1|1|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf1  $mdl_RED_Inf2 
  AlterCuSubUnit = ApplyToList;probability 20;Model $mdl_RED_Inf3

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_LateWarTroops2|1|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf1  $mdl_RED_Inf2 
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_RED_Inf4

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_CavImprove|1|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_RED_Cav3  $mdl_RED_Cav6
  AlterCuSubUnit = ApplyToList;probability 15;Model $mdl_RED_Cav2

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Aces|1|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/01

Actions
  SelectSubUnits = Models $mdl_RED_Air2
  AlterCuSubUnit = ApplyToList;probability 10;Model $mdl_RED_Air2as

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_RED_SiberianReinforcements1|1|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1921/02/01

EvalRgnOwned = $Ekaterinburg

Actions

SelectFaction = $RED
SelectRegion = $Ekaterinburg
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 0
  SetName = Siberians
  Apply
  CreateUnit
  SetType = $uni_RED_Triapitsyn1
  SUFlavorName = Comrade Triapitsyn
  SetName = Triapitsyn
  Apply
  CreateUnit
  SetType = $uni_RED_Par2
  NumCreate = 2
  SUFlavorName = SibrP. 01|SibrP. 02
  SetLevel = 1
  SetName = 1st Siberian Partisans
  Apply
  CreateUnit
  SetType = $uni_RED_Par2
  NumCreate = 2
  SUFlavorName = SibrP. 03|SibrP. 04
  SetLevel = 1
  SetName = 2nd Siberian Partisans
  Apply
  CreateUnit
  SetType = $uni_RED_Cav9
  NumCreate = 2
  SUFlavorName = Mounted SibrP. 01|Mounted SibrP. 02
  SetLevel = 1
  SetName = 1st Siberian Cavalry
  Apply

EndEvent

SelectFaction = $CMN
SelectRegion = $Kronstadt

SelectFaction = $CMN
SelectRegion = $Kronstadt
StartEvent = evt_nam_CMN_KronstadtUprising|1|2|evt_txt_CMN_KronstadtUprising|Event-img_CMN_KronstadtUprising|$Kronstadt|NULL

Conditions

SelectFaction = $RED

EvalRgnOwned = $Kronstadt
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 5

Actions
  RemoveUnqUnit = 1st Sailors Dcht
  RemoveUnqUnit = 2nd Sailors Dcht
  RemoveUnqUnit = 3rd Sailors Dcht
  RemoveUnqUnit = 4th Sailors Dcht
  RemoveUnqUnit = 5th Sailors Dcht
  RemoveUnqUnit = 6th Sailors Dcht
  RemoveUnqUnit = Kronstadt Base Garrison
  RemoveUnqUnit = Kotlin Island Garrison
  RemoveUnqUnit = Kronstadt Defense Bty
  RemoveUnqUnit = 1st Kronstadt Coastal Bat.
  RemoveUnqUnit = 2nd Kronstadt Coastal Bat.
  RemoveUnqUnit = Kronstadt Fortress
  RemoveUnqUnit = Kronstadt Magazine

SelectFaction = $ANA
SelectRegion = $Kronstadt
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Kronstadt
  ChangeLoyaltyFac = -75

SelectFaction = $ANA
SelectRegion = $Petrograd

SelectRegion = $Petrograd
  ChangeLoyaltyFac = 15

SelectFaction = $RED 
SelectRegion = $Petrograd
  ChangeLoyaltyFac = -15

SelectFaction = $RED
  SelectSubUnits = Region $Kronstadt;FactionTags RED
  AlterCuSubUnit = ApplytoList;Move $Petrograd

SelectFaction = $ANA
SelectRegion = $Kronstadt

SelectRegion = $Kronstadt
  ChangeRgnOwner = RED

SelectFaction = $ANA
SelectRegion = $Kronstadt
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 999
  SetName = Kronstadt Uprising
  Apply
  CreateUnit
  SetType = $uni_ANA_Petrichenko1
  SetName = S.M. Petrichenko
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 1st Sailors
  SetLevel = 2
  SetName = 1st Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 2nd Sailors
  SetLevel = 2
  SetName = 2nd Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 3rd Sailors
  SetLevel = 2
  SetName = 3rd Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 4th Sailors 
  SetLevel = 2
  SetName = 4th Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 5th Sailors 
  SetLevel = 2
  SetName = 5th Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Sai
  SUFlavorName = 6th Sailors 
  SetLevel = 2
  SetName = 6th Sailors Dcht
  Apply
  CreateUnit
  SetType = $uni_ANA_Mil6
  SUFlavorName = Insurgents
  SetLevel = 2
  SetName = Kronstadt Insurgents
  Apply
  CreateUnit
  SetType = $uni_ANA_Gar3
  SUFlavorName = 1st Kronstdat|2nd Kronstadt|3rd Kronstadt
  SetName = Kronstadt Base Garrison
  Apply
  CreateUnit
  SetType = $uni_ANA_Gar3
  SUFlavorName = 1st Kotlin|2nd Kotlin|3rd Kotlin
  SetName = Kotlin Island Garrison
  Apply
  CreateUnit
  SetType = $uni_ANA_Bty
  SUFlavorName = Fortification Bty
  SetName = Kronstadt Defense Bty
  Apply
  CreateUnit
  SetType = $uni_ANA_Coa
  SUFlavorName = Coastal Bty
  SetName = 1st Kronstadt Coastal Bat.
  Apply
  CreateUnit
  SetType = $uni_ANA_Coa
  SUFlavorName = Coastal Bty
  SetName = 2nd Kronstadt Coastal Bat.
  Apply

EndEvent

SelectFaction = $CMN
SelectRegion = $Stavropol-on-Volga

SelectFaction = $CMN
SelectRegion = $Stavropol-on-Volga
StartEvent = evt_nam_Renforts_CMN_VolgaInsurrection|1|1|NULL|NULL|$Stavropol-on-Volga|NULL

Conditions
  MinDate = 1921/05/01
  MaxDate = 1923/12/30
  Probability = 10

Actions

SelectFaction = $GRN
SelectRegion = $Stavropol-on-Volga
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Stavropol-on-Volga
  ChangeLoyaltyFac = -75

SelectFaction = $GRN
SelectRegion = $Stavropol-on-Volga

SelectFaction = $GRN
SelectRegion = $Stavropol-on-Volga
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Volga Insurrection
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = 1st Volga Insurgents
  SetName = 1st Volga Insurgents
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = 2nd Volga Insurgents
  SetName = 2nd Volga Insurgents
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 1st Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 2nd Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 3rd Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 4th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 5th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 6th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 7th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 8th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 9th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 10th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_MG1
  SUFlavorName = Tachankas
  SetName = Tachankas
  Apply
  CreateUnit
  SetType = $uni_GRN_Art1
  SUFlavorName = Volga Peasants Bty
  SetName = Volga Peasants Bty
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 1st Insurgents Supply
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 2nd Insurgents Supply
  Apply

SelectRegion = $Pribrezhnyy
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Pribrezhnyy
  ChangeLoyaltyFac = -75

SelectFaction = $GRN
SelectRegion = $Pribrezhnyy

SelectFaction = $GRN
SelectRegion = $Pribrezhnyy
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Volga 2nd Insurrection
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 11th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 12th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 13th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 14th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 15th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 16th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 17th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 18th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 20th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Art1
  SUFlavorName = Volga Peasants Bty
  SetName = Volga Peasants Bty
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 3rd Insurgents Supply
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 4th Insurgents Supply
  Apply

SelectRegion = $Sengiley
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Sengiley
  ChangeLoyaltyFac = -75

SelectFaction = $GRN
SelectRegion = $Sengiley

SelectFaction = $GRN
SelectRegion = $Sengiley
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Volga 3rd Insurrection
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 15th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 16th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 17th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 18th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 19th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Volga Peasants|Volga Peasants
  SetName = 20th Volga Peasants Dcht
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 5th Insurgents Supply
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 6th Insurgents Supply
  Apply
  ChangeLoyaltyFac = $Theater_Volga;15

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Volga;-15

EndEvent

SelectFaction = $CMN

SelectFaction = $CMN
StartEvent = evt_nam_Renforts_GRN_KubanInsurrection|1|1|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1921/05/01
  MaxDate = 1923/12/30
  Probability = 10

SelectFaction = $GRN
SelectFaction = $GRN
  AddToRegList = $Temriuk;$Taman;$Akhtarsk;$Korenovsk
SelectFaction = $GRN
  PickFromRegList = NotEnemy
  GenMsg

Actions

SelectFaction = $GRN
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Insurrectionnal Kuban Army
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = Insurgents
  SetName = 1st Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = Insurgents
  SetName = 2nd Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = Insurgents
  SetName = 3rd  Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf3
  SUFlavorName = Insurgents
  SetName = 4th Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf2
  SUFlavorName = Insurgents
  SetName = 5th Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Inf2
  SUFlavorName = Insurgents
  SetName = 6th Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Cav2
  SUFlavorName = Insurgents
  SetName = 7th Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Cav2
  SUFlavorName = Insurgents
  SetName = 8th Insurrectionnal Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Peasants|Peasants
  SetName = 1st Peasant Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Peasants|Peasants
  SetName = 2nd Peasant Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Mil
  SUFlavorName = Peasants|Peasants
  SetName = 3rd Peasant Detachment
  Apply
  CreateUnit
  SetType = $uni_GRN_Art1
  SUFlavorName = Insurgents Bty
  SetName = Insurrectionnal Battery
  Apply
  CreateUnit
  SetType = $uni_GRN_MG1
  SUFlavorName = Tachankas
  SetName = Tachankas
  Apply
  CreateUnit
  SetType = $uni_GRN_Par1
  SUFlavorName = Partisans|Partisans
  SetName = Partisans
  Apply
  CreateUnit
  SetType = $uni_GRN_Par1
  SUFlavorName = Partisans|Partisans
  SetName = Partisans
  Apply
  CreateUnit
  SetType = $uni_GRN_Par1
  SUFlavorName = Partisans|Partisans
  SetName = Partisans
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co|4th Co.
  SetName = 1st Insurgents Supply
  Apply
  CreateUnit
  SetType = $uni_GRN_Sup
  SUFlavorName = 1st Co.|2nd Co.|3rd Co|4th Co.
  SetName = 2nd Insurgents Supply
  Apply
  ChangeLoyaltyFac = $Area_Kuban;15

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Kuban;-5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Kuban;-5

SelectFaction = $WHI
  ChangeLoyaltyFac = $Area_Kuban;-5

EndEvent
  NULL = NULL

SelectFaction = $CMN
SelectRegion = $Germany

SelectFaction = $CMN
SelectRegion = $Germany
StartEvent = evt_nam_CMN_ForcePoolsAdded|1|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/02/01

Actions
  NULL = NULL

SelectFaction = $RED
  ChangeUnitPool = $uni_RED_Div2;10
  ChangeUnitPool = $uni_RED_Div12;40
  ChangeUnitPool = $uni_RED_Div13;6
  ChangeUnitPool = $uni_RED_Div14;4
  ChangeUnitPool = $uni_RED_Div15;6
  ChangeUnitPool = $uni_RED_Div16;6
  ChangeUnitPool = $uni_RED_Div17;18
  ChangeUnitPool = $uni_RED_Div18;12
  ChangeUnitPool = $uni_RED_Div19;6
  ChangeUnitPool = $uni_RED_Div20;6
  ChangeUnitPool = $uni_RED_Div21;6
  ChangeUnitPool = $uni_RED_Div34;6
  ChangeUnitPool = $uni_RED_Div35;6
  ChangeUnitPool = $uni_RED_Div36;4
  ChangeUnitPool = $uni_RED_Div37;6
  ChangeUnitPool = $uni_RED_Div38;6
  ChangeUnitPool = $uni_RED_Div39;4
  ChangeUnitPool = $uni_RED_Div40;6
  ChangeUnitPool = $uni_RED_Div41;6
  ChangeUnitPool = $uni_RED_Div42;5
  ChangeUnitPool = $uni_RED_Div43;20
  ChangeUnitPool = $uni_RED_Div44;6
  ChangeUnitPool = $uni_RED_Div45;4
  ChangeUnitPool = $uni_RED_Cav9;10
  ChangeUnitPool = $uni_RED_Cav10;5
  ChangeUnitPool = $uni_RED_Cav11;3
  ChangeUnitPool = $uni_RED_Cav12;4
  ChangeUnitPool = $uni_RED_Cav13;3
  ChangeUnitPool = $uni_RED_Cav17;2
  ChangeUnitPool = $uni_RED_Cav18;10
  ChangeUnitPool = $uni_RED_Cav19;3
  ChangeUnitPool = $uni_RED_Cav20;3
  ChangeUnitPool = $uni_RED_Mar;4
  ChangeUnitPool = $uni_RED_Sai;8
  ChangeUnitPool = $uni_RED_Art0;25
  ChangeUnitPool = $uni_RED_Art1;30
  ChangeUnitPool = $uni_RED_Art2;30
  ChangeUnitPool = $uni_RED_Art3;20
  ChangeUnitPool = $uni_RED_Art4;15
  ChangeUnitPool = $uni_RED_Art5;5
  ChangeUnitPool = $uni_RED_Art6;25
  ChangeUnitPool = $uni_RED_Sie;5
  ChangeUnitPool = $uni_RED_MG1;30
  ChangeUnitPool = $uni_RED_Trs;10
  ChangeUnitPool = $uni_RED_Med;10
  ChangeUnitPool = $uni_RED_Eng;10
  ChangeUnitPool = $uni_RED_RREng;10
  ChangeUnitPool = $uni_RED_Pol;30
  ChangeUnitPool = $uni_RED_Amc1;20
  ChangeUnitPool = $uni_RED_Tnk1;15
  ChangeUnitPool = $uni_RED_Tnk2;15
  ChangeUnitPool = $uni_RED_Amt1;37
  ChangeUnitPool = $uni_RED_Amt2;30
  ChangeUnitPool = $uni_RED_Sup1;80
  ChangeUnitPool = $uni_RED_Tru1;10
  ChangeUnitPool = $uni_RED_Bal1;10
  ChangeUnitPool = $uni_RED_Bas1;20
  ChangeUnitPool = $uni_RED_Bas2;10
  ChangeUnitPool = $uni_RED_FDD;10
  ChangeUnitPool = $uni_RED_GB1;25
  ChangeUnitPool = $uni_RED_TR1;5
  ChangeUnitPool = $uni_RED_RT1;30
  ChangeUnitPool = $uni_RED_RT2;20
  ChangeUnitPool = $uni_RED_Gar2;0
  ChangeUnitPool = $uni_RED_Gar3;55
  ChangeUnitPool = $uni_RED_Bty;35
  ChangeUnitPool = $uni_RED_Coa;10
  ChangeUnitPool = $uni_RED_Mil3;100
  ChangeUnitPool = $uni_RED_Tck;40
  ChangeUnitPool = $uni_RED_VOKhR1;20
  ChangeUnitPool = $uni_RED_VOKhR2;20
  ChangeUnitPool = $uni_RED_Cka;30
  NULL = NULL
  NULL = NULL

SelectFaction = $GER
  ChangeUnitPool = $uni_GER_Div0;2
  ChangeUnitPool = $uni_GER_Div1;30
  ChangeUnitPool = $uni_GER_Div2;21
  ChangeUnitPool = $uni_GER_Div3;20
  ChangeUnitPool = $uni_GER_Div4;38
  ChangeUnitPool = $uni_GER_Div5;10
  ChangeUnitPool = $uni_GER_DivMon;3
  ChangeUnitPool = $uni_GER_Bde2;35
  ChangeUnitPool = $uni_GER_Bde4;10
  ChangeUnitPool = $uni_GER_Bde5;45
  ChangeUnitPool = $uni_GER_Bde6;12
  ChangeUnitPool = $uni_GER_Bde7;5
  ChangeUnitPool = $uni_GER_Bde8;5
  ChangeUnitPool = $uni_GER_Bde9;10
  ChangeUnitPool = $uni_GER_Bde10;10
  ChangeUnitPool = $uni_GER_Rgt0;0
  ChangeUnitPool = $uni_GER_Rgt1;0
  ChangeUnitPool = $uni_GER_Rgt2;15
  ChangeUnitPool = $uni_GER_Cav2;36
  ChangeUnitPool = $uni_GER_Cav3;3
  ChangeUnitPool = $uni_GER_Cav4;10
  ChangeUnitPool = $uni_GER_Cyc;25
  ChangeUnitPool = $uni_GER_FdG;25
  ChangeUnitPool = $uni_GER_Art0;12
  ChangeUnitPool = $uni_GER_Art1;20
  ChangeUnitPool = $uni_GER_Art2;20
  ChangeUnitPool = $uni_GER_Art3;25
  ChangeUnitPool = $uni_GER_Art4;20
  ChangeUnitPool = $uni_GER_Art5;45
  ChangeUnitPool = $uni_GER_Art6;25
  ChangeUnitPool = $uni_GER_Art7;6
  ChangeUnitPool = $uni_GER_Art8;3
  ChangeUnitPool = $uni_GER_Art9;10
  ChangeUnitPool = $uni_GER_Sie;6
  ChangeUnitPool = $uni_GER_RRg;5
  ChangeUnitPool = $uni_GER_Coa;10
  ChangeUnitPool = $uni_GER_Bty0;20
  ChangeUnitPool = $uni_GER_Gar2;0
  ChangeUnitPool = $uni_GER_Gar3;20
  ChangeUnitPool = $uni_GER_Eng;30
  ChangeUnitPool = $uni_GER_RREng;10
  ChangeUnitPool = $uni_GER_Pio;15
  ChangeUnitPool = $uni_GER_Hq1;4
  ChangeUnitPool = $uni_GER_Sig;35
  ChangeUnitPool = $uni_GER_Adv;10
  ChangeUnitPool = $uni_GER_Med;36
  ChangeUnitPool = $uni_GER_Sup1;40
  ChangeUnitPool = $uni_GER_Tru;65
  ChangeUnitPool = $uni_GER_Bal1;30
  ChangeUnitPool = $uni_GER_Bas1;20
  ChangeUnitPool = $uni_GER_Bas2;10
  ChangeUnitPool = $uni_GER_Bas3;5
  ChangeUnitPool = $uni_GER_Tnk1;5
  ChangeUnitPool = $uni_GER_Tnk2;25
  ChangeUnitPool = $uni_GER_Amc1;36
  ChangeUnitPool = $uni_GER_Amt1;5
  ChangeUnitPool = $uni_GER_Amt2;5
  ChangeUnitPool = $uni_GER_CL1;10
  ChangeUnitPool = $uni_GER_DD1;20
  ChangeUnitPool = $uni_GER_GB1;20
  ChangeUnitPool = $uni_GER_TR1;20
  ChangeUnitPool = $uni_GER_RT1;10
  ChangeUnitPool = $uni_GER_Div6;12
  ChangeUnitPool = $uni_GER_Div7;10
  ChangeUnitPool = $uni_GER_Mil3;20
  ChangeUnitPool = $uni_GER_Pol1;5
  NULL = NULL
  ChangeUnitPool = $uni_AUS_Div0;2
  ChangeUnitPool = $uni_AUS_Div1;6
  ChangeUnitPool = $uni_AUS_Div2;7
  ChangeUnitPool = $uni_AUS_Div3;10
  ChangeUnitPool = $uni_AUS_Div4;5
  ChangeUnitPool = $uni_AUS_Div5;2
  ChangeUnitPool = $uni_AUS_DivMon;5
  ChangeUnitPool = $uni_AUS_Bde2;10
  ChangeUnitPool = $uni_AUS_Bde5;20
  ChangeUnitPool = $uni_AUS_Bde6;5
  ChangeUnitPool = $uni_AUS_Bde7;5
  ChangeUnitPool = $uni_AUS_Bde8;5
  ChangeUnitPool = $uni_AUS_Bde10;5
  ChangeUnitPool = $uni_AUS_Rgt0;5
  ChangeUnitPool = $uni_AUS_Cav2;10
  ChangeUnitPool = $uni_AUS_Cav3;5
  ChangeUnitPool = $uni_AUS_Cyc;10
  ChangeUnitPool = $uni_AUS_Art0;10
  ChangeUnitPool = $uni_AUS_Art1;10
  ChangeUnitPool = $uni_AUS_Art2;10
  ChangeUnitPool = $uni_AUS_Art3;10
  ChangeUnitPool = $uni_AUS_Art4;10
  ChangeUnitPool = $uni_AUS_Art5;20
  ChangeUnitPool = $uni_AUS_Art6;10
  ChangeUnitPool = $uni_AUS_Art7;5
  ChangeUnitPool = $uni_AUS_Art8;5
  ChangeUnitPool = $uni_AUS_Sie;3
  ChangeUnitPool = $uni_AUS_Bty0;10
  ChangeUnitPool = $uni_AUS_Gar2;0
  ChangeUnitPool = $uni_AUS_Gar3;10
  ChangeUnitPool = $uni_AUS_Eng;10
  ChangeUnitPool = $uni_AUS_RREng;5
  ChangeUnitPool = $uni_AUS_Pio;3
  ChangeUnitPool = $uni_AUS_Hq1;3
  ChangeUnitPool = $uni_AUS_Sig;20
  ChangeUnitPool = $uni_AUS_Adv;3
  ChangeUnitPool = $uni_AUS_Med;20
  ChangeUnitPool = $uni_AUS_Sup1;25
  ChangeUnitPool = $uni_AUS_Tru;25
  ChangeUnitPool = $uni_AUS_Bal1;10
  ChangeUnitPool = $uni_AUS_Bas1;10
  ChangeUnitPool = $uni_AUS_Bas2;5
  ChangeUnitPool = $uni_AUS_Tnk1;3
  ChangeUnitPool = $uni_AUS_Tnk2;10
  ChangeUnitPool = $uni_AUS_Amc1;15
  ChangeUnitPool = $uni_AUS_Amt1;5
  ChangeUnitPool = $uni_AUS_Amt2;5
  ChangeUnitPool = $uni_AUS_Div6;5
  ChangeUnitPool = $uni_AUS_Mil3;15
  ChangeUnitPool = $uni_BAY_Div1;10
  ChangeUnitPool = $uni_BAY_Div4;4
  ChangeUnitPool = $uni_BAY_DivMon;2
  ChangeUnitPool = $uni_BAY_Cav4;1
  ChangeUnitPool = $uni_HUN_Div1;5
  ChangeUnitPool = $uni_HUN_Div2;5
  ChangeUnitPool = $uni_HUN_Div3;10
  ChangeUnitPool = $uni_HUN_Div4;10
  ChangeUnitPool = $uni_HUN_Bde2;10
  ChangeUnitPool = $uni_HUN_Bde5;20
  ChangeUnitPool = $uni_HUN_Bde6;2
  ChangeUnitPool = $uni_HUN_Bde8;5
  ChangeUnitPool = $uni_HUN_Bde10;10
  ChangeUnitPool = $uni_HUN_Rgt0;10
  ChangeUnitPool = $uni_HUN_Cav2;10
  ChangeUnitPool = $uni_HUN_Cav3;5
  ChangeUnitPool = $uni_HUN_Gar3;10
  NULL = NULL
  ChangeUnitPool = $uni_TUR_Div1;7
  ChangeUnitPool = $uni_TUR_Div2;1
  ChangeUnitPool = $uni_TUR_Div3;2
  ChangeUnitPool = $uni_TUR_Bde0;5
  ChangeUnitPool = $uni_TUR_Cav1;5
  ChangeUnitPool = $uni_TUR_Art3;1
  ChangeUnitPool = $uni_TUR_Art4;1
  ChangeUnitPool = $uni_TUR_Art5;1
  ChangeUnitPool = $uni_TUR_Art8;1
  ChangeUnitPool = $uni_TUR_Coa;2
  ChangeUnitPool = $uni_TUR_Bty0;5
  ChangeUnitPool = $uni_TUR_Gar2;0
  ChangeUnitPool = $uni_TUR_Gar3;2
  ChangeUnitPool = $uni_TUR_Eng;1
  ChangeUnitPool = $uni_TUR_Hq1;1
  ChangeUnitPool = $uni_TUR_Sig;1
  ChangeUnitPool = $uni_TUR_Med;1
  ChangeUnitPool = $uni_TUR_Sup1;10
  ChangeUnitPool = $uni_TUR_Tru;3
  ChangeUnitPool = $uni_TUR_Bal1;1
  ChangeUnitPool = $uni_TUR_Bas1;1
  ChangeUnitPool = $uni_TUR_Bas2;1
  ChangeUnitPool = $uni_TUR_Tnk1;1
  ChangeUnitPool = $uni_TUR_Tnk2;1
  ChangeUnitPool = $uni_TUR_Amc1;1
  ChangeUnitPool = $uni_TUR_GB1;1
  ChangeUnitPool = $uni_TUR_TR1;1
  NULL = NULL
  ChangeUnitPool = $uni_UKR_Div0;1
  ChangeUnitPool = $uni_UKR_Div1;15
  ChangeUnitPool = $uni_UKR_Div2;10
  ChangeUnitPool = $uni_UKR_Bde0;10
  ChangeUnitPool = $uni_UKR_Rgt1;20
  ChangeUnitPool = $uni_UKR_Bde1;10
  ChangeUnitPool = $uni_UKR_Bde2;10
  ChangeUnitPool = $uni_UKR_Art1;10
  ChangeUnitPool = $uni_UKR_Art2;10
  ChangeUnitPool = $uni_UKR_Amt1;5
  ChangeUnitPool = $uni_UKR_Amc1;1
  ChangeUnitPool = $uni_UKR_Sup;20
  ChangeUnitPool = $uni_UKR_GB1;5
  ChangeUnitPool = $uni_UKR_TR1;1
  ChangeUnitPool = $uni_UKR_RT1;3
  ChangeUnitPool = $uni_UKR_RT2;5
  ChangeUnitPool = $uni_UKR_Mil;40
  NULL = NULL
  ChangeUnitPool = $uni_DON_Bde0;3
  ChangeUnitPool = $uni_DON_Rgt0;5
  ChangeUnitPool = $uni_DON_Rgt1;5
  ChangeUnitPool = $uni_DON_Art0;3
  ChangeUnitPool = $uni_DON_Art1;5
  ChangeUnitPool = $uni_DON_Art2;6
  ChangeUnitPool = $uni_DON_Eng;2
  ChangeUnitPool = $uni_DON_MG1;5
  ChangeUnitPool = $uni_DON_Amt1;6
  ChangeUnitPool = $uni_DON_Amt2;4
  ChangeUnitPool = $uni_DON_Amc1;2
  ChangeUnitPool = $uni_DON_Bas1;1
  ChangeUnitPool = $uni_DON_Sup1;5
  ChangeUnitPool = $uni_DON_GB1;2
  ChangeUnitPool = $uni_DON_Mil;10
  NULL = NULL
  NULL = NULL

SelectFaction = $WHI
  ChangeUnitPool = $uni_WHI_Div0;2
  ChangeUnitPool = $uni_WHI_Bde2;5
  ChangeUnitPool = $uni_WHI_Rgt4;10
  ChangeUnitPool = $uni_WHI_Rgt3;10
  ChangeUnitPool = $uni_WHI_Rgt5;5
  ChangeUnitPool = $uni_WHI_Cav4;2
  ChangeUnitPool = $uni_WHI_Cav10;5
  ChangeUnitPool = $uni_WHI_Cav2;5
  ChangeUnitPool = $uni_WHI_Art0;5
  ChangeUnitPool = $uni_WHI_Art1;5
  ChangeUnitPool = $uni_WHI_Art2;3
  ChangeUnitPool = $uni_WHI_Art3;2
  ChangeUnitPool = $uni_WHI_Art4;2
  ChangeUnitPool = $uni_WHI_Art6;1
  ChangeUnitPool = $uni_WHI_Sie;0
  ChangeUnitPool = $uni_WHI_MG1;10
  ChangeUnitPool = $uni_WHI_Sig;3
  ChangeUnitPool = $uni_WHI_Eng;4
  ChangeUnitPool = $uni_WHI_RREng;2
  ChangeUnitPool = $uni_WHI_Med;3
  ChangeUnitPool = $uni_WHI_Amc1;8
  ChangeUnitPool = $uni_WHI_Tnk1;2
  ChangeUnitPool = $uni_WHI_Amt1;5
  ChangeUnitPool = $uni_WHI_Amt2;5
  ChangeUnitPool = $uni_WHI_Bas1;2
  ChangeUnitPool = $uni_WHI_Sup1;10
  ChangeUnitPool = $uni_WHI_FDD;2
  ChangeUnitPool = $uni_WHI_GB1;5
  ChangeUnitPool = $uni_WHI_TB1;3
  ChangeUnitPool = $uni_WHI_TR1;2
  ChangeUnitPool = $uni_WHI_RT1;2
  ChangeUnitPool = $uni_WHI_RT2;10
  ChangeUnitPool = $uni_WHI_Mil1;15
  NULL = NULL
  ChangeUnitPool = $uni_DON_Bde0;3
  ChangeUnitPool = $uni_DON_Rgt0;5
  ChangeUnitPool = $uni_DON_Rgt1;5
  ChangeUnitPool = $uni_DON_Art0;3
  ChangeUnitPool = $uni_DON_Art1;5
  ChangeUnitPool = $uni_DON_Art2;6
  ChangeUnitPool = $uni_DON_Eng;2
  ChangeUnitPool = $uni_DON_MG1;5
  ChangeUnitPool = $uni_DON_Amt1;6
  ChangeUnitPool = $uni_DON_Amt2;4
  ChangeUnitPool = $uni_DON_Amc1;2
  ChangeUnitPool = $uni_DON_Bas1;1
  ChangeUnitPool = $uni_DON_Sup1;10
  ChangeUnitPool = $uni_DON_GB1;2
  ChangeUnitPool = $uni_DON_Mil;3
  NULL = NULL

EndEvent
  NULL = NULL

SelectFaction = $CMN
SelectRegion = $Germany

SelectFaction = $CMN
SelectRegion = $Germany
StartEvent = evt_nam_CMN_ReplacementsAdded|1|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/02/01

Actions
  NULL = NULL

SelectFaction = $RED 
  Replacement = RED;$famLine;20
  Replacement = RED;$famMilitia;20
  Replacement = RED;$famLightInf;5
  Replacement = RED;$famCavalry;10
  Replacement = RED;$famLightArty;5
  Replacement = RED;$famMedArty;3
  Replacement = RED;$famHvyArty;1
  Replacement = RED;$famArmoredTrain;2
  Replacement = RED;$famService;3
  Replacement = RED;$famEngineer;2
  Replacement = RED;$famAirRecon;2
  Replacement = RED;$famAirFighter;3
  Replacement = RED;$famAirLevelBomber;1
  Replacement = RED;$famTransportShip;3
  NULL = NULL

SelectFaction = $GER
  Replacement = FIN;$famLine;2
  Replacement = FIN;$famMilitia;5
  Replacement = FIN;$famLightInf;1
  Replacement = FIN;$famCavalry;1
  Replacement = FIN;$famLightArty;1
  Replacement = FIN;$famMedArty;1
  Replacement = FIN;$famService;1
  Replacement = GER;$famElite;5
  Replacement = GER;$famLine;20
  Replacement = BAY;$famLine;5
  Replacement = POL;$famLine;2
  Replacement = GER;$famMilitia;20
  Replacement = BAY;$famMilitia;5
  Replacement = GER;$famLightInf;5
  Replacement = GER;$famCavalry;10
  Replacement = GER;$famLightArty;5
  Replacement = GER;$famMedArty;3
  Replacement = GER;$famHvyArty;3
  Replacement = GER;$famSHvyArty;3
  Replacement = GER;$famArmoredTrain;2
  Replacement = GER;$famService;3
  Replacement = GER;$famEngineer;2
  Replacement = GER;$famAirRecon;4
  Replacement = GER;$famAirFighter;5
  Replacement = GER;$famAirLevelBomber;4
  Replacement = GER;$famLightWarship;3
  Replacement = GER;$famLitCoastalShip;5
  Replacement = GER;$famTransportShip;10
  Replacement = AUS;$famLine;10
  Replacement = HUN;$famLine;10
  Replacement = AUS;$famMilitia;10
  Replacement = HUN;$famMilitia;10
  Replacement = AUS;$famLightInf;3
  Replacement = AUS;$famCavalry;3
  Replacement = AUS;$famLightArty;3
  Replacement = AUS;$famMedArty;1
  Replacement = AUS;$famHvyArty;1
  Replacement = AUS;$famSHvyArty;1
  Replacement = AUS;$famService;2
  Replacement = AUS;$famEngineer;1
  Replacement = AUS;$famAirRecon;2
  Replacement = AUS;$famAirFighter;3
  Replacement = AUS;$famAirLevelBomber;1
  Replacement = BAL;$famLine;2
  Replacement = BAL;$famMilitia;5
  Replacement = BAL;$famLightInf;1
  Replacement = BAL;$famCavalry;1
  Replacement = BAL;$famLightArty;1
  Replacement = BAL;$famMedArty;1
  Replacement = BAL;$famService;1
  Replacement = ROM;$famLine;2
  Replacement = ROM;$famMilitia;5
  Replacement = ROM;$famLightInf;1
  Replacement = ROM;$famCavalry;1
  Replacement = ROM;$famLightArty;1
  Replacement = TUR;$famLine;5
  Replacement = TUR;$famMilitia;10
  Replacement = TUR;$famLightInf;2
  Replacement = TUR;$famCavalry;3
  Replacement = TUR;$famLightArty;2
  Replacement = TUR;$famMedArty;1
  Replacement = TUR;$famService;1
  Replacement = UKR;$famLine;3
  Replacement = UKR;$famMilitia;15
  Replacement = UKR;$famLightInf;1
  Replacement = UKR;$famCavalry;5
  Replacement = UKR;$famLightArty;1
  Replacement = UKR;$famMedArty;1
  Replacement = UKR;$famService;1
  Replacement = CAU;$famLine;2
  Replacement = CAU;$famMilitia;5
  Replacement = CAU;$famLightInf;3
  Replacement = CAU;$famCavalry;1
  Replacement = CAU;$famLightArty;1
  Replacement = DON;$famLine;2
  Replacement = DON;$famMilitia;5
  Replacement = DON;$famLightInf;1
  Replacement = DON;$famCavalry;3
  Replacement = DON;$famLightArty;1
  NULL = NULL

SelectFaction = $WHI
  Replacement = WHI;$famLine;3
  Replacement = WHI;$famMilitia;10
  Replacement = WHI;$famLightInf;2
  Replacement = WHI;$famCavalry;5
  Replacement = WHI;$famLightArty;1
  Replacement = DON;$famLine;2
  Replacement = DON;$famMilitia;5
  Replacement = DON;$famLightInf;1
  Replacement = DON;$famCavalry;3
  Replacement = DON;$famLightArty;1

SelectFaction = $GRN
  Replacement = GRN;$famMilitia;3

SelectFaction = $ANA
  Replacement = ANA;$famLine;2
  NULL = NULL

EndEvent
  NULL = NULL

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReq|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdRequisitions;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReforms|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdReforms;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRReqreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalMoney = <=;150;
  EvalWSU = <=;100;

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReq;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIConscriptsreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalConscript = <=;125;

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActConscripts;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReq|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActConscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdConscriptions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIReformreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReform;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReform|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 2;6;10;14;18;22

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReform;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdReforms

Actions
  AddRgnDecisionAct = $rgdReforms;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIReg3|999|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 0;8

CheckAILevel = 1
  AddToRegList = $Sevastopol;$Ekaterinodar;$Novocherkassk ;$Grozny;$Tzaritsyn
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL

Actions

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Regiment
  Apply
  CreateUnit
  SetType = $uni_WHI_Rgt4
  SetName = White Rgt
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_PoolAdjust|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  AI.SetPoolRatio = $famElite;25
  AI.SetPoolRatio = $famLine;100
  AI.SetPoolRatio = $famLightInf;25
  AI.SetPoolRatio = $famSkirmisher;25
  AI.SetPoolRatio = $famRaider;10
  AI.SetPoolRatio = $famMilitia;5
  AI.SetPoolRatio = $famCavalry;50
  AI.SetPoolRatio = $famHvyCavalry;25
  AI.SetPoolRatio = $famLtVehicle;75
  AI.SetPoolRatio = $famMedVehicle;50
  AI.SetPoolRatio = $famHvyVehicle;50
  AI.SetPoolRatio = $famSHvyVehicle;50
  AI.SetPoolRatio = $famLightArty;50
  AI.SetPoolRatio = $famMedArty;50
  AI.SetPoolRatio = $famHvyArty;50
  AI.SetPoolRatio = $famSHvyArty;50
  AI.SetPoolRatio = $famArmoredTrain;25
  AI.SetPoolRatio = $famSupply;75
  AI.SetPoolRatio = $famGood;0
  AI.SetPoolRatio = $famService;5
  AI.SetPoolRatio = $famEngineer;10
  AI.SetPoolRatio = $famNavalEngineer;5
  AI.SetPoolRatio = $famHvyWarship;1
  AI.SetPoolRatio = $famHeavyWarship;1
  AI.SetPoolRatio = $famLightWarship;1
  AI.SetPoolRatio = $famLtWarship;1
  AI.SetPoolRatio = $famRaiderShip;5
  AI.SetPoolRatio = $famTransportShip;5
  AI.SetPoolRatio = $famHvyCoastalShip;5
  AI.SetPoolRatio = $famLitCoastalShip;5
  AI.SetPoolRatio = $famCarrierShip;1
  AI.SetPoolRatio = $famSubmarine;10
  AI.SetPoolRatio = $famSubTransport;1
  AI.SetPoolRatio = $famAirRecon;10
  AI.SetPoolRatio = $famAirFighter;10
  AI.SetPoolRatio = $famAirNavBomber;5
  AI.SetPoolRatio = $famAirLevelBomber;10
  AI.SetPoolRatio = $famAirStratBomber;5
  AI.SetPoolRatio = $famAirTransport;5
  AI.SetPoolRatio = $famCoastalShip;5

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Riga

SelectFaction = $GER
SelectRegion = $Riga
StartEvent = evt_nam_GER_BalticJoin_Generate|1|0|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;1

Actions

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Helsinki
StartEvent = evt_nam_GER_FinlandJoin_Generate|1|0|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;1

Actions

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Bucuresti
StartEvent = evt_nam_GER_RumaniaJoin_Generate|1|0|NULL|NULL|$Bucuresti|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;1

Actions

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Tiflis
StartEvent = evt_nam_GER_CaucasusJoin_Generate|1|0|NULL|NULL|$Tiflis|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;1

Actions

EndEvent
