  NULL

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf0
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf8;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf5
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining3|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining4|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf12
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf7;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining5|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf18
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf3;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav4
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav3;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining3|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav9
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav2;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil5
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining3|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil7
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining4|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil8
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining5|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil9
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining6|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil10
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $WH3

SelectFaction = $WH3
StartEvent = evt_nam_WH3InfantryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WH3_Inf4
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WH3_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WH3
StartEvent = evt_nam_WH3InfantryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WH3_Inf5
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WH3_Inf3;ChgPtsCohesion 5

EndEvent

SelectFaction = $WH3
StartEvent = evt_nam_WH3CavalryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WH3_Cav7
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WH3_Cav1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WH3
StartEvent = evt_nam_WH3ICavalryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WH3_Cav8
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WH3_Cav2;ChgPtsCohesion 5

EndEvent

SelectFaction = $WH3
StartEvent = evt_nam_WH3MilitiaTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WH3_Mil1
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WH3_Inf4;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_REDAIRedGuardTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Mil1 $mdl_RED_Mil2 $mdl_RED_Mil3
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIRedGuardTraining5|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Mil4 $mdl_RED_Mil5 $mdl_RED_Mil6
  AlterCuSubUnit  =  ApplyToList;probability 8;Model $mdl_RED_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf5
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf6
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf2;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryTraining3|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf7
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf3;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryTraining4|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf7
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf4;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryTraining4|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf7
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf8;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAIInfrantryElite|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Inf0 $mdl_RED_Inf1 $mdl_RED_Inf2 $mdl_RED_Inf3 $mdl_RED_Inf4 $mdl_RED_Inf8
  AlterCuSubUnit  = ApplyToList;probability 8;Model $mdl_RED_Inf9;ChgPtsCohesion 5;Attempts 10

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAICavalryTraining|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Cav3
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_RED_Cav1;ChgPtsCohesion 5

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_REDAICavalryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  MinDate = 1918/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_RED_Cav6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_RED_Cav2;ChgPtsCohesion 5

EndEvent
