  NULL

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern7|999|0|NULL|NULL|NULL|NULL
  Probability = 12
  CheckIsPlayer = 1
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern8Ekaterinodarend|1|0|NULL|NULL|NULL|NULL

Conditions

EvalRgnOwned = $Ekaterinodar

EvalRgnOwned = $Novorossiysk
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions

  ChgEvtOccurs = evt_nam_WHI_aggro1Southern8Ekaterinodar;CuOccurs;-999;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Southern8Ekaterinodar|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 25
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Southern;140

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Western7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Western;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Siberia7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Siberia;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ukraine7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 12
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ukraine;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Belarus7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Belarus;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Finland7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Finland;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Northern7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Northern;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Russia7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Russia;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Volga7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Volga;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Ural7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Ural;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Central_Asia7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Central_Asia;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 15
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;100
  AI.SetAggro = $Theater_Eastern;100

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East3|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;80
  AI.SetAggro = $Theater_Eastern;80

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East4|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;70
  AI.SetAggro = $Theater_Eastern;70

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East2|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;90
  AI.SetAggro = $Theater_Eastern;90

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East5|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 5
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;60
  AI.SetAggro = $Theater_Eastern;60

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East6|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 10
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;110
  AI.SetAggro = $Theater_Eastern;110

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_aggro1Far_East7|999|0|NULL|NULL|NULL|NULL

Conditions
  Probability = 8
  CheckIsPlayer = NOT
  MinDate = 1917/10/01 

Actions
  AI.SetAggro = $Theater_Asia;120
  AI.SetAggro = $Theater_Eastern;120

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_WHI|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  TurnIndex = 20

Actions
  AI.SetAggro  = $Theater_Southern;15;$Theater_Western;5;$Theater_Siberia;5;$Theater_Ukraine;15;$Theater_Belarus;5;$Theater_Finland;5;$Theater_Northern;5;$Theater_Central_Russia;15;$Theater_Volga;15;$Theater_Ural;15;$Theater_Central_Asia;5;$Theater_Eastern;5;$Theater_Asia;5;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_B|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 50

Actions
  AI.ChgAggro  = $Theater_Southern;5;$Theater_Western;5;$Theater_Siberia;5;$Theater_Ukraine;5;$Theater_Belarus;5;$Theater_Finland;10;$Theater_Northern;15;$Theater_Central_Russia;15;$Theater_Volga;5;$Theater_Ural;5;$Theater_Central_Asia;5;$Theater_Eastern;5;$Theater_Asia;5;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive1|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Southern;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive2|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Western;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive3|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Siberia;50;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive4|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Ukraine;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive5|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Belarus;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive6|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Finland;50;$Theater_Northern;50;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive7|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Central_Russia;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive8|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = ;$Theater_Volga;50

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive9|2|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  Probability = 4

Actions
  AI.ChgAggro  = $Theater_Ural;50;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive1end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive1;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Southern;-50

  ChgEvtOccurs = evt_nam_Winter_offensive1;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive2end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive2;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Western;-50

  ChgEvtOccurs = evt_nam_Winter_offensive2;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive3end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive3;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Siberia;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive3;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive4end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive4;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Ukraine;-50

  ChgEvtOccurs = evt_nam_Winter_offensive4;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive5end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive5;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Belarus;-50

  ChgEvtOccurs = evt_nam_Winter_offensive5;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive6end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive6;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Finland;-50;$Theater_Northern;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive6;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive7end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive7;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Central_Russia;-50

  ChgEvtOccurs = evt_nam_Winter_offensive7;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive8end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive8;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = ;$Theater_Volga;-50

  ChgEvtOccurs = evt_nam_Winter_offensive8;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive9end|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive9;=;1;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Ural;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive9;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive1end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive1;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Southern;-50

  ChgEvtOccurs = evt_nam_Winter_offensive1;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive2end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive2;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Western;-50

  ChgEvtOccurs = evt_nam_Winter_offensive2;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive3end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive3;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Siberia;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive3;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive4end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive4;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Ukraine;-50

  ChgEvtOccurs = evt_nam_Winter_offensive4;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive5end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive5;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Belarus;-50

  ChgEvtOccurs = evt_nam_Winter_offensive5;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive6end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive6;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Finland;-50;$Theater_Northern;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive6;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive7end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive7;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Central_Russia;-50

  ChgEvtOccurs = evt_nam_Winter_offensive7;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive8end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive8;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = ;$Theater_Volga;-50

  ChgEvtOccurs = evt_nam_Winter_offensive8;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Winter_offensive9end2|999|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_Winter_offensive9;=;2;
  CheckIsPlayer = NOT
  Probability = 10

Actions
  AI.ChgAggro  = $Theater_Ural;-50;

  ChgEvtOccurs = evt_nam_Winter_offensive9;CuOccurs;-1;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Spring|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT

Actions
  AI.SetAggro  = $Theater_Southern;100;$Theater_Western;100;$Theater_Siberia;100;$Theater_Ukraine;100;$Theater_Belarus;100;$Theater_Finland;100;$Theater_Northern;100;$Theater_Central_Russia;100;$Theater_Volga;100;$Theater_Ural;100;$Theater_Central_Asia;100;$Theater_Eastern;100;$Theater_Asia;100;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIchgRGDWHI|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/07
  MaxDate = 1923/01/01

Actions
  ChgRgnDecisionFP = $rgdReforms;2;
  ChgRgnDecisionFP = $rgdRequisitions;2;
  ChgRgnDecisionFP = $rgdConscriptions;2;

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReq|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  EvalRgnDecisionDef = $rgdRequisitions;>=;1;
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReform|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  EvalRgnDecisionDef = $rgdReforms;>=;1;
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRReqreset|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  EvalMoney = <=;150;
  EvalWSU = <=;100;
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReq;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDWHIRActReqconquest;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIConscriptsreset|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  EvalConscript = <=;125;
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActConscripts;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDWHIRActConscriptsconquest;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReq|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActConscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdConscriptions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReqconquest|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/11/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  EvalEvent = evt_nam_RGDWHIRActReq;=;0;
  Probability = 97
  AddToRegListFromAreas = $Area_Kiew;$Area_Podolsk;$Area_Kherson ;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Kursk;$Area_Voronezh;$Area_Saratov;$Area_Ekaterinoslav;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActConscriptsconquest|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/11/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIconscripts;>=;1;
  EvalEvent = evt_nam_RGDWHIRActConscripts;=;0;
  Probability = 97
  AddToRegListFromAreas = $Area_Kiew;$Area_Podolsk;$Area_Kherson ;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Kursk;$Area_Voronezh;$Area_Saratov;$Area_Ekaterinoslav;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIReformreset|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/01
  MaxDate = 1923/01/01

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReform;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDWHIRActReformconquest;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReform|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIReform;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdReforms

Actions
  AddRgnDecisionAct = $rgdReforms;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReformconquest|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/11/01
  MaxDate = 1923/01/01
  EvalEvent = evt_nam_allowingRGDWHIReform;>=;1;
  EvalEvent = evt_nam_RGDWHIRActReform;=;0;
  Probability = 70
  AddToRegListFromAreas = $Area_Kiew;$Area_Podolsk;$Area_Kherson ;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Kursk;$Area_Voronezh;$Area_Saratov;$Area_Ekaterinoslav;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdReforms

Actions
  AddRgnDecisionAct = $rgdReforms;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIReg|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/06/01
  MaxDate = 1919/05/01
  EvalMoney = >=;4
  EvalConscript = >=;7
  AddToRegList = $Sevastopol;$Ekaterinodar;$Novocherkassk ;$Grozny;$Tzaritsyn
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL

Actions
  ChangeMoneyPool = -4
  ChangeConscriptPool = -7

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Regiment
  Apply
  CreateUnit
  SetType = $uni_WHI_Rgt4
  SetName = White Rgt
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIReg2|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/05/16
  MaxDate = 1920/02/01
  EvalMoney = >=;4
  EvalConscript = >=;7
  AddToRegList = $Sevastopol;$Ekaterinodar;$Novocherkassk ;$Grozny;$Tzaritsyn
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL

Actions
  ChangeMoneyPool = -4
  ChangeConscriptPool = -7

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Regiment
  Apply
  CreateUnit
  SetType = $uni_WHI_Rgt4
  SetName = White Rgt
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIReg3|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1920/02/16
  MaxDate = 1923/09/01
  EvalMoney = >=;4
  EvalConscript = >=;7
  AddToRegList = $Sevastopol;$Ekaterinodar;$Novocherkassk ;$Grozny;$Tzaritsyn
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL

Actions
  ChangeMoneyPool = -4
  ChangeConscriptPool = -7

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Regiment
  Apply
  CreateUnit
  SetType = $uni_WHI_Rgt4
  SetName = White Rgt
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHI_PoolAdjust|1|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT

Actions
  AI.SetPoolRatio = $famElite;25
  AI.SetPoolRatio = $famLine;100
  AI.SetPoolRatio = $famLightInf;25
  AI.SetPoolRatio = $famSkirmisher;25
  AI.SetPoolRatio = $famRaider;10
  AI.SetPoolRatio = $famMilitia;5
  AI.SetPoolRatio = $famCavalry;50
  AI.SetPoolRatio = $famHvyCavalry;25
  AI.SetPoolRatio = $famLtVehicle;75
  AI.SetPoolRatio = $famMedVehicle;50
  AI.SetPoolRatio = $famHvyVehicle;50
  AI.SetPoolRatio = $famSHvyVehicle;50
  AI.SetPoolRatio = $famLightArty;50
  AI.SetPoolRatio = $famMedArty;50
  AI.SetPoolRatio = $famHvyArty;50
  AI.SetPoolRatio = $famSHvyArty;50
  AI.SetPoolRatio = $famArmoredTrain;25
  AI.SetPoolRatio = $famSupply;75
  AI.SetPoolRatio = $famGood;0
  AI.SetPoolRatio = $famService;5
  AI.SetPoolRatio = $famEngineer;10
  AI.SetPoolRatio = $famNavalEngineer;5
  AI.SetPoolRatio = $famHvyWarship;1
  AI.SetPoolRatio = $famHeavyWarship;1
  AI.SetPoolRatio = $famLightWarship;1
  AI.SetPoolRatio = $famLtWarship;1
  AI.SetPoolRatio = $famRaiderShip;5
  AI.SetPoolRatio = $famTransportShip;5
  AI.SetPoolRatio = $famHvyCoastalShip;5
  AI.SetPoolRatio = $famLitCoastalShip;5
  AI.SetPoolRatio = $famCarrierShip;1
  AI.SetPoolRatio = $famSubmarine;10
  AI.SetPoolRatio = $famSubTransport;1
  AI.SetPoolRatio = $famAirRecon;10
  AI.SetPoolRatio = $famAirFighter;10
  AI.SetPoolRatio = $famAirNavBomber;5
  AI.SetPoolRatio = $famAirLevelBomber;10
  AI.SetPoolRatio = $famAirStratBomber;5
  AI.SetPoolRatio = $famAirTransport;5
  AI.SetPoolRatio = $famCoastalShip;5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSimbirsk|999|0|Line|NULL|NULL|$Simbirsk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Simbirsk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Simbirsk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Simbirsk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Simbirsk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSamara|999|0|Line|NULL|NULL|$Samara

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Samara
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Samara
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Samara Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Samara White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonOrenburg|999|0|Line|NULL|NULL|$Orenburg

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Orenburg
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Orenburg
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Orenburg Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Orenburg White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSyzran|999|0|Line|NULL|NULL|$Syzran

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Syzran
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Syzran
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Syzran Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Syzran White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSaratov|999|0|Line|NULL|NULL|$Saratov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Saratov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Saratov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Saratov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Saratov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonTzaritsyn|999|0|Line|NULL|NULL|$Tzaritsyn

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/07/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Tzaritsyn
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Tzaritsyn
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Tzaritsyn Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Tzaritsyn White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonEkaterinodar|999|0|Line|NULL|NULL|$Ekaterinodar

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/07/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Ekaterinodar
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Ekaterinodar
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Ekaterinodar Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Ekaterinodar White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonGrozny|999|0|Line|NULL|NULL|$Grozny

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/07/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Grozny
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Grozny
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Grozny Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Grozny White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonRostov|999|0|Line|NULL|NULL|$Rostov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Rostov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Rostov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Rostov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Rostov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonPenza|999|0|Line|NULL|NULL|$Penza

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Penza
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Penza
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Penza Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Penza White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonTambov|999|0|Line|NULL|NULL|$Tambov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Tambov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Tambov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Tambov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Tambov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonLipetsk|999|0|Line|NULL|NULL|$Lipetsk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Lipetsk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Lipetsk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Lipetsk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Lipetsk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonVoronezh|999|0|Line|NULL|NULL|$Voronezh

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Voronezh
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Voronezh
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Voronezh Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Voronezh White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonKursk|999|0|Line|NULL|NULL|$Kursk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Kursk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kursk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kursk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Kursk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonOrel|999|0|Line|NULL|NULL|$Orel

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Orel
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Orel
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Orel Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Orel White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSaransk|999|0|Line|NULL|NULL|$Saransk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Saransk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Saransk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Saransk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Saransk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonArzamas|999|0|Line|NULL|NULL|$Arzamas

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Arzamas
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Arzamas
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Arzamas Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Arzamas White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonPerekop|999|0|Line|NULL|NULL|$Perekop

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Perekop
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Perekop
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Perekop Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Perekop White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonMelitopol|999|0|Line|NULL|NULL|$Melitopol

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Melitopol
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Melitopol
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Melitopol Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Melitopol White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonKharkov|999|0|Line|NULL|NULL|$Kharkov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Kharkov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kharkov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kharkov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Kharkov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonKiev|999|0|Line|NULL|NULL|$Kiev

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Kiev
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kiev
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kiev Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Kiev White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonCherkasy|999|0|Line|NULL|NULL|$Cherkasy

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Cherkasy
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Cherkasy
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Cherkasy Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Cherkasy White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonPoltava|999|0|Line|NULL|NULL|$Poltava

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Poltava
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Poltava
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Poltava Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Poltava White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonOdessa|999|0|Line|NULL|NULL|$Odessa

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Odessa
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Odessa
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Odessa Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Odessa White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonSmolensk|999|0|Line|NULL|NULL|$Smolensk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Smolensk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Smolensk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Smolensk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Smolensk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonMinsk|999|0|Line|NULL|NULL|$Minsk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Minsk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Minsk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Minsk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Minsk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonVilnius|999|0|Line|NULL|NULL|$Vilnius

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Vilnius
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Vilnius
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Vilnius Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Vilnius White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonRiga|999|0|Line|NULL|NULL|$Riga

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Riga
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Riga
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Riga Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Riga White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonWarsaw|999|0|Line|NULL|NULL|$Warsaw

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Warsaw
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Warsaw
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Warsaw Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Warsaw White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonEkaterinodar|1|0|Line|NULL|NULL|$Ekaterinodar

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Ekaterinodar
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Ekaterinodar
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Ekaterinodar Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Ekaterinodar Polish Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonRostov|1|0|Line|NULL|NULL|$Rostov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Rostov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Rostov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Rostov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Rostov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonTambov|1|0|Line|NULL|NULL|$Tambov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Tambov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Tambov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Tambov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Tambov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonLipetsk|1|0|Line|NULL|NULL|$Lipetsk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Lipetsk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Lipetsk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Lipetsk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Lipetsk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonVoronezh|1|0|Line|NULL|NULL|$Voronezh

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Voronezh
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Voronezh
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Voronezh Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Voronezh White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonKursk|1|0|Line|NULL|NULL|$Kursk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Kursk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kursk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kursk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Kursk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonOrel|1|0|Line|NULL|NULL|$Orel

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Orel
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Orel
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Orel Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Orel Polish Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonPerekop|1|0|Line|NULL|NULL|$Perekop

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Perekop
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Perekop
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Perekop Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Perekop White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonMelitopol|1|0|Line|NULL|NULL|$Melitopol

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Melitopol
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Melitopol
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Melitopol Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Melitopol White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts2_WHI_AIGarrisonKharkov|1|0|Line|NULL|NULL|$Kharkov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1917/12/30

EvalRgnOwned = $Kharkov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kharkov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kharkov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_MilAG
  SetName = Kharkov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonEkaterinodar|1|0|Line|NULL|NULL|$Ekaterinodar

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Ekaterinodar
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Ekaterinodar
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Ekaterinodar Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Ekaterinodar White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonRostov|1|0|Line|NULL|NULL|$Rostov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Rostov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Rostov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Rostov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Rostov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonTambov|1|0|Line|NULL|NULL|$Tambov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Tambov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Tambov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Tambov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Tambov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonLipetsk|1|0|Line|NULL|NULL|$Lipetsk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Lipetsk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Lipetsk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Lipetsk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Lipetsk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonVoronezh|1|0|Line|NULL|NULL|$Voronezh

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Voronezh
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Voronezh
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Voronezh Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Voronezh White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonKursk|1|0|Line|NULL|NULL|$Kursk

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Kursk
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kursk
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kursk Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Kursk White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonOrel|1|0|Line|NULL|NULL|$Orel

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Orel
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Orel
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Orel Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Orel White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonPerekop|1|0|Line|NULL|NULL|$Perekop

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Perekop
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Perekop
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Perekop Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Perekop White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonMelitopol|1|0|Line|NULL|NULL|$Melitopol

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Melitopol
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Melitopol
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Melitopol Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Melitopol White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_Renforts22_WHI_AIGarrisonKharkov|1|0|Line|NULL|NULL|$Kharkov

Conditions
  CheckIsPlayer = NOT
  MinDate = 1919/01/01
  MaxDate = 1922/12/30

EvalRgnOwned = $Kharkov
  Probability = 10

Actions
SelectFaction = $WHI
  AddToRegList = $Kharkov
SelectFaction = $WHI
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 1
  InCS = 1
  FixType = 999
  SetName = Kharkov Garrison
  Apply
  CreateUnit
  SetType = $uni_WHI_Gar3
  SetName = Kharkov White Gar.
  Apply

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf0
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf8;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf5
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining3|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining4|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf12
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf7;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIInfantryTraining5|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Inf18
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf3;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav4
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav1;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining2|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav3;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHICavalryTraining3|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Cav9
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Cav2;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil5
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining2|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil6
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining3|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil7
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining4|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil8
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining5|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil9
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf5;ChgPtsCohesion 5

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIMilitiaTraining6|999|0|NULL|NULL|NULL|NULL

Conditions
  CheckIsPlayer = NOT
  MinDate = 1917/01/01
  MaxDate = 1922/12/01

Actions
  SelectSubUnits = Models $mdl_WHI_Mil10
  AlterCuSubUnit  = ApplyToList;probability 5;Model $mdl_WHI_Inf6;ChgPtsCohesion 5

EndEvent
