  NULL
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_RED_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;5
  ChgRgnDecisionFP = $rgdConscriptions;10
  ChgRgnDecisionFP = $rgdTcheka;3
  ChgRgnDecisionFP = $rgdSubversion;2

EndEvent

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_GER_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;5
  ChgRgnDecisionFP = $rgdConscriptions;2
  ChgRgnDecisionFP = $rgdReforms;1

EndEvent

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_WHI_RegionalDecisions|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  ChgRgnDecisionFP = $rgdRequisitions;2
  ChgRgnDecisionFP = $rgdConscriptions;2
  ChgRgnDecisionFP = $rgdReforms;1

EndEvent
  NULL = NULL
  NULL = NULL

SelectFaction = $WHI
StartEvent = evt_nam_RGDExclusion_WHI|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Central_Powers
  AddRgnDecisionExcl  = $Area_Romania
  AddRgnDecisionExcl  = $Area_Mazowia 
  AddRgnDecisionExcl  = $Area_OstPreussen
  AddRgnDecisionExcl  = $Area_Vilnius
  AddRgnDecisionExcl  = $Area_Lithuania 
  AddRgnDecisionExcl  = $Area_Finland 
  AddRgnDecisionExcl  = $Area_Karelia
  AddRgnDecisionExcl  = $Area_Latvia
  AddRgnDecisionExcl  = $Area_Estonia
  AddRgnDecisionExcl  = $Area_Georgia
  AddRgnDecisionExcl  = $Area_Armenia
  AddRgnDecisionExcl  = $Area_Azerbaijan
  AddRgnDecisionExcl  = $Area_Wallachia
  AddRgnDecisionExcl  = $Area_Wielkopolska
  AddRgnDecisionExcl  = $Area_Galicia
  AddRgnDecisionExcl  = $Area_Perm
  AddRgnDecisionExcl  = $Area_Uralsk
  AddRgnDecisionExcl  = $Area_Ufa 
  AddRgnDecisionExcl  = $Area_Viatka
  AddRgnDecisionExcl  = $Area_Orenburg
  AddRgnDecisionExcl  = $Area_Turgay
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_RGDExclusion_RED|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_RGDExclusion_GER|1|0|NULL|NULL|NULL|NULL

Conditions

Actions
  AddRgnDecisionExcl  = $Area_Tomsk
  AddRgnDecisionExcl  = $Area_Tobolsk
  AddRgnDecisionExcl  = $Area_Akmolinsk
  AddRgnDecisionExcl  = $Area_Enisey
  AddRgnDecisionExcl  = $Area_Semipalatinsk
  AddRgnDecisionExcl  = $Area_Irkutsk
  AddRgnDecisionExcl  = $Area_Zabaikal
  AddRgnDecisionExcl  = $Area_Vladivostock
  AddRgnDecisionExcl  = $Area_Mongolia
  AddRgnDecisionExcl  = $Area_Manchuria
  AddRgnDecisionExcl  = $Area_Allied_Powers
  AddRgnDecisionExcl  = $Area_Samarkand
  AddRgnDecisionExcl  = $Area_Caspian
  AddRgnDecisionExcl  = $Area_Syr-Darinsk

EndEvent
  NULL = NULL

SelectFaction = $RED

SelectFaction = $RED
StartEvent = RGD_Remove_Exclusion_Finland_RED|0|0|NULL|NULL|NULL|NULL

Conditions
  EvalEvent = evt_nam_WHI_FinlandJoin_ON;=;1

Actions
  RemRgnDecisionExcl = $Area_Finland 
  RemRgnDecisionExcl = $Area_Karelia

EndEvent
  NULL = NULL

SelectFaction = $RED
StartEvent = evt_nam_allowingRGDReq|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdRequisitions;>=;1;

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_allowingRGDconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_allowingRGDSubv|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdSubversion;>=;1;

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_allowingRGDGulag|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdTcheka;>=;1;

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRReqreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalMoney = <=;150;
  EvalWSU = <=;100;

Actions
  SetEvtOccurs = evt_nam_RGDRActReq;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActReq2;CuOccurs;0

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDConscriptsreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalConscript = <=;150;

Actions
  SetEvtOccurs = evt_nam_RGDRActConscripts;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActConscripts2;CuOccurs;0

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActReq|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;2;4;5;7;8;10;11;13;14;16;17;19;20;22;23;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDReq;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActConscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;2;4;5;7;8;10;11;13;14;16;17;19;20;22;23;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDReq;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdConscriptions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActReq2|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;2;4;5;7;8;10;11;13;14;16;17;19;20;22;23;

CheckAILevel = 1
  EvalEvent = evt_nam_RGDRActReq;=;0;
  EvalEvent = evt_nam_RGDRActReqconquest;=;0;
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActConscripts2|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;2;4;5;7;8;10;11;13;14;16;17;19;20;22;23;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDconscripts;>=;1;
  EvalEvent = evt_nam_RGDRActConscripts;=;0;
  EvalEvent = evt_nam_RGDRActConscriptsconquest;=;0;
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDGulagreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  SetEvtOccurs = evt_nam_RGDRActGulag;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActGulag2;CuOccurs;0

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActGulag|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDGulag;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdTcheka

Actions
  AddRgnDecisionAct = $rgdTcheka;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActGulag2|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_RGDRActGulag;=;0;
  EvalEvent = evt_nam_RGDRActGulagconquest;=;0;
  AddToRegListFromAreas = $Area_Minsk;$Area_Petrograd;$Area_Novgorod;$Area_Pskov;$Area_Mogilev;$Area_Smolensk;$Area_Tver ;$Area_Tula;$Area_Yaroslavl;$Area_Moskwa;$Area_Kostroma;$Area_Ryazan;$Area_Orel;$Area_Kursk;$Area_Voronezh ;$Area_Nizhniy_Novgorod;$Area_Tambov;$Area_Penza;$Area_Simbirsk;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdTcheka

Actions
  AddRgnDecisionAct = $rgdTcheka;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDSubversionreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  SetEvtOccurs = evt_nam_RGDRActSubversionUkr;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActSubversionSouth;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActSubversionPol;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActSubversionCauc;CuOccurs;0
  SetEvtOccurs = evt_nam_RGDRActSubversionBalt;CuOccurs;0

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionUkr|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  Probability = 25
  AddToRegListFromAreas = $Area_Kiew;$Area_Podolsk;$Area_Kherson ;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Taurida;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionSouth|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  EvalEvent = evt_nam_RGDRActSubversionUkr;=;0;
  Probability = 25
  AddToRegListFromAreas = $Area_Kuban;$Area_Astrakhan;$Area_Stavropol;$Area_Terek;$Area_Don;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionPol|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  EvalEvent = evt_nam_RGDRActSubversionSouth;=;0;
  EvalEvent = evt_nam_RGDRActSubversionUral;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSiberia;=;0;
  Probability = 25
  AddToRegListFromAreas = $Area_Galicia;$Area_Mazowia;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionCauc|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  EvalEvent = evt_nam_RGDRActSubversionSouth;=;0;
  EvalEvent = evt_nam_RGDRActSubversionUral;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSiberia;=;0;
  EvalEvent = evt_nam_RGDRActSubversionPol;=;0;
  Probability = 25
  AddToRegListFromAreas = $Area_Georgia;$Area_Armenia;$Area_Azerbaijan;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionBalt|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  EvalEvent = evt_nam_RGDRActSubversionUkr;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSouth;=;0;
  EvalEvent = evt_nam_RGDRActSubversionUral;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSiberia;=;0;
  EvalEvent = evt_nam_RGDRActSubversionPol;=;0;
  EvalEvent = evt_nam_RGDRActSubversionCauc;=;0;
  Probability = 25
  AddToRegListFromAreas = $Area_Vilnius;$Area_Lithuania ;$Area_Latvia;$Area_Estonia;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RGDRActSubversionUkr2|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 3;6;9;12;15;18;21

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDSubv;>=;1;
  EvalEvent = evt_nam_RGDRActSubversionUkr;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSouth;=;0;
  EvalEvent = evt_nam_RGDRActSubversionUral;=;0;
  EvalEvent = evt_nam_RGDRActSubversionSiberia;=;0;
  EvalEvent = evt_nam_RGDRActSubversionPol;=;0;
  EvalEvent = evt_nam_RGDRActSubversionCauc;=;0;
  EvalEvent = evt_nam_RGDRActSubversionBalt;=;0;
  AddToRegListFromAreas = $Area_Kiew;$Area_Podolsk;$Area_Kherson ;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Taurida;AreaCapitalOnly
  PickFromRegList = NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdSubversion;0
  EvalRgnDecisionAct  = $rgdTcheka;0
  IsRgnDecisionActValid = $rgdSubversion

Actions
  AddRgnDecisionAct = $rgdSubversion;CURRENT

EndEvent
  NULL = NULL

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReq|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdRequisitions;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_allowingRGDWHIReforms|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdReforms;>=;1;

Actions

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRReqreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalMoney = <=;150;
  EvalWSU = <=;100;

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReq;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIConscriptsreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalConscript = <=;125;

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActConscripts;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReq|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActConscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdConscriptions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIReformreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  SetEvtOccurs = evt_nam_RGDWHIRActReform;CuOccurs;0

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_RGDWHIRActReform|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 2;6;10;14;18;22

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDWHIReform;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Terek;$Area_Kuban;$Area_Don;$Area_Taurida;$Area_Astrakhan;$Area_Stavropol;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdReforms

Actions
  AddRgnDecisionAct = $rgdReforms;CURRENT

EndEvent

SelectFaction = $WHI
StartEvent = evt_nam_WHIReg3|999|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 0;8

CheckAILevel = 1
  AddToRegList = $Sevastopol;$Ekaterinodar;$Novocherkassk ;$Grozny;$Tzaritsyn
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL

Actions

SelectFaction = $WHI
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 1
  SetName = Regiment
  Apply
  CreateUnit
  SetType = $uni_WHI_Rgt4
  SetName = White Rgt
  Apply

EndEvent
  NULL = NULL

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_allowingRGDGERReq|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdRequisitions;>=;1;

Actions

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_allowingRGDGERconscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  EvalRgnDecisionDef = $rgdConscriptions;>=;1;

Actions

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_allowingRGDGERReforms|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalRgnDecisionDef = $rgdReforms;>=;1;

Actions

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERRReqreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalMoney = <=;150;
  EvalWSU = <=;100;

Actions
  SetEvtOccurs = evt_nam_RGDGERRActReq;CuOccurs;0

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERConscriptsreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1
  EvalConscript = <=;125;

Actions
  SetEvtOccurs = evt_nam_RGDGERRActConscripts;CuOccurs;0

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERRActReq|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDGERReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Wielkopolska;$Area_Central_Powers ;$Area_Galicia;$Area_Mazowia ;$Area_OstPreussen;$Area_Lithuania ;$Area_Latvia;$Area_Estonia;$Area_Wallachia;$Area_Romania;$Area_Volhynian;$Area_Kiew;$Area_Podolsk;$Area_Kherson;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Taurida;$Area_Vilnius;$Area_Minsk;$Area_Mogilev;$Area_Finland;$Area_Karelia;$Area_Kuban;$Area_Don;$Area_Astrakhan;$Area_Stavropol;$Area_Terek;$Area_Georgia ;$Area_Armenia;$Area_Azerbaijan;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdRequisitions

Actions
  AddRgnDecisionAct = $rgdRequisitions;CURRENT

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERRActConscripts|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 1;5;9;13;17;21;

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDGERReq;>=;1;
  Probability = 95
  AddToRegListFromAreas = $Area_Wielkopolska;$Area_Central_Powers ;$Area_Galicia;$Area_Mazowia ;$Area_OstPreussen;$Area_Lithuania ;$Area_Latvia;$Area_Estonia;$Area_Wallachia;$Area_Romania;$Area_Volhynian;$Area_Kiew;$Area_Podolsk;$Area_Kherson;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Taurida;$Area_Vilnius;$Area_Minsk;$Area_Mogilev;$Area_Finland;$Area_Karelia;$Area_Kuban;$Area_Don;$Area_Astrakhan;$Area_Stavropol;$Area_Terek;$Area_Georgia ;$Area_Armenia;$Area_Azerbaijan;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdConscriptions

Actions
  AddRgnDecisionAct = $rgdConscriptions;CURRENT

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERReformreset|999|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  SetEvtOccurs = evt_nam_RGDGERRActReform;CuOccurs;0

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_RGDGERRActReform|1|0|NULL|NULL|NULL|NULL

Conditions
  TurnIndex  = 2;6;10;14;18;22

CheckAILevel = 1
  EvalEvent = evt_nam_allowingRGDGERReforms;>=;1;
  Probability = 70
  AddToRegListFromAreas = $Area_Wielkopolska;$Area_Central_Powers ;$Area_Galicia;$Area_Mazowia ;$Area_OstPreussen;$Area_Lithuania ;$Area_Latvia;$Area_Estonia;$Area_Wallachia;$Area_Romania;$Area_Volhynian;$Area_Kiew;$Area_Podolsk;$Area_Kherson;$Area_Ekaterinoslav;$Area_Chernigov;$Area_Poltava;$Area_Kharkov;$Area_Taurida;$Area_Vilnius;$Area_Minsk;$Area_Mogilev;$Area_Finland;$Area_Karelia;$Area_Kuban;$Area_Don;$Area_Astrakhan;$Area_Stavropol;$Area_Terek;$Area_Georgia ;$Area_Armenia;$Area_Azerbaijan;AreaCapitalOnly
  PickFromRegList = NotEnemy;NoBasicBias;FavorLocalRatio;FavorCityLevel;FavorLackLoyalty
  GenMsg
  EvalRegionSel = NULL
  EvalRgnDecisionAct  = $rgdRequisitions;0
  EvalRgnDecisionAct  = $rgdConscriptions;0
  EvalRgnDecisionAct  = $rgdReforms;0
  IsRgnDecisionActValid = $rgdReforms

Actions
  AddRgnDecisionAct = $rgdReforms;CURRENT

EndEvent

SelectFaction = $RED

SelectFaction = $RED
StartEvent = evt_nam_Red_PoolAdjust|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  AI.SetPoolRatio = $famElite;25
  AI.SetPoolRatio = $famLine;100
  AI.SetPoolRatio = $famLightInf;25
  AI.SetPoolRatio = $famSkirmisher;25
  AI.SetPoolRatio = $famRaider;10
  AI.SetPoolRatio = $famMilitia;5
  AI.SetPoolRatio = $famCavalry;50
  AI.SetPoolRatio = $famHvyCavalry;25
  AI.SetPoolRatio = $famLtVehicle;75
  AI.SetPoolRatio = $famMedVehicle;50
  AI.SetPoolRatio = $famHvyVehicle;50
  AI.SetPoolRatio = $famSHvyVehicle;50
  AI.SetPoolRatio = $famLightArty;50
  AI.SetPoolRatio = $famMedArty;50
  AI.SetPoolRatio = $famHvyArty;50
  AI.SetPoolRatio = $famSHvyArty;50
  AI.SetPoolRatio = $famArmoredTrain;25
  AI.SetPoolRatio = $famSupply;75
  AI.SetPoolRatio = $famGood;0
  AI.SetPoolRatio = $famService;5
  AI.SetPoolRatio = $famEngineer;10
  AI.SetPoolRatio = $famNavalEngineer;5
  AI.SetPoolRatio = $famHvyWarship;1
  AI.SetPoolRatio = $famHeavyWarship;1
  AI.SetPoolRatio = $famLightWarship;1
  AI.SetPoolRatio = $famLtWarship;1
  AI.SetPoolRatio = $famRaiderShip;5
  AI.SetPoolRatio = $famTransportShip;5
  AI.SetPoolRatio = $famHvyCoastalShip;5
  AI.SetPoolRatio = $famLitCoastalShip;5
  AI.SetPoolRatio = $famCarrierShip;1
  AI.SetPoolRatio = $famSubmarine;10
  AI.SetPoolRatio = $famSubTransport;1
  AI.SetPoolRatio = $famAirRecon;10
  AI.SetPoolRatio = $famAirFighter;10
  AI.SetPoolRatio = $famAirNavBomber;5
  AI.SetPoolRatio = $famAirLevelBomber;10
  AI.SetPoolRatio = $famAirStratBomber;5
  AI.SetPoolRatio = $famAirTransport;5
  AI.SetPoolRatio = $famCoastalShip;5

EndEvent

SelectFaction = $WHI

SelectFaction = $WHI
StartEvent = evt_nam_WHI_PoolAdjust|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  AI.SetPoolRatio = $famElite;25
  AI.SetPoolRatio = $famLine;100
  AI.SetPoolRatio = $famLightInf;25
  AI.SetPoolRatio = $famSkirmisher;25
  AI.SetPoolRatio = $famRaider;10
  AI.SetPoolRatio = $famMilitia;5
  AI.SetPoolRatio = $famCavalry;50
  AI.SetPoolRatio = $famHvyCavalry;25
  AI.SetPoolRatio = $famLtVehicle;75
  AI.SetPoolRatio = $famMedVehicle;50
  AI.SetPoolRatio = $famHvyVehicle;50
  AI.SetPoolRatio = $famSHvyVehicle;50
  AI.SetPoolRatio = $famLightArty;50
  AI.SetPoolRatio = $famMedArty;50
  AI.SetPoolRatio = $famHvyArty;50
  AI.SetPoolRatio = $famSHvyArty;50
  AI.SetPoolRatio = $famArmoredTrain;25
  AI.SetPoolRatio = $famSupply;75
  AI.SetPoolRatio = $famGood;0
  AI.SetPoolRatio = $famService;5
  AI.SetPoolRatio = $famEngineer;10
  AI.SetPoolRatio = $famNavalEngineer;5
  AI.SetPoolRatio = $famHvyWarship;1
  AI.SetPoolRatio = $famHeavyWarship;1
  AI.SetPoolRatio = $famLightWarship;1
  AI.SetPoolRatio = $famLtWarship;1
  AI.SetPoolRatio = $famRaiderShip;5
  AI.SetPoolRatio = $famTransportShip;5
  AI.SetPoolRatio = $famHvyCoastalShip;5
  AI.SetPoolRatio = $famLitCoastalShip;5
  AI.SetPoolRatio = $famCarrierShip;1
  AI.SetPoolRatio = $famSubmarine;10
  AI.SetPoolRatio = $famSubTransport;1
  AI.SetPoolRatio = $famAirRecon;10
  AI.SetPoolRatio = $famAirFighter;10
  AI.SetPoolRatio = $famAirNavBomber;5
  AI.SetPoolRatio = $famAirLevelBomber;10
  AI.SetPoolRatio = $famAirStratBomber;5
  AI.SetPoolRatio = $famAirTransport;5
  AI.SetPoolRatio = $famCoastalShip;5

EndEvent

SelectFaction = $GER

SelectFaction = $GER
StartEvent = evt_nam_GER_PoolAdjust|1|0|NULL|NULL|NULL|NULL

Conditions

CheckAILevel = 1

Actions
  AI.SetPoolRatio = $famElite;25
  AI.SetPoolRatio = $famLine;100
  AI.SetPoolRatio = $famLightInf;25
  AI.SetPoolRatio = $famSkirmisher;25
  AI.SetPoolRatio = $famRaider;10
  AI.SetPoolRatio = $famMilitia;5
  AI.SetPoolRatio = $famCavalry;50
  AI.SetPoolRatio = $famHvyCavalry;25
  AI.SetPoolRatio = $famLtVehicle;75
  AI.SetPoolRatio = $famMedVehicle;50
  AI.SetPoolRatio = $famHvyVehicle;50
  AI.SetPoolRatio = $famSHvyVehicle;50
  AI.SetPoolRatio = $famLightArty;50
  AI.SetPoolRatio = $famMedArty;50
  AI.SetPoolRatio = $famHvyArty;50
  AI.SetPoolRatio = $famSHvyArty;50
  AI.SetPoolRatio = $famArmoredTrain;25
  AI.SetPoolRatio = $famSupply;75
  AI.SetPoolRatio = $famGood;0
  AI.SetPoolRatio = $famService;5
  AI.SetPoolRatio = $famEngineer;10
  AI.SetPoolRatio = $famNavalEngineer;5
  AI.SetPoolRatio = $famHvyWarship;1
  AI.SetPoolRatio = $famHeavyWarship;1
  AI.SetPoolRatio = $famLightWarship;1
  AI.SetPoolRatio = $famLtWarship;1
  AI.SetPoolRatio = $famRaiderShip;5
  AI.SetPoolRatio = $famTransportShip;5
  AI.SetPoolRatio = $famHvyCoastalShip;5
  AI.SetPoolRatio = $famLitCoastalShip;5
  AI.SetPoolRatio = $famCarrierShip;1
  AI.SetPoolRatio = $famSubmarine;10
  AI.SetPoolRatio = $famSubTransport;1
  AI.SetPoolRatio = $famAirRecon;10
  AI.SetPoolRatio = $famAirFighter;10
  AI.SetPoolRatio = $famAirNavBomber;5
  AI.SetPoolRatio = $famAirLevelBomber;10
  AI.SetPoolRatio = $famAirStratBomber;5
  AI.SetPoolRatio = $famAirTransport;5
  AI.SetPoolRatio = $famCoastalShip;5

EndEvent
