  NULL = NULL

SelectFaction = $RED
SelectRegion = $Baku

SelectFaction = $RED
SelectRegion = $Baku
StartEvent = evt_nam_RED_Baku_Oilfields_Production|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1919/01/01
  TurnIndex = 3;17
  Probability = 25

EvalRgnOwned = $Baku
  EvalRgnStruc = $Baku;FACALL;STRUCDEF $OilField

Actions
  ChangeWSUPool = 1
  Replacement = RED;$famSupply;1

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moscow_RecruitingBarracks_Production|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 15

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_Petrograd_RecruitingBarracks_Production|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Petrograd
  EvalRgnStruc = $Petrograd;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 10

EndEvent

SelectFaction = $RED
SelectRegion = $Tzaritsyn
StartEvent = evt_nam_RED_Tzaritsyn_RecruitingBarracks_Production|999|1|NULL|NULL|$Tzaritsyn|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Tzaritsyn
  EvalRgnStruc = $Tzaritsyn;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Kiev_RecruitingBarracks_Production|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 10

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_CentralBank_Production|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;6;12;18
  Probability = 10

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $CentralBank

Actions
  ChangeMoneyPool = 100

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moscow_AviationSchool_RplProduction1|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;12
  Probability = 35

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $AirSchool

Actions
  Replacement = RED;$famAirRecon;1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moscow_AviationSchool_RplProduction2|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 6;15
  Probability = 25

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $AirSchool

Actions
  Replacement = RED;$famAirFighter;1

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Perm
StartEvent = evt_nam_RED_Perm_RiverShipyard_RplProduction|999|1|NULL|NULL|$Perm|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Perm
  EvalRgnStruc = $Perm;FACALL;STRUCDEF $RiverShipyard

Actions
  ChangeWSUPool = 1
  Replacement = RED;$famLitCoastalShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Nizhniy Novgorod
StartEvent = evt_nam_RED_NizhniyNovogorod_RiverShipyard_RplProduction|999|1|NULL|NULL|$Nizhniy Novgorod|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Nizhniy Novgorod
  EvalRgnStruc = $Nizhniy Novgorod;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famTransportShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Kazan
StartEvent = evt_nam_RED_Kazan_RiverShipyard_RplProduction|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Kazan
  EvalRgnStruc = $Kazan;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famLitCoastalShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Rostov
StartEvent = evt_nam_RED_Rostov_RiverShipyard_RplProduction|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Rostov
  EvalRgnStruc = $Rostov;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famLitCoastalShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Tzaritsyn
StartEvent = evt_nam_RED_Tzaritsyn_RiverShipyard_RplProduction|999|1|NULL|NULL|$Tzaritsyn|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Tzaritsyn
  EvalRgnStruc = $Tzaritsyn;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famTransportShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Astrakhan
StartEvent = evt_nam_RED_Astrakhan_RiverShipyard_RplProduction|999|1|NULL|NULL|$Astrakhan|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Astrakhan
  EvalRgnStruc = $Astrakhan;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famTransportShip;1

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Kiev_RiverShipyard_RplProduction|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = RED;$famTransportShip;1

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Riga
StartEvent = evt_nam_RED_Riga_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Riga
  EvalRgnStruc = $Riga;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Kazan
StartEvent = evt_nam_RED_Kazan_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Kazan
  EvalRgnStruc = $Kazan;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Kiev_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeWSUPool = 1
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Helsinki
StartEvent = evt_nam_RED_Helsinki_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Helsinki
  EvalRgnStruc = $Helsinki;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_RED_Ekaterinburg_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Ekaterinburg
  EvalRgnStruc = $Ekaterinburg;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Kharkov
StartEvent = evt_nam_RED_Kharkov_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Kharkov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Kharkov
  EvalRgnStruc = $Kharkov;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Tula
StartEvent = evt_nam_RED_Tula_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Tula|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Tula
  EvalRgnStruc = $Tula;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Saratov
StartEvent = evt_nam_RED_Saratov_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Saratov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Saratov
  EvalRgnStruc = $Saratov;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Minsk
StartEvent = evt_nam_RED_Minsk_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Minsk
  EvalRgnStruc = $Minsk;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Odessa
StartEvent = evt_nam_RED_Odessa_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Odessa|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Odessa
  EvalRgnStruc = $Odessa;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeWSUPool = 1
  ChangeRailPool = 5

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_ChekaHQ_RplProduction|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1917/01/01
  TurnIndex = 0;4;8;12;16;20
  Probability = 50

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $SecretServiceAndPolice

Actions
  ChangeLoyaltyFac = $Area_Moskwa;5
  ChangeConscriptPool = 1

SelectFaction = $RED 
  Replacement = RED;$famService;1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_ChekaHQCaptured|1|2|evt_txt_RED_ChekaHQCaptured|Event-img_RED_ChekaCreated1917|$Moscow|NULL

Conditions
  MinDate = 1917/01/01

EvalRgnOwned = $Moscow;NOT

Actions
  RemDynGraphic = $Moscow;Icon_Cheka.png

  ChgEvtOccurs = evt_nam_RED_ChekaHQ_RplProduction;MaxOccurs;0

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_FrunzeAcademy_RplProduction|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_FrunzeAcademyCreated1918;=;1
  TurnIndex = 0;12
  Probability = 50

EvalRgnOwned = $Moscow
  EvalRgnStruc = $Moscow;FACALL;STRUCDEF $MilitaryAcademy

Actions

SelectFaction = $RED 
  Replacement = RED;$famElite;1

SelectFaction = $RED
  ChangeConscriptPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_FrunzeAcademyCaptured|1|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/01/01
  EvalEvent = evt_nam_RED_FrunzeAcademyCreated1918;=;1

EvalRgnOwned = $Moscow;NOT

Actions
  RemDynGraphic = $Moscow;Icon_RED_Land_Academy.png

  ChgEvtOccurs = evt_nam_RED_FrunzeAcademy_RplProduction;MaxOccurs;0

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_NavalAcademy_RplProduction|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  TurnIndex = 0;12
  Probability = 10

EvalRgnOwned = $Petrograd
  EvalRgnStruc = $Petrograd;FACALL;STRUCDEF $MilitaryAcademy

Actions

SelectFaction = $RED 
  Replacement = RED;$famElite;1

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_NavalAcademyCaptured|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/01/01

EvalRgnOwned = $Petrograd;NOT

Actions
  RemDynGraphic = $Petrograd;Icon_RUS_Naval_Academy.png

  ChgEvtOccurs = evt_nam_RED_NavalAcademy_RplProduction;MaxOccurs;0

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Wallachia

SelectFaction = $GER
SelectRegion = $Wallachia
StartEvent = evt_nam_GER_Wallachia_Oilfields_Production|999|1|NULL|NULL|$Wallachia|NULL

Conditions
  MinDate = 1919/01/01
  TurnIndex = 3;17
  Probability = 25

EvalRgnOwned = $Wallachia
  EvalRgnStruc = $Wallachia;FACALL;STRUCDEF $OilField

Actions
  ChangeWSUPool = 1
  Replacement = GER;$famSupply;1

EndEvent

SelectFaction = $GER
SelectRegion = $Baku
StartEvent = evt_nam_GER_Baku_Oilfields_Production|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1919/01/01
  TurnIndex = 3;17
  Probability = 25

EvalRgnOwned = $Baku
  EvalRgnStruc = $Baku;FACALL;STRUCDEF $OilField

Actions
  ChangeWSUPool = 1
  Replacement = GER;$famSupply;1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_Germany_RecruitingBarracks_Production|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 15

EndEvent

SelectFaction = $GER
SelectRegion = $Austria
StartEvent = evt_nam_GER_Austria_RecruitingBarracks_Production|999|1|NULL|NULL|$Austria|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Austria
  EvalRgnStruc = $Austria;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 15

EndEvent

SelectFaction = $GER
SelectRegion = $Warsaw
StartEvent = evt_nam_GER_Warsaw_RecruitingBarracks_Production|999|1|NULL|NULL|$Warsaw|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Warsaw
  EvalRgnStruc = $Warsaw;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 15

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_Kiev_RecruitingBarracks_Production|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 2;14
  Probability = 15

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RecruitingBarracks

Actions
  ChangeConscriptPool = 15

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_CentralBank_Production|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;6;12;18
  Probability = 10

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $CentralBank

Actions
  ChangeMoneyPool = 100

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_Germany_AviationSchool_RplProduction1|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;12
  Probability = 35

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $AirSchool

Actions
  Replacement = GER;$famAirRecon;1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_Germany_AviationSchool_RplProduction2|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 6;15
  Probability = 25

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $AirSchool

Actions
  Replacement = GER;$famAirFighter;1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Danzig
StartEvent = evt_nam_GER_Danzig_RiverShipyard_RplProduction|999|1|NULL|NULL|$Danzig|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Danzig
  EvalRgnStruc = $Danzig;FACALL;STRUCDEF $RiverShipyard

Actions
  ChangeWSUPool = 1
  Replacement = GER;$famLitCoastalShip;1

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_GER_Rostov_RiverShipyard_RplProduction|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Rostov
  EvalRgnStruc = $Rostov;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = GER;$famLitCoastalShip;1

EndEvent

SelectFaction = $GER
SelectRegion = $Tzaritsyn
StartEvent = evt_nam_GER_Tzaritsyn_RiverShipyard_RplProduction|999|1|NULL|NULL|$Tzaritsyn|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Tzaritsyn
  EvalRgnStruc = $Tzaritsyn;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = GER;$famTransportShip;1

EndEvent

SelectFaction = $GER
SelectRegion = $Astrakhan
StartEvent = evt_nam_GER_Astrakhan_RiverShipyard_RplProduction|999|1|NULL|NULL|$Astrakhan|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Astrakhan
  EvalRgnStruc = $Astrakhan;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = GER;$famTransportShip;1

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_Kiev_RiverShipyard_RplProduction|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 8;18
  Probability = 50

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RiverShipyard

Actions
  Replacement = GER;$famTransportShip;1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Silesia
StartEvent = evt_nam_GER_Silesia_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Silesia|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Silesia
  EvalRgnStruc = $Silesia;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Krakow
StartEvent = evt_nam_GER_Krakow_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Krakow|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Krakow
  EvalRgnStruc = $Krakow;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Hungary
StartEvent = evt_nam_GER_Hungary_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Hungary|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Hungary
  EvalRgnStruc = $Hungary;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Riga
StartEvent = evt_nam_GER_Riga_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Riga
  EvalRgnStruc = $Riga;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_Kiev_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Kiev
  EvalRgnStruc = $Kiev;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeWSUPool = 1
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Odessa
StartEvent = evt_nam_GER_Odessa_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Odessa|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Odessa
  EvalRgnStruc = $Odessa;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeWSUPool = 1
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Helsinki
StartEvent = evt_nam_GER_Helsinki_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Helsinki
  EvalRgnStruc = $Helsinki;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Kharkov
StartEvent = evt_nam_GER_Kharkov_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Kharkov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Kharkov
  EvalRgnStruc = $Kharkov;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Tula
StartEvent = evt_nam_GER_Tula_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Tula|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Tula
  EvalRgnStruc = $Tula;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Saratov
StartEvent = evt_nam_GER_Saratov_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Saratov|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;9;15
  Probability = 50

EvalRgnOwned = $Saratov
  EvalRgnStruc = $Saratov;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_GER_Minsk_RRWorkshop_RailPoolProduction|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/01/01
  TurnIndex = 0;8;16
  Probability = 50

EvalRgnOwned = $Minsk
  EvalRgnStruc = $Minsk;FACALL;STRUCDEF $RailroadWorkshop

Actions
  ChangeRailPool = 5

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_Abwehr_RplProduction|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1917/01/01
  TurnIndex = 0;4;8;12;16;20
  Probability = 50

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $SecretServiceAndPolice

Actions
  ChangeLoyaltyFac = $Area_Central_Powers;5
  ChangeConscriptPool = 1

SelectFaction = $GER 
  Replacement = GER;$famService;1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_LandAcademy_RplProduction|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_GER_FrunzeAcademyCreated1918;=;1
  TurnIndex = 0;12
  Probability = 50

EvalRgnOwned = $Germany
  EvalRgnStruc = $Germany;FACALL;STRUCDEF $MilitaryAcademy

Actions

SelectFaction = $GER 
  Replacement = GER;$famElite;1

SelectFaction = $GER
  ChangeConscriptPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Kiel
StartEvent = evt_nam_GER_NavalAcademy_RplProduction|999|1|NULL|NULL|$Kiel|NULL

Conditions
  MinDate = 1918/06/01
  TurnIndex = 0;12
  Probability = 10

EvalRgnOwned = $Kiel
  EvalRgnStruc = $Kiel;FACALL;STRUCDEF $MilitaryAcademy

Actions

SelectFaction = $GER 
  Replacement = GER;$famElite;1

EndEvent
