NULL ==========================================================================

SelectFaction = $POL

StartEvent = evt_nam_POL_relationFreikorps|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1918/12/01 

Actions

  SetFacRelationships = GER;100

EndEvent

NULL ==========================================================================

SelectFaction = $POL

StartEvent = evt_nam_POL_relationFreikorpsmod|99|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1918/12/01 
  Probability = 45

Actions

  ChgFacRelationships = GER;-20

EndEvent

NULL ==========================================================================

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroPoland|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 7;8;9;10;11;12;13;14;15;16;17;18;19
  CheckAILevel = 1

Actions

  AI.SetTheaPrev = $Recruit_Poles;500
  AI.SetTheaPrev = $Recruit_Balts;30
  AI.SetTheaPrev = $Theater_Ukraine;50
  AI.SetTheaPrev = $Theater_Belarus;40

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroUkraineBelarus1|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 7;8;9;10;11;12;13;14;15;16;17;18;19
  CheckAILevel = 1
  EvalFacRelationships = UKR;>=;0

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;50
  AI.SetTheaPrev = $Theater_Ukraine;500
  AI.SetTheaPrev = $Theater_Belarus;400

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroUkraineBelarus2|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 7;8;9;10;11;12;13;14;15;16;17;18;19
  CheckAILevel = 1
  EvalFacRelationships = UKR;>=;0

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

SelectFaction = $UKR

  SelectSubUnits = Area $Recruit_Poles;FactionTags UKR RED  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;50
  AI.SetTheaPrev = $Theater_Ukraine;500
  AI.SetTheaPrev = $Theater_Belarus;400

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroBalts|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 7;8;9;10;11;12;13;14;15;16;17;18;19
  CheckAILevel = 1
  EvalEvent = evt_nam_CMN_Pol-Lit_War;=;1

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

SelectFaction = $UKR

  SelectSubUnits = Area $Recruit_Poles;FactionTags UKR RED  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;50
  AI.SetTheaPrev = $Theater_Balts;300

EndEvent

NULL ==========================================================================



























SelectFaction = $POL
StartEvent = evt_nam_POL_aggroPoland|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 0;1;2;3;4;5;6;20;21;22;23
  CheckAILevel = 1

Actions

  AI.SetTheaPrev = $Recruit_Poles;100
  AI.SetTheaPrev = $Recruit_Balts;15
  AI.SetTheaPrev = $Theater_Ukraine;25
  AI.SetTheaPrev = $Theater_Belarus;20

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroUkraineBelarus1|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 0;1;2;3;4;5;6;20;21;22;23
  CheckAILevel = 1
  EvalFacRelationships = UKR;>=;0

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;25
  AI.SetTheaPrev = $Theater_Ukraine;100
  AI.SetTheaPrev = $Theater_Belarus;80

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroUkraineBelarus2|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 0;1;2;3;4;5;6;20;21;22;23
  CheckAILevel = 1
  EvalFacRelationships = UKR;>=;0

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

SelectFaction = $UKR

  SelectSubUnits = Area $Recruit_Poles;FactionTags UKR RED  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;25
  AI.SetTheaPrev = $Theater_Ukraine;100
  AI.SetTheaPrev = $Theater_Belarus;80

EndEvent

SelectFaction = $POL
StartEvent = evt_nam_POL_aggroBalts|999|0|NULL|NULL|NULL|NULL

Conditions

  TurnIndex  = 0;1;2;3;4;5;6;20;21;22;23
  CheckAILevel = 1
  EvalEvent = evt_nam_CMN_Pol-Lit_War;=;1

SelectFaction = $GRN

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 GRN ANA 
  EvalSubUnitCount = <=;10

SelectFaction = $WH3

  SelectSubUnits = Area $Recruit_Poles;FactionTags WH3 WH2 WH5 BSH ZAB ORE UKR URL SEM SIB GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $WHI

  SelectSubUnits = Area $Recruit_Poles;FactionTags WHI WH4 TER KUB DON GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $LIT

  SelectSubUnits = Area $Recruit_Poles;FactionTags LIT BAL  
  EvalSubUnitCount = <=;5

SelectFaction = $RED

  SelectSubUnits = Area $Recruit_Poles;FactionTags RED BSH UKR GRN  
  EvalSubUnitCount = <=;5

SelectFaction = $ANA

  SelectSubUnits = Area $Recruit_Poles;FactionTags ANA  
  EvalSubUnitCount = <=;5

SelectFaction = $UKR

  SelectSubUnits = Area $Recruit_Poles;FactionTags UKR RED  
  EvalSubUnitCount = <=;5

Actions

  AI.SetTheaPrev = $Recruit_Poles;25
  AI.SetTheaPrev = $Theater_Balts;60

EndEvent

NULL ==========================================================================


