
SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Kamenev|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Kamenev2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Kamenev2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = S.S. Kamenev
  SetCommit = 1
  SetType = $uni_RED_Kamenev3
  SetName = S.S. Kamenev
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_KamenevOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Kamenev;=;1
  EvalUnqUnit = S.S. Kamenev;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Kamenev_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_KamenevOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Ghai-Khan|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Ghai-Khan2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Ghai-Khan2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = Ghai-Khan
  SetCommit = 1
  SetType = $uni_RED_Ghai-Khan3
  SetName = Ghai-Khan
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Ghai-KhanOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ghai-Khan;=;1
  EvalUnqUnit = Ghai-Khan;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Ghai-Khan_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ghai-KhanOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Frunze|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Frunze2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Frunze2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = M.V. Frunze
  SetCommit = 1
  SetType = $uni_RED_Frunze3
  SetName = M.V. Frunze
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_FrunzeOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Frunze;=;1
  EvalUnqUnit = M.V. Frunze;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Frunze_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_FrunzeOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Egorov|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Egorov2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Egorov2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = A.I. Egorov
  SetCommit = 1
  SetType = $uni_RED_Egorov3
  SetName = A.I. Egorov
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_EgorovOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Egorov;=;1
  EvalUnqUnit = A.I. Egorov;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Egorov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_EgorovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Tukhachevsky|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Tukhachevsky2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Tukhachevsky2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = M.N. Tukhachevsky
  SetCommit = 1
  SetType = $uni_RED_Tukhachevsky3
  SetName = M.N. Tukhachevsky
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_TukhachevskyOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Tukhachevsky;=;1
  EvalUnqUnit = M.N. Tukhachevsky;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Tukhachevsky_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_TukhachevskyOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent


SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Kojnilov|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Kojnilov3
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = S. Kojnilov
  SetCommit = 1
  SetType = $uni_RED_Kojnilov3
  SetName = S. Kojnilov
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_KojnilovOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Kojnilov;=;1
  EvalUnqUnit = S. Kojnilov;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Kojnilov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_KojnilovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Slaven|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Slaven2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Slaven2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = P. Slaven
  SetCommit = 1
  SetType = $uni_RED_Slaven3
  SetName = P. Slaven
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_SlavenOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Slaven;=;1
  EvalUnqUnit = P. Slaven;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Slaven_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_SlavenOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Grittis|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Grittis2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Grittis2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = V. Grittis
  SetCommit = 1
  SetType = $uni_RED_Grittis3
  SetName = V. Grittis
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_GrittisOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Grittis;=;1
  EvalUnqUnit = V. Grittis;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Grittis_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_GrittisOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Sievers|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Sievers2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Sievers2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = R.F. Sievers
  SetCommit = 1
  SetType = $uni_RED_Sievers3
  SetName = R.F. Sievers
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_SieversOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Sievers;=;1
  EvalUnqUnit = R.F. Sievers;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Sievers_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_SieversOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Kirov|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Kirov2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Kirov2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = S.M. Kirov
  SetCommit = 1
  SetType = $uni_RED_Kirov3
  SetName = S.M. Kirov
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_KirovOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Kirov;=;1
  EvalUnqUnit = S.M. Kirov;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Kirov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_KirovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Antonov-Ovseenko|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Antonov-Ovseenko3
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = V.A. Antonov-Ovseenko
  SetCommit = 1
  SetType = $uni_RED_Antonov-Ovseenko3
  SetName = V.A. Antonov-Ovseenko
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Antonov-OvseenkoOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Antonov-Ovseenko;=;1
  EvalUnqUnit = V.A. Antonov-Ovseenko;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Antonov-Ovseenko_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_Antonov-OvseenkoOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Stuka|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Stuka2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Stuka2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = P.I. Stuka
  SetCommit = 1
  SetType = $uni_RED_Stuka3
  SetName = P.I. Stuka
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_StukaOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Stuka;=;1
  EvalUnqUnit = P.I. Stuka;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Stuka_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_StukaOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Voroshilov|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Voroshilov2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Voroshilov2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = K.I. Voroshilov
  SetCommit = 1
  SetType = $uni_RED_Voroshilov3
  SetName = K.I. Voroshilov
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_VoroshilovOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Voroshilov;=;1
  EvalUnqUnit = K.I. Voroshilov;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Voroshilov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_VoroshilovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Nadiozhny|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Nadiozhny2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Nadiozhny2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = D.N. Nadiozhny
  SetCommit = 1
  SetType = $uni_RED_Nadiozhny3
  SetName = D.N. Nadiozhny
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_NadiozhnyOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Nadiozhny;=;1
  EvalUnqUnit = D.N. Nadiozhny;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Nadiozhny_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_NadiozhnyOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Budyenny|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Budyenny2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Budyenny2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = S.M. Budyenny
  SetCommit = 1
  SetType = $uni_RED_Budyenny3
  SetName = S.M. Budyenny
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_BudyennyOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Budyenny;=;1
  EvalUnqUnit = S.M. Budyenny;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Budyenny_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_BudyennyOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Snesarev|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Snesarev2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1

Actions
  SelectSubUnits = Models $ldr_RED_Snesarev2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = A.E. Snesarev
  SetCommit = 1
  SetType = $uni_RED_Snesarev3
  SetName = A.E. Snesarev
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_SnesarevOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Snesarev;=;1
  EvalUnqUnit = A.E. Snesarev;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Snesarev_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_SnesarevOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_Vatzetis|1|0|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  SelectSubUnits = Models $ldr_RED_Vatzetis2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_RED_PetrogradGHQ_Ready;=;1
  EvalEvent = evt_nam_RED_VatzetisArrested;=;0

Actions
  SelectSubUnits = Models $ldr_RED_Vatzetis2
  AlterCuSubUnit = ApplyToList;Kill
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;RED_PetrogradGHQ
  ChgFacEngagementPts = -7

SelectFaction = $RED
SelectRegion = $Petrograd
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 1
  SetName = North Front Great Head Quarter
  Apply
  CreateUnit
  GMEParam = I.I. Vatzetis
  SetCommit = 1
  SetType = $uni_RED_Vatzetis3
  SetName = I.I. Vatzetis
  Apply
  CreateUnit
  SetType = $uni_RED_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_RED_PetrogradGHQ_Ready;CuOccurs;0

SelectFaction = $CMN
  GenTextMsg  = opt_notify_RED_New_PetrogradGHQ;1;NULL;NULL;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_PetrogradGHQ_VatzetisOverrunned|1|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalEvent = evt_nam_RED_PetrogradGHQ_Vatzetis;=;1
  SelectSubUnits = Models $ldr_RED_Vatzetis3;Region $Petrograd
  EvalUnqUnit = I.I. Vatzetis;NOT

Actions

EndEvent

SelectFaction = $RED
StartEvent = evt_nam_RED_PetrogradGHQ_Vatzetis_Regen|1|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01

EvalRgnOwned = $Petrograd
  EvalEvent = evt_nam_RED_PetrogradGHQ_VatzetisOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;RED_PetrogradGHQ
  EvalEvent = evt_nam_RED_VatzetisArrested;=;0

Actions
  GenTextMsg  = opt_notify_RED_PetrogradGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Event_img_RED_TrotskyInMoscow.png;Title;opt_title_RED_PetrogradGHQ;MsgString;opt_desc_RED_PetrogradGHQ;ToolString;opt_hint_RED_PetrogradGHQ;SubType;RED_PetrogradGHQ;SParam1;RED

EndEvent