
SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_MoraleValueEvenOut1921_Dec|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/09
  MaxDate = 1921/09/30
  EvalMorale = >=;125
  EvalMorale = >=;GER

Actions
  DescEvent = evt_desc_RED_MoraleValueEvenOut1921_Dec
  ChangeFacMorale = -5
  ChgVPCount = 10
  ChgFacEngagementPts = 2

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_MoraleValueEvenOut1921_Dec|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/09
  MaxDate = 1921/09/30
  EvalMorale = >=;125
  EvalMorale = >=;RED

Actions
  DescEvent = evt_desc_GER_MoraleValueEvenOut1921_Dec
  ChangeFacMorale = -5
  ChgVPCount = 10

SelectFaction = $GER 
  ChgFacEngagementPts = 2

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_MoraleValueEvenOut1921_Inc|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/01/09
  MaxDate = 1921/12/30
  EvalMorale = <;75
  EvalMorale = <;GER

Actions
  DescEvent = evt_desc_RED_MoraleValueEvenOut1921_Inc
  ChangeFacMorale = 5
  ChgVPCount = -10
  ChgFacEngagementPts = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_MoraleValueEvenOut1921_Inc|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/09
  MaxDate = 1921/12/30
  EvalMorale = <;75
  EvalMorale = <;RED

Actions
  DescEvent = evt_desc_GER_MoraleValueEvenOut1921_Inc
  ChangeFacMorale = 5
  ChgVPCount = -10

SelectFaction = $GER 
  ChgFacEngagementPts = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_MoraleValueDecrease1921-22|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1921/09/01
  MaxDate = 1922/06/30
  TurnIndex = 0;4;8;12;16;20

Actions
  DescEvent = evt_desc_RED_MoraleValueDecrease1921-22
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_MoraleValueDecrease1921-22|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/09/01
  MaxDate = 1922/06/30
  TurnIndex = 0;4;8;12;16;20

Actions
  DescEvent = evt_desc_GER_MoraleValueDecrease1921-22
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_MoraleValueDecrease1922-24|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1922/07/01
  MaxDate = 1923/12/31
  TurnIndex = 0;3;6;9;12;15;18;22

Actions
  DescEvent = evt_desc_RED_MoraleValueDecrease1922-24
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_MoraleValueDecrease1922-24|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1922/07/01
  MaxDate = 1923/12/31
  TurnIndex = 0;3;6;9;12;15;18;22

Actions
  DescEvent = evt_desc_GER_MoraleValueDecrease1922-24
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_BonusVP_1923|1|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1923/07/01

Actions
  DescEvent = evt_desc_RED_BonusVP_1923
  ChgVPCount = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_BonusVP_1923next|999|0|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1923/07/15
  TurnIndex = 0;3;6;9;12;15;18;22

Actions
  ChgVPCount = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_DefeatMoraleIncrease1923|1|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1923/07/01

Actions
  DescEvent = evt_desc_GER_DefeatMoraleIncrease1923
  ChgMoraleLevels = 10;0

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_DefeatMoraleIncrease1923next|999|0|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1923/07/15
  TurnIndex = 0;3;6;9;12;15;18;22

Actions
  ChgMoraleLevels = 1;0

EndEvent
