  NULL = NULL

SelectFaction = $RED
StartEvent = evt_nam_RED_LeaderReceived_L68|1|1|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1919/06/21

Actions
  AddToRegList = $Moscow;$Petrograd;$Tzaritsyn;$Kazan;$Tambov
  PickFromRegList = NotEnemy
  GenMsg

SelectFaction = $RED
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  SetName = Red Officer
  Apply
  CreateUnit
  SetType = $uni_RED_Sablin1
  SetName = Y. Sablin
  Apply

EndEvent
