  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_AchtungPanzer|1|2|evt_txt_GER_AchtungPanzer|Opt_GER_Tanks|$Germany|NULL

Conditions
  MinDate = 1921/03/15
  Probability = 25

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_AchtungPanzerAdopted|1|2|evt_txt_RED_AchtungPanzerAdopted|Opt_GER_Tanks|$Moscow|NULL

Conditions
  MinDate = 1921/03/15
  Probability = 25

Actions
  ChangeFacMorale = -1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Tiflis

SelectFaction = $GER
SelectRegion = $Tiflis
StartEvent = evt_nam_TUR_CaucasusIntervention1|0|2|evt_txt_TUR_CaucasusIntervention1|Event-img_TUR_CaucasusIntervention|$Tiflis|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;0

SelectFaction = $RED
  SelectSubUnits = Theater $EventArea_Caucasus;FactionTags RED
  EvalSubUnitCount = >=;100

EvalRgnOwned = $Baku

EvalRgnOwned = $Tiflis
  Probability = 50

Actions

SelectFaction = $CMN
SelectRegion = $Eastern Turkey

SelectRegion = $Eastern Turkey
  SelectRegion = $Eastern Turkey
  BlockState = 0

SelectRegion = $Anatolia
  SelectRegion = $Anatolia
  BlockState = 0
  SelectSubUnits = Theater $EventArea_Caucasus;FactionTags TUR;OnlyNPermFixed
  AlterCuSubUnit = AlterCuSubUnit;ApplyToList;SetFixing 0

SelectFaction = $GER
  SetFacRelationships = RED;-100
  ChangeFacMorale = 2

SelectFaction = $RED
  ChangeFacMorale = -1

SelectFaction = $GER
  Replacement = TUR;$famLine;5
  Replacement = TUR;$famMilitia;10
  Replacement = TUR;$famLightInf;2
  Replacement = TUR;$famCavalry;3
  Replacement = TUR;$famLightArty;2
  Replacement = TUR;$famMedArty;1
  Replacement = TUR;$famService;1

SelectFaction = $RED
  GenTextMsg  = evt_nam_TUR_CaucasusIntervention1;2;evt_txt_TUR_CaucasusIntervention1;Event-img_Renforts_CMN_CaucasusAtWar;NULL

EndEvent

SelectFaction = $GER
SelectRegion = $Tiflis

SelectFaction = $GER
SelectRegion = $Tiflis
StartEvent = evt_nam_TUR_CaucasusIntervention2|0|2|evt_txt_TUR_CaucasusIntervention2|Event-img_TUR_CaucasusIntervention|$Tiflis|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FullWar;=;1

SelectFaction = $RED
  SelectSubUnits = Theater $EventArea_Caucasus;FactionTags RED
  EvalSubUnitCount = >=;25
  Probability = 75

Actions

SelectFaction = $CMN
SelectRegion = $Eastern Turkey

SelectRegion = $Eastern Turkey
  SelectRegion = $Eastern Turkey
  BlockState = 0

SelectRegion = $Anatolia
  SelectRegion = $Anatolia
  BlockState = 0
  SelectSubUnits = Theater $EventArea_Caucasus;FactionTags TUR;OnlyNPermFixed
  AlterCuSubUnit = AlterCuSubUnit;ApplyToList;SetFixing 0
  SelectSubUnits = Arear $Area_Central_Powers;FactionTags TUR;OnlyNPermFixed
  AlterCuSubUnit = AlterCuSubUnit;ApplyToList;SetFixing 0

SelectFaction = $GER
  ChangeFacMorale = 5

SelectFaction = $RED
  ChangeFacMorale = 1

SelectFaction = $GER
  Replacement = TUR;$famLine;5
  Replacement = TUR;$famMilitia;10
  Replacement = TUR;$famLightInf;2
  Replacement = TUR;$famCavalry;3
  Replacement = TUR;$famLightArty;2
  Replacement = TUR;$famMedArty;1
  Replacement = TUR;$famService;1

SelectFaction = $RED
  GenTextMsg  = evt_nam_TUR_CaucasusIntervention2;2;evt_txt_TUR_CaucasusIntervention2;Event-img_Renforts_CMN_CaucasusAtWar;NULL

EndEvent

SelectFaction = $GER
SelectRegion = $Tiflis

SelectFaction = $GER
SelectRegion = $Tiflis
StartEvent = evt_nam_TUR_CaucasusIntervention3|0|2|evt_txt_TUR_CaucasusIntervention3|Event-img_TUR_CaucasusIntervention|$Tiflis|NULL

Conditions
  MinDate = 1921/01/01

SelectFaction = $RED

EvalRgnOwned = $Baku

EvalRgnOwned = $Tiflis
  Probability = 75

Actions

SelectFaction = $CMN
SelectRegion = $Eastern Turkey

SelectRegion = $Eastern Turkey
  SelectRegion = $Eastern Turkey
  BlockState = 0

SelectRegion = $Anatolia
  SelectRegion = $Anatolia
  BlockState = 0
  SelectSubUnits = Theater $EventArea_Caucasus;FactionTags TUR;OnlyNPermFixed
  AlterCuSubUnit = AlterCuSubUnit;ApplyToList;SetFixing 0
  SelectSubUnits = Arear $Area_Central_Powers;FactionTags TUR;OnlyNPermFixed
  AlterCuSubUnit = AlterCuSubUnit;ApplyToList;SetFixing 0

SelectFaction = $GER
  SetFacRelationships = RED;-100
  ChangeFacMorale = 3

SelectFaction = $RED
  ChangeFacMorale = -1

SelectFaction = $GER
  Replacement = TUR;$famLine;5
  Replacement = TUR;$famMilitia;10
  Replacement = TUR;$famLightInf;2
  Replacement = TUR;$famCavalry;3
  Replacement = TUR;$famLightArty;2
  Replacement = TUR;$famMedArty;1
  Replacement = TUR;$famService;1

SelectFaction = $RED
  GenTextMsg  = evt_nam_TUR_CaucasusIntervention3;2;evt_txt_TUR_CaucasusIntervention3;Event-img_Renforts_CMN_CaucasusAtWar;NULL

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Kronstadt Approaches

SelectFaction = $GER
SelectRegion = $Kronstadt Approaches
StartEvent = evt_nam_GER_PetrogradMines|999|1|NULL|NULL|$Kronstadt Approaches|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_RED_PetrogradMines_Tracker;=;1
  SelectSubUnits = Region $Kronstadt Approaches;FactionTags GER
  EvalSubUnitCount = >=;2
  Probability = 15

Actions
  DescEvent = evt_desc_GER_PetrogradMines
  SelectSubUnits = $Kronstadt Approaches;Families $famHeavyWarship $famLightWarship $famRaiderShip $famTransportShip $famHvyCoastalShip  $famLitCoastalShip $famCarrierShip $famSubmarine
  AlterCuSubUnit  = ApplytoList;Attempts 1;Kill

EndEvent

SelectFaction = $GER
SelectRegion = $Kronstadt Approaches
StartEvent = evt_nam_GER_PetrogradMinesRemoved|999|1|NULL|NULL|$Kronstadt Approaches|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_PetrogradMines;=;1
  EvalEvent = evt_nam_RED_PetrogradMines_Tracker;=;1
  Probability = 5

Actions
  DescEvent = evt_desc_GER_PetrogradMinesRemoved

SelectFaction = $RED

  ChgEvtOccurs = evt_nam_RED_PetrogradMines_Tracker;MaxOccurs;0
  RemDynGraphic = $Kronstadt Approaches;Icon_NavalMine.png

EndEvent

SelectFaction = $GER
SelectRegion = $Mouth of the Don

SelectFaction = $GER
SelectRegion = $Mouth of the Don
StartEvent = evt_nam_GER_RostovMines|999|1|NULL|NULL|$Mouth of the Don|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_RED_RostovMines_Tracker;=;1
  SelectSubUnits = Region $Mouth of the Don;FactionTags GER WHI
  EvalSubUnitCount = >=;2
  Probability = 15

Actions
  SelectSubUnits = $Mouth of the Don;Families $famHeavyWarship $famLightWarship $famRaiderShip $famTransportShip $famHvyCoastalShip  $famLitCoastalShip $famCarrierShip $famSubmarine
  AlterCuSubUnit  = ApplytoList;Attempts 1;Kill

EndEvent

SelectFaction = $GER
SelectRegion = $Mouth of the Don
StartEvent = evt_nam_GER_RostovMinesRemoved|999|1|NULL|NULL|$Mouth of the Don|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_RostovMines;=;1
  EvalEvent = evt_nam_RED_RostovMines_Tracker;=;1
  SelectSubUnits = Region $Mouth of the Don;FactionTags GER WHI
  EvalSubUnitCount = >=;2
  Probability = 5

Actions

SelectFaction = $RED

  ChgEvtOccurs = evt_nam_RED_RostovMines_Tracker;MaxOccurs;0
  RemDynGraphic = $Mouth of the Don;Icon_NavalMine.png

EndEvent

SelectFaction = $RED
SelectRegion = $Gulf of Finland
StartEvent = evt_nam_RED_FinlandGulfMines|999|1|NULL|NULL|$Gulf of Finland|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_FinlandGulfMines_Tracker;=;1
  SelectSubUnits = Region $Gulf of Finland;FactionTags RED
  EvalSubUnitCount = >=;2
  Probability = 25

Actions
  DescEvent = evt_desc_RED_FinlandGulfMines
  SelectSubUnits = $Gulf of Finland;Families $famHeavyWarship $famLightWarship $famRaiderShip $famTransportShip $famHvyCoastalShip  $famLitCoastalShip $famCarrierShip $famSubmarine
  AlterCuSubUnit  = ApplytoList;Attempts 1;Kill

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_DraftProtests|6|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/03/01
  EvalEvent = evt_nam_GER_GeneralMobilization_Tracker;=;1
  TurnIndex = 0;6;12;18
  Probability = 10

Actions
  DescEvent = evt_desc_GER_DraftProtests
  ChangeWSUPool = -5
SelectRegion = $Germany

ChangeSupply = -20;-10;0
  ChangeLoyaltyFac = -5

SelectFaction = $RED
SelectRegion = $Germany
  ChangeLoyaltyFac = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_FoodRiots_Petrograd_NB|6|2|evt_txt_RED_FoodRiots_Petrograd_NB|Opt_RED_Drang_Communists1|$Petrograd|NULL

Conditions
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;0
  MinDate = 1921/01/01
  TurnIndex = 20;22;0;2;4;5
  Probability = 10

Actions
  DescEvent = evt_desc_RED_FoodRiots_Petrograd_NB
  ChangeFacMorale = -1
  ChangeWSUPool = -1
SelectRegion = $Petrograd

ChangeSupply = -10;0;0

SelectFaction = $GER
SelectRegion = $Petrograd
  ChangeLoyaltyFac = 5

SelectFaction = $GRN
SelectRegion = $Petrograd
  ChangeLoyaltyFac = 10

SelectFaction = $RED
SelectRegion = $Petrograd
  ChangeLoyaltyFac = -15

SelectFaction = $GER
  GenTextMsg  = evt_nam_RED_FoodRiots_Petrograd_NB;2;evt_txt_RED_FoodRiots_Petrograd_NB;Opt_RED_Drang_Communists1;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_FoodRiots_Moscow_NB|6|2|evt_txt_RED_FoodRiots_Moscow_NB|Opt_RED_Drang_Communists1|$Moscow|NULL

Conditions
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;0
  MinDate = 1921/01/01
  TurnIndex = 20;22;0;2;4;5
  Probability = 10

Actions
  DescEvent = evt_desc_RED_FoodRiots_Moscow_NB
  ChangeFacMorale = -1
  ChangeWSUPool = -1
SelectRegion = $Moscow

ChangeSupply = -10;0;0

SelectFaction = $GER
SelectRegion = $Moscow
  ChangeLoyaltyFac = 5

SelectFaction = $GRN
SelectRegion = $Moscow
  ChangeLoyaltyFac = 10

SelectFaction = $RED
SelectRegion = $Moscow
  ChangeLoyaltyFac = -15

SelectFaction = $GER
  GenTextMsg  = evt_nam_RED_FoodRiots_Moscow_NB;2;evt_txt_RED_FoodRiots_Moscow_NB;Opt_RED_Drang_Communists1;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_FoodRiots_Petrograd_B|12|2|evt_txt_RED_FoodRiots_Petrograd_B|Opt_RED_Drang_Communists1|$Petrograd|NULL

Conditions
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1
  MinDate = 1921/10/01
  TurnIndex = 0;3;6;9;12;15;18;21;23
  Probability = 15

Actions
  DescEvent = evt_desc_RED_FoodRiots_Petrograd_B
  ChangeFacMorale = -3
  ChangeWSUPool = -2
SelectRegion = $Petrograd

ChangeSupply = -15;0;0

SelectFaction = $GER
SelectRegion = $Petrograd
  ChangeLoyaltyFac = 5

SelectFaction = $GRN
SelectRegion = $Petrograd
  ChangeLoyaltyFac = 15

SelectFaction = $RED
SelectRegion = $Petrograd
  ChangeLoyaltyFac = -20

SelectFaction = $GER
  GenTextMsg  = evt_nam_RED_FoodRiots_Petrograd_B;2;evt_txt_RED_FoodRiots_Petrograd_B;Opt_RED_Drang_Communists1;NULL

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_FoodRiots_Moscow_B|12|2|evt_txt_RED_FoodRiots_Moscow_B|Opt_RED_Drang_Communists1|$Moscow|NULL

Conditions
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1
  MinDate = 1921/10/01
  TurnIndex = 0;3;6;9;12;15;18;21;23
  Probability = 15

Actions
  DescEvent = evt_desc_RED_FoodRiots_Moscow_B
  ChangeFacMorale = -3
  ChangeWSUPool = -2
SelectRegion = $Moscow

ChangeSupply = -15;0;0

SelectFaction = $GER
SelectRegion = $Moscow
  ChangeLoyaltyFac = 5

SelectFaction = $GRN
SelectRegion = $Moscow
  ChangeLoyaltyFac = 15

SelectFaction = $RED
SelectRegion = $Moscow
  ChangeLoyaltyFac = -20

SelectFaction = $GER
  GenTextMsg  = evt_nam_RED_FoodRiots_Moscow_B;2;evt_txt_RED_FoodRiots_Moscow_B;Opt_RED_Drang_Communists1;NULL

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_BadMood_Germany|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01
  EvalEvent = evt_nam_GER_GeneralMobilization_Tracker;=;1
  Probability = 5

Actions
  ChangeFacMorale = -1
SelectRegion = $Germany
  ChangeLoyaltyFac = -1

SelectFaction = $RED
SelectRegion = $Germany
  ChangeLoyaltyFac = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_GoodMood_Germany|999|1|NULL|NULL|$Germany|NULL

Conditions
  MinDate = 1921/01/01
  Probability = 5

Actions
  ChangeFacMorale = 1
SelectRegion = $Germany
  ChangeLoyaltyFac = 1

SelectFaction = $RED
SelectRegion = $Germany
  ChangeLoyaltyFac = -1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_BankingRegulationAct|1|2|evt_txt_GER_BankingRegulationAct|Opt_RED_Money1|$Germany|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 10

Actions
  DescEvent = evt_desc_GER_BankingRegulationAct
  ChangeMoneyPool = 100

EndEvent

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_ConfiscationAct|1|2|evt_txt_GER_ConfiscationAct|Opt_RED_Drang_Money1|$Germany|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 10

Actions
  DescEvent = evt_desc_GER_ConfiscationAct
  ChangeMoneyPool = 200
  ChangeFacMorale = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_ConfiscationAct|1|2|evt_txt_RED_ConfiscationAct|Opt_RED_Money2|$Moscow|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 10

Actions
  DescEvent = evt_desc_RED_ConfiscationAct
  ChangeMoneyPool = 200
  ChangeFacMorale = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Germany

SelectFaction = $GER
SelectRegion = $Germany
StartEvent = evt_nam_GER_FirstIncomeTaxLaw|1|2|evt_txt_GER_FirstIncomeTaxLaw|Opt_RED_Drang_Money2|$Germany|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 25

Actions
  DescEvent = evt_desc_GER_FirstIncomeTaxLaw
  ChangeMoneyPool = 200
  ChangeFacMorale = -3

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_GER_NextIncomeTax|6|1|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1922/01/01
  EvalEvent = evt_nam_GER_FirstIncomeTaxLaw;=;1
  TurnIndex = 3;18;

Actions
  DescEvent = evt_desc_GER_NextIncomeTax
  ChangeMoneyPool = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_CurrencyReformAct|1|2|evt_txt_RED_CurrencyReformAct|Opt_RED_Drang_Money1|$Moscow|NULL

Conditions
  MinDate = 1921/03/01
  Probability = 5

Actions
  DescEvent = evt_desc_RED_CurrencyReformAct
  ChangePriceInc = 5
  ChangeMoneyPool = 1000

EndEvent
  NULL = NULL
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_RED_SiberianResourcesArrive|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1921/01/01

EvalRgnOwned = $Ekaterinburg
  TurnIndex = 1;9;17;
  Probability = 25

Actions
  DescEvent = evt_desc_RED_SiberianResourcesArrive
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Orenburg
StartEvent = evt_nam_RED_TurkestanResourcesArrive|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1921/01/01

EvalRgnOwned = $Orenburg
  TurnIndex = 1;9;17;
  Probability = 20

Actions
  DescEvent = evt_desc_RED_TurkestanResourcesArrive
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_BlockadeEstablished1921|1|2|evt_txt_RED_BlockadeEstablished1921|Event-img_Renforts_CMN_BlackSeaAllied|$Petrograd|NULL

Conditions
  MinDate = 1921/03/01
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1

Actions
  DescEvent = evt_desc_RED_BlockadeEstablished1921
  ChangeFacMorale = -5

EndEvent

SelectFaction = $GER
SelectRegion = $Gulf of Finland

SelectFaction = $GER
SelectRegion = $Gulf of Finland
StartEvent = evt_nam_GER_BlockadeEstablished1921|1|2|evt_txt_GER_BlockadeEstablished1921|Event-img_Renforts_CMN_BlackSeaAllied|$Gulf of Finland|NULL

Conditions
  MinDate = 1921/03/01
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1

Actions
  DescEvent = evt_desc_GER_BlockadeEstablished1921
  ChangeFacMorale = 1

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Sea of Barents

SelectFaction = $RED
SelectRegion = $Sea of Barents
StartEvent = evt_nam_RED_NorthernBlockadeRunnerArrivesinMurmansk|999|1|NULL|NULL|$Sea of Barents|NULL

Conditions
  MinDate = 1921/03/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1

EvalRgnOwned = $Murmansk

SelectFaction = $GER
  SelectSubUnits = Region $Sea of Barents;FactionTags GER
  EvalSubUnitCount = <=;5
  TurnIndex = 5;7;9;11;13;15;17
  Probability = 15

Actions

SelectFaction = $RED
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Sea of Barents
StartEvent = evt_nam_RED_NorthernBlockadeRunnerArrivesinArkhangelsk|999|1|NULL|NULL|$Sea of Barents|NULL

Conditions
  MinDate = 1921/03/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1

EvalRgnOwned = $Arkhangelsk

SelectFaction = $GER
  SelectSubUnits = Region $Sea of Barents;FactionTags GER
  EvalSubUnitCount = <=;5
  TurnIndex = 5;7;9;11;13;15;17
  Probability = 15

Actions

SelectFaction = $RED
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Peter the Great Bay
StartEvent = evt_nam_RED_BlockadeRunnerArrivesinVladivostok|999|1|NULL|NULL|$Peter the Great Bay|NULL

Conditions
  MinDate = 1921/03/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1

SelectFaction = $GER
  SelectSubUnits = Region $Peter the Great Bay;FactionTags GER
  EvalSubUnitCount = <=;5
  TurnIndex = 5;7;9;11;13;15;17
  Probability = 15

Actions

SelectFaction = $RED
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent

SelectFaction = $GER
SelectRegion = $Sea of Barents

SelectFaction = $GER
SelectRegion = $Sea of Barents
StartEvent = evt_nam_RED_BlockadeRunnerCaptured|999|1|NULL|NULL|$Sea of Barents|NULL

Conditions
  MinDate = 1921/03/01
  MaxDate = 1925/12/31
  EvalEvent = evt_nam_GER_BlockadeEstablished;=;1
  TurnIndex = 5;7;9;11;13;15;17
  Probability = 5

Actions
  ChangeWSUPool = 1
  ChangeMoneyPool = 5

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Bavaria
StartEvent = evt_nam_GER_BayernWerke_RplProduction|999|1|NULL|NULL|$Bavaria|NULL

Conditions
  MinDate = 1920/01/01
  TurnIndex = 2;6;10;14;18;22

EvalRgnOwned = $Bavaria
  EvalRgnStruc = $Bavaria;FACALL;STRUCDEF $TankFactory

Actions

SelectFaction = $GER 
  Replacement = GER;$famHvyVehicle;1

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Arkhangelsk

SelectFaction = $GER
SelectRegion = $Arkhangelsk
StartEvent = evt_nam_GER_DvinaFlotillaSeized|1|2|evt_txt_GER_DvinaFlotillaSeized|Event-img_GER_DvinaFlotilla|$Arkhangelsk|NULL

Conditions
  MinDate = 1921/03/01
  MaxDate = 1925/12/31

EvalRgnOwned = $Arkhangelsk
  Probability = 50

Actions
  SetCohesion = 10

SelectFaction = $GER
SelectRegion = $Arkhangelsk
  CreateGroup
  Posture = $Defensive
  SetKind = $Nav
  Entranch = 0
  FixType = 1
  SetName = Dvina Flotte
  Apply
  CreateUnit
  SetType = $uni_GER_GB1
  SUFlavorName = V.101|V.102|V.103|V.104
  SetName = Dvina Div.
  Apply
  CreateUnit
  SetType = $uni_GER_RT1
  SUFlavorName = Dvina|Barentz|Spitzberg|Weiss See
  SetName = Dvina Flotte
  Apply
  SetCohesion = 100

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Novocherkassk

SelectFaction = $RED
SelectRegion = $Novocherkassk
StartEvent = evt_nam_RED_Drang_DonRedCossacks|1|1|NULL|NULL|$Novocherkassk|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 10

SelectFaction = $RED 

EvalRgnOwned = $Novocherkassk

Actions
  DescEvent = evt_desc_RED_Drang_DonRedCossacks

SelectFaction = $WHI
  ChangeLoyaltyFac = $Area_Don;-7

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Don;-3

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Don;10

SelectFaction = $WHI
  ChangeLoyaltyFac = $Theater_Southern;-7

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Southern;-3

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Southern;10
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Novocherkassk

SelectFaction = $RED
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = Don Cossacks
  Apply
  CreateUnit
  SetType = $uni_RED_Div21
  SUFlavorName = Poliakov Dcht|Bunchuk Dcht|Karmin Dcht|Sirnov Dcht|Ermakov Dcht|Division Bty
  SetName = Don Cossacks Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Ekaterinodar
StartEvent = evt_nam_RED_Drang_KubanRedCossacks|1|1|NULL|NULL|$Ekaterinodar|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 10

SelectFaction = $RED 

EvalRgnOwned = $Ekaterinodar

Actions
  DescEvent = evt_desc_RED_Drang_KubanRedCossacks

SelectFaction = $WHI
  ChangeLoyaltyFac = $Area_Kuban;-10

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Kuban;5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Kuban;5

SelectFaction = $WHI
  ChangeLoyaltyFac = $Theater_Southern;-5

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Southern;2

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Southern;3
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Ekaterinodar

SelectFaction = $RED
SelectRegion = $Ekaterinodar
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 0
  FixType = 1
  SetName = Kuban Cossacks
  Apply
  CreateUnit
  SetType = $uni_RED_Div21
  SUFlavorName = Pokrov Dcht|Shumilin Dcht|Parsky Dcht|Simonov Dcht|Popov Dcht|Division Bty
  SetName = Kuban Cossacks Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Drang_UkrainianReds|1|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 10

SelectFaction = $RED 

EvalRgnOwned = $Kiev

Actions
  DescEvent = evt_desc_RED_Drang_UkrainianReds
  ChangeConscriptPool = 50
  ChangeFacMorale = 3
  ChgVPCount = 10
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;15

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Kiew;-3

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Kiew;3

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Ukraine;-2

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Ukraine;2
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Kiev

SelectFaction = $RED
SelectRegion = $Kiev
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Ukrainian Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Ukr.Rgt|2nd Ukr.Rgt|3rd Ukr.Rgt|4th Ukr.Rgt|5th Ukr.Rgt|NULL
  SetName = 1st Ukrainian Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Tallinn
StartEvent = evt_nam_RED_Drang_BaltReds1|1|1|NULL|NULL|$Tallinn|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 25

SelectFaction = $RED 

EvalRgnOwned = $Tallinn

Actions
  ChangeConscriptPool = 10
  ChangeFacMorale = 2
  ChgVPCount = 5
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Estonia;-3

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Estonia;3

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Western;-2

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Western;2
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Tallinn

SelectFaction = $RED
SelectRegion = $Tallinn
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Estonian Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Vatzetis3
  FlavorName = Comrade Vatzetis
  SetName = Vatzetis
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Balt.Rgt|2nd Balt.Rgt|3rd Balt.Rgt|4th Balt.Rgt|5th Balt.Rgt|NULL
  SetName = 1st Balt Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Riga
StartEvent = evt_nam_RED_Drang_BaltReds2|1|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 25

SelectFaction = $RED 

EvalRgnOwned = $Riga

Actions
  ChangeConscriptPool = 10
  ChangeFacMorale = 2
  ChgVPCount = 5
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Latvia;3

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Latvia;3

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Western;2

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Western;2
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Riga

SelectFaction = $RED
SelectRegion = $Riga
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Latvian Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Stuka2
  FlavorName = Comrade Stuka
  SetName = Stuka
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 6th Balt.Rgt|7th Balt.Rgt|8th Balt.Rgt|9th Balt.Rgt|10th Balt.Rgt|NULL
  SetName = 2nd Balt Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Helsinki
StartEvent = evt_nam_RED_Drang_FinnishReds|1|1|NULL|NULL|$Helsinki|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 20

SelectFaction = $RED 

EvalRgnOwned = $Helsinki

Actions
  DescEvent = evt_desc_RED_Drang_FinnishReds
  ChangeConscriptPool = 5
  ChangeFacMorale = 3
  ChgVPCount = 10
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;2

SelectFaction = $GER
SelectRegion = $Helsinki
  ChangeLoyaltyFac = -25

SelectFaction = $RED 
SelectRegion = $Helsinki
  ChangeLoyaltyFac = 25

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Finland;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Finland;5
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Helsinki

SelectFaction = $RED
SelectRegion = $Helsinki
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Finnish Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Haapalainen3
  FlavorName = Comrade Haapalainen
  SetName = Haapalainen
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Finn.Rgt|2nd Finn.Rgt|3rd Finn.Rgt|4th Finn.Rgt|5th Finn.Rgt|NULL
  SetName = 1st Finnish Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Tiflis
StartEvent = evt_nam_RED_Drang_CaucasusReds|1|1|NULL|NULL|$Tiflis|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 15

SelectFaction = $RED 

EvalRgnOwned = $Tiflis

Actions
  DescEvent = evt_desc_RED_Drang_CaucasusReds
  ChangeConscriptPool = 20
  ChangeFacMorale = 2
  ChgVPCount = 15
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;10

SelectFaction = $GER
SelectRegion = $Tiflis
  ChangeLoyaltyFac = -25

SelectFaction = $RED 
SelectRegion = $Tiflis
  ChangeLoyaltyFac = 25

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Georgia;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Georgia;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Azerbaijan;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Azerbaijan;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Armenia;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Armenia;5
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Tiflis

SelectFaction = $RED
SelectRegion = $Tiflis
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Caucasus Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Cau.Rgt|2nd Cau.Rgt|3rd Cau.Rgt|4th Cau.Rgt|5th Cau.Rgt|NULL
  SetName = 1st Caucasus Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Bucuresti
StartEvent = evt_nam_RED_Drang_RumanianReds|1|1|NULL|NULL|$Bucuresti|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 15

SelectFaction = $RED 

EvalRgnOwned = $Bucuresti

Actions
  DescEvent = evt_desc_RED_Drang_RumanianReds
  ChangeConscriptPool = 5
  ChangeFacMorale = 1
  ChgVPCount = 15
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;5

SelectFaction = $GER
SelectRegion = $Bucuresti
  ChangeLoyaltyFac = -15

SelectFaction = $RED 
SelectRegion = $Bucuresti
  ChangeLoyaltyFac = 15

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Romania;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Romania;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Wallachia;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Wallachia;5
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Bucuresti

SelectFaction = $RED
SelectRegion = $Bucuresti
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Rumanian Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Rum.Rgt|2nd Rum.Rgt|3rd Rum.Rgt|4th Rum.Rgt|5th Rum.Rgt|NULL
  SetName = 1st Rumanian Division
  Apply
  SetCohesion = 100

EndEvent

SelectFaction = $RED
SelectRegion = $Warsaw
StartEvent = evt_nam_RED_Drang_PolishReds|1|1|NULL|NULL|$Warsaw|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 10

SelectFaction = $RED 

EvalRgnOwned = $Warsaw

Actions
  DescEvent = evt_desc_RED_Drang_PolishReds
  ChangeConscriptPool = 50
  ChangeFacMorale = 5
  ChgVPCount = 30
  ChangeUnitPool = $uni_RED_Div38;1
  Replacement = RED;$famMilitia;15

SelectFaction = $GER
SelectRegion = $Warsaw
  ChangeLoyaltyFac = -5

SelectFaction = $RED 
SelectRegion = $Warsaw
  ChangeLoyaltyFac = 5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Mazowia;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Mazowia;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Wielkopolska;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Wielkopolska;5

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Galicia;-5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Galicia;5
  SetCohesion = 50

SelectFaction = $RED
SelectRegion = $Warsaw

SelectFaction = $RED
SelectRegion = $Warsaw
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Polish Volunteers
  Apply
  CreateUnit
  SetType = $uni_RED_Div38
  NumCreate = 5
  SUFlavorName = 1st Pol.Rgt|2nd Pol.Rgt|3rd Pol.Rgt|4th Pol.Rgt|5th Pol.Rgt|NULL
  SetName = 1st Polish Division
  Apply
  SetCohesion = 100

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Novocherkassk

SelectFaction = $GER
SelectRegion = $Novocherkassk
StartEvent = evt_nam_GER_Drang_DonCossacks|1|1|NULL|NULL|$Novocherkassk|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 25

EvalRgnOwned = $Novocherkassk

Actions
  DescEvent = evt_desc_GER_Drang_DonCossacks
  ChangeFacMorale = 5
  ChgVPCount = 50
  ChangeUnitPool = $uni_DON_Bde1;3
  ChangeUnitPool = $uni_DON_Bde0;3
  ChangeUnitPool = $uni_DON_Mil;5
  ChangeUnitPool = $uni_DON_Sup1;1
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Novocherkassk
  ChangeLoyaltyFac = -75

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Don;10

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Don;-10

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Southern;5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Southern;-5

SelectFaction = $GER
  Replacement = DON;$famMilitia;5
  Replacement = DON;$famCavalry;5
  SetCohesion = 75

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 1
  SetName = Don Cossacks Insurrection
  Apply
  CreateUnit
  SetType = $uni_DON_Bde1
  FlavorName = G. Kargalskov
  SUFlavorName = Atamski Cavalry|Officers Cavalry
  SetLevel = 1
  SetName = Atamanski Cavalry Bde
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  FlavorName = E. Semiletov
  SUFlavorName = Mamontov Rgt|Semiletov Rgt
  SetLevel = 1
  SetName = Kalmyk Infantry Bde
  Apply
  CreateUnit
  SetType = $uni_DON_Art0
  FlavorName = E. Semiletov
  SUFlavorName = Semiletov Battery
  SetLevel = 1
  SetName = Semiletov Battery
  Apply
  CreateUnit
  SetType = $uni_DON_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co|4th Co.
  SetName = Novocherkassk Supply
  Apply
  SetCohesion = 100

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 4
  InCS = 1
  FixType = 999
  SetName = Novocherkassk Militia
  Apply
  CreateUnit
  SetType = $uni_DON_Mil
  FlavorName = Y. Perelnikov
  SUFlavorName = 1st Novo. Mil.|2nd Novo. Mil.
  SetLevel = 1
  SetName = Novocherkassk Militia
  Apply

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_GER_Drang_Krasnov|1|2|evt_txt_GER_Drang_Krasnov|Event-img_GER_Drang_Krasnov|$Rostov|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 25
  EvalEvent = evt_nam_GER_Drang_DonCossacks;=;1

EvalRgnOwned = $Rostov

EvalRgnOwned = $Novocherkassk
  EvalEngagementPts = >=;15

Actions
  ChgFacEngagementPts = -15
  ChangeFacMorale = 1
  ChgVPCount = 10
  Replacement = DON;$famLine;3
  Replacement = DON;$famMilitia;5
  Replacement = DON;$famCavalry;3
  ChangeLoyaltyFac = 75

SelectFaction = $RED 
SelectRegion = $Rostov
  ChangeLoyaltyFac = -75

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Don;10

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Don;-10

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Southern;5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Southern;-5

SelectFaction = $GER
  ChangeUnitPool = $uni_DON_Bde1;2
  ChangeUnitPool = $uni_DON_Bde0;6
  ChangeUnitPool = $uni_DON_Inf0;4
  ChangeUnitPool = $uni_DON_Cav0;3
  ChangeUnitPool = $uni_DON_Mil;5
  ChangeUnitPool = $uni_DON_Sup1;2
  SetCohesion = 50

SelectRegion = $Novocherkassk

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 0
  InCS = 1
  FixType = 2
  SetName = Army of the Don
  Apply
  CreateUnit
  SetType = $uni_DON_Krasnov3
  FlavorName = P.N. Krasnov
  SetName = P.N. Krasnov
  Apply
  CreateUnit
  SetType = $uni_DON_Sidorin2
  FlavorName = V. Sidorin
  SetName = V. Sidorin
  Apply
  CreateUnit
  SetType = $uni_DON_Amt2
  SUFlavorName = 'Don Bayan'
  SetName = 'Don Bayan'
  Apply
  CreateUnit
  SetType = $uni_DON_Amc1
  SUFlavorName = 1st Dcht|2nd Dcht|3rd Dcht
  SetName = Don Armored Car Division
  Apply
  CreateUnit
  SetType = $uni_DON_Eng
  SUFlavorName = 1st Engineers Btn
  SetName = 1st Engineers Btn
  Apply
  CreateUnit
  SetType = $uni_DON_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 1st Don supply
  Apply

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 1
  FixType = 2
  SetName = Don Army Air Force
  Apply
  CreateUnit
  SetType = $uni_DON_Bas1
  SUFlavorName = Novocherkassk Airbase|1st Don Sqd|2nd Don Sqd|3rd Don Sqd
  SetName = Novocherkassk Airbase
  Apply

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 2
  SetName = Krasnov Army
  Apply
  CreateUnit
  GMEParam = 6
  SetType = $uni_DON_Denisov2
  FlavorName = 3rd Don Cossacks Division
  SetName = S.V. Denisov
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 11th Plastuns|12th Plastuns
  SetName = 5th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 13th Plastuns|14th Plastuns
  SetName = 6th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 15th Plastuns|16th Plastuns
  SetName = 7th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Cav0
  SUFlavorName = 1st Don Cavalry
  SetName = 1st Don Cossacks Cavalry Rgt
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_DON_Art2
  SetName = 1st Division Artillery
  Apply
  CreateUnit
  GMEParam = 6
  SetType = $uni_DON_Babkin1
  FlavorName = 4th Don Cossacks Division
  SetName = A.I. Babkin
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 17th Plastuns|18th Plastuns
  SetName = 8th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 19th Plastuns|20th Plastuns
  SetName = 9th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Bde0
  SUFlavorName = 21st Plastuns|22nd Plastuns
  SetName = 10th Don Plastuns Brigade
  Apply
  CreateUnit
  SetType = $uni_DON_Cav0
  SUFlavorName = 2nd Don Cavalry
  SetName = 2nd Don Cossacks Cavalry Rgt
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_DON_Art2
  SUFlavorName = 2nd Kalmyk Horse Bty
  SetName = 2nd Division Artillery
  Apply
  CreateUnit
  GMEParam = 6
  SetType = $uni_DON_Borodin1
  FlavorName = Don Cavalry Division
  SetName = S.K. Borodin
  Apply
  CreateUnit
  SetType = $uni_DON_Bde1
  SUFlavorName = 9th Don Cossacks |10th Don Cossacks Rgt
  SetName = 1st Cavalry Bde
  Apply
  CreateUnit
  SetType = $uni_DON_Bde1
  SUFlavorName = 11th Don Cossacks|12th Don Cossacks
  SetName = 2nd Cavalry Bde
  Apply
  CreateUnit
  SetType = $uni_DON_MG1
  SUFlavorName = Cav. Tachankas Dtcht
  SetName = Cav. Tachankas Dtcht
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_DON_Art0
  SUFlavorName = 5th & 6th Batteries
  SetName = 5th & 6th Horse Batteries
  Apply
  CreateUnit
  GMEParam = 5
  SetType = $uni_DON_Shumilin1
  FlavorName = Don Frontier Division
  SetName = K.P. Shumilin
  Apply
  CreateUnit
  SetType = $uni_DON_Inf0
  SUFlavorName = 1st Frontier 
  SetName = 1st Frontier Rgt
  Apply
  CreateUnit
  SetType = $uni_DON_Inf0
  SUFlavorName = 2nd Frontier 
  SetName = 2nd Frontier Rgt
  Apply
  CreateUnit
  SetType = $uni_DON_Inf0
  SUFlavorName = 3rd Frontier 
  SetName = 3rd Frontier Rgt
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_DON_Inf0
  SUFlavorName = 4th Frontier 
  SetName = 4th Frontier Rgt
  Apply
  CreateUnit
  SetType = $uni_DON_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 2nd Don supply
  Apply

SelectFaction = $GER
SelectRegion = $Novocherkassk
  CreateGroup
  Posture = $Defensive
  SetKind = $Nav
  Entranch = 0
  FixType = 2
  SetName = Don Flottilla
  Apply
  CreateUnit
  SetType = $uni_DON_GB1
  SUFlavorName = Gb 152|Gb 153|Gb 154|Gb 155
  SetName = 1st Don Gunboat Squadron
  Apply
  CreateUnit
  SetType = $uni_DON_GB1
  SUFlavorName = Gb 156|Gb 157|Gb 158|Gb 159
  SetLevel = 1
  SetName = 2nd Don Gunboat Squadron
  Apply
  SetCohesion = 100

SelectFaction = $RED
  GenTextMsg  = evt_nam_GER_Drang_Krasnov;2;evt_txt_GER_Drang_Krasnov;Event-img_GER_Drang_Krasnov;NULL

EndEvent
  NULL = NULL

SelectFaction = $GER
SelectRegion = $Pskov

SelectFaction = $GER
SelectRegion = $Pskov
StartEvent = evt_nam_GER_Drang_Lieven|1|2|evt_txt_GER_Drang_Lieven|Event-img_GER_Drang_Lieven|$Pskov|NULL

Conditions
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 25

EvalRgnOwned = $Pskov
  EvalEngagementPts = >=;10

Actions
  ChgFacEngagementPts = -10
  ChangeLoyaltyFac = 50

SelectFaction = $RED 
SelectRegion = $Pskov
  ChangeLoyaltyFac = -50

SelectFaction = $GER
  ChangeLoyaltyFac = $Area_Pskov;10

SelectFaction = $RED 
  ChangeLoyaltyFac = $Area_Pskov;-10

SelectFaction = $GER
  ChangeLoyaltyFac = $Theater_Central_Russia;5

SelectFaction = $RED 
  ChangeLoyaltyFac = $Theater_Central_Russia;-5
  SetCohesion = 50

SelectFaction = $GER
SelectRegion = $Pskov

SelectFaction = $GER
SelectRegion = $Pskov
  CreateGroup
  Posture = $Defensive
  SetKind = $Land
  Entranch = 2
  InCS = 0
  FixType = 2
  SetName = Lieven Division
  Apply
  CreateUnit
  GMEParam = 9
  SetType = $uni_WH4_Prince Lieven2
  FlavorName = Prince Lieven
  SetName = Prince Lieven
  Apply
  CreateUnit
  SetType = $uni_WH4_Rgt1
  SUFlavorName = 1st Fusiliers
  SetLevel = 1
  SetName = 1st Fusiliers Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Rgt1
  SUFlavorName = 2nd Fusiliers
  SetLevel = 1
  SetName = 2nd Fusiliers Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Rgt1
  SUFlavorName = 3rd Fusiliers
  SetLevel = 1
  SetName = 3rd Fusiliers Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Rgt1
  SUFlavorName = 4th Fusiliers
  SetLevel = 1
  SetName = 4th Fusiliers Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Rgt1
  SUFlavorName = 5th Fusiliers
  SetLevel = 1
  SetName = 5th Fusiliers Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Cav1
  SUFlavorName = 1st Cavalry
  SetLevel = 1
  SetName = 1st Cavalry Rgt
  Apply
  CreateUnit
  SetType = $uni_WH4_Art2
  SUFlavorName = 105mm Bty
  SetLevel = 1
  SetName = 1/2nd Division Bty
  Apply
  CreateUnit
  SetCommit = 3
  SetType = $uni_WH4_Art2
  SUFlavorName = 105mm Bty
  SetLevel = 1
  SetName = 2/2nd Division Bty
  Apply
  CreateUnit
  SetType = $uni_WH4_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 1/2nd Division Supply
  Apply
  CreateUnit
  SetType = $uni_WH4_Sup1
  SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
  SetName = 2/2nd Division Supply
  Apply
  SetCohesion = 100

SelectFaction = $RED
  GenTextMsg  = evt_nam_GER_Drang_Lieven;2;evt_txt_GER_Drang_Lieven;Event-img_GER_Drang_Lieven;NULL

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_RedArmyDeserters|999|1|NULL|NULL|$Moscow|NULL

Conditions
  CheckIsPlayer = NULL
  MinDate = 1921/01/01
  MaxDate = 1923/12/30
  Probability = 30

SelectFaction = $RED 
  SelectSubUnits = FactionTags RED;Families $famLine $famMilitia $famCavalry $famLightInf
  EvalSubUnitSel = NULL

Actions
  DescEvent = evt_desc_RED_RedArmyDeserters

SelectFaction = $RED
  AlterCuSubUnits = ApplyToList;SkipAttribs 75 #MilitaryPoliceUnit#;ChgCohesionPerc -50;ChgHealthPerc -20

EndEvent

SelectFaction = $ANA
SelectRegion = $Rostov

SelectFaction = $ANA
SelectRegion = $Rostov
StartEvent = evt_nam_RED_NoANAOutsideUkraineA|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Southern;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Southern;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $ANA
SelectRegion = $Orel
StartEvent = evt_nam_RED_NoANAOutsideUkraineB|999|1|NULL|NULL|$Orel|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $ANA
SelectRegion = $Orenburg
StartEvent = evt_nam_RED_NoANAOutsideUkraineC|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $ANA
SelectRegion = $Bucuresti
StartEvent = evt_nam_RED_NoANAOutsideUkraineD|999|1|NULL|NULL|$Bucuresti|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Western;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Western;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $ANA
SelectRegion = $Minsk
StartEvent = evt_nam_RED_NoANAOutsideUkraineE|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $ANA
SelectRegion = $Samara
StartEvent = evt_nam_RED_NoANAOutsideUkraineF|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags ANA
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags ANA
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_WH3_NoUKROutsideUkraineA|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Southern;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Southern;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Orel
StartEvent = evt_nam_WH3_NoUKROutsideUkraineB|999|1|NULL|NULL|$Orel|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Orenburg
StartEvent = evt_nam_WH3_NoUKROutsideUkraineC|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Bucuresti
StartEvent = evt_nam_WH3_NoUKROutsideUkraineD|999|1|NULL|NULL|$Bucuresti|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Western;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Western;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_WH3_NoUKROutsideUkraineE|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_WH3_NoUKROutsideUkraineF|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1921/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags UKR
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags UKR
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tzaritsyn
StartEvent = evt_nam_BALtroopsLosseCohesionInSouthern|999|1|NULL|NULL|$Tzaritsyn|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Southern;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Southern;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_BALtroopsLosseCohesionInVolga|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Orenburg
StartEvent = evt_nam_BALtroopsLosseCohesionInUral|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Omsk
StartEvent = evt_nam_BALtroopsLosseCohesionInSiberia|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Siberia;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Siberia;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tashkent
StartEvent = evt_nam_BALtroopsLosseCohesionInCentral_Asia|999|1|NULL|NULL|$Tashkent|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_BALtroopsLosseCohesionInUkraine|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ukraine;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ukraine;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Mogilev
StartEvent = evt_nam_BALtroopsLosseCohesionInMogilev|999|1|NULL|NULL|$Mogilev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Mogilev;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Mogilev;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Smolensk
StartEvent = evt_nam_BALtroopsLosseCohesionInSmolensk|999|1|NULL|NULL|$Smolensk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Smolensk;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Smolensk;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Rzhev
StartEvent = evt_nam_BALtroopsLosseCohesionInTver|999|1|NULL|NULL|$Rzhev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Tver;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Tver;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_BALtroopsLosseCohesionInMoskwa|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Moskwa;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Moskwa;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tula
StartEvent = evt_nam_BALtroopsLosseCohesionInTula|999|1|NULL|NULL|$Tula|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Tula;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Tula;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Orel
StartEvent = evt_nam_BALtroopsLosseCohesionInOrel|999|1|NULL|NULL|$Orel|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Orel;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Orel;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kursk
StartEvent = evt_nam_BALtroopsLosseCohesionInKursk|999|1|NULL|NULL|$Kursk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Kursk;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Kursk;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Voronezh
StartEvent = evt_nam_BALtroopsLosseCohesionInVoronezh|999|1|NULL|NULL|$Voronezh|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Voronezh;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Voronezh;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tambov
StartEvent = evt_nam_BALtroopsLosseCohesionInTambov|999|1|NULL|NULL|$Tambov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Tambov;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Tambov;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Ryazan
StartEvent = evt_nam_BALtroopsLosseCohesionInRyazan|999|1|NULL|NULL|$Ryazan|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Ryazan;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Ryazan;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Yaroslavl
StartEvent = evt_nam_BALtroopsLosseCohesionInYaroslavl|999|1|NULL|NULL|$Yaroslavl|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Yaroslavl;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Yaroslavl;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Vologda
StartEvent = evt_nam_BALtroopsLosseCohesionInVologda|999|1|NULL|NULL|$Vologda|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Vologda;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Vologda;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Arkhangelsk
StartEvent = evt_nam_BALtroopsLosseCohesionInArkhangelsk|999|1|NULL|NULL|$Arkhangelsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Arkhangelsk;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Arkhangelsk;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Novgorod
StartEvent = evt_nam_BALtroopsLosseCohesionInNovgorod|999|1|NULL|NULL|$Novgorod|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Novgorod;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Novgorod;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Olonets
StartEvent = evt_nam_BALtroopsLosseCohesionInOlonets|999|1|NULL|NULL|$Olonets|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Olonets;FactionTags BAL
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Olonets;FactionTags BAL
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_FINtroopsLosseCohesionInCentral_Russia|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_FINtroopsLosseCohesionInBelarus|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tzaritsyn
StartEvent = evt_nam_FINtroopsLosseCohesionInSouthern|999|1|NULL|NULL|$Tzaritsyn|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Southern;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Southern;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_FINtroopsLosseCohesionInVolga|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Perm
StartEvent = evt_nam_FINtroopsLosseCohesionInUral|999|1|NULL|NULL|$Perm|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Omsk
StartEvent = evt_nam_FINtroopsLosseCohesionInSiberia|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Siberia;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Siberia;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_FINtroopsLosseCohesionInCentral_Asia|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_FINtroopsLosseCohesionInUkraine|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ukraine;FactionTags FIN
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ukraine;FactionTags FIN
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_CAUtroopsLosseCohesionInUkraine|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ukraine;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ukraine;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_CAUtroopsLosseCohesionInFinland|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Finland;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Finland;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_CAUtroopsLosseCohesionInNorthern|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Northern;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Northern;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_CAUtroopsLosseCohesionInCentral_Russia|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_CAUtroopsLosseCohesionInBelarus|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_CAUtroopsLosseCohesionInVolga|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Orenburg
StartEvent = evt_nam_CAUtroopsLosseCohesionInUral|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Omsk
StartEvent = evt_nam_CAUtroopsLosseCohesionInSiberia|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Siberia;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Siberia;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tashkent
StartEvent = evt_nam_CAUtroopsLosseCohesionInCentral_Asia|999|1|NULL|NULL|$Tashkent|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tambov
StartEvent = evt_nam_CAUtroopsLosseCohesionInTambov|999|1|NULL|NULL|$Tambov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Tambov;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Tambov;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_CAUtroopsLosseCohesionInDon|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Don;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Don;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Astrakhan
StartEvent = evt_nam_CAUtroopsLosseCohesionInAstrakhan|999|1|NULL|NULL|$Astrakhan|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Astrakhan;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Astrakhan;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Stavropol
StartEvent = evt_nam_CAUtroopsLosseCohesionInStavropol|999|1|NULL|NULL|$Stavropol|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Stavropol;FactionTags CAU
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Stavropol;FactionTags CAU
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInFinland|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Finland;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Finland;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInNorthern|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Northern;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Northern;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInCentral_Russia|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_ROMtroopsLosseCohesionInBelarus|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_ROMtroopsLosseCohesionInVolga|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInUral|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInSiberia|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Siberia;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Siberia;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_ROMtroopsLosseCohesionInCentral_Asia|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Mozyr
StartEvent = evt_nam_ROMtroopsLosseCohesionInVolhynian|999|1|NULL|NULL|$Mozyr|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Volhynian;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Volhynian;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_ROMtroopsLosseCohesionInKiew|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Kiew;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Kiew;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Vinnytsia
StartEvent = evt_nam_ROMtroopsLosseCohesionInPodolsk|999|1|NULL|NULL|$Vinnytsia|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Podolsk;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Podolsk;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kherson
StartEvent = evt_nam_ROMtroopsLosseCohesionInKherson|999|1|NULL|NULL|$Kherson|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Kherson;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Kherson;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Ekaterinoslav
StartEvent = evt_nam_ROMtroopsLosseCohesionInEkaterinoslav|999|1|NULL|NULL|$Ekaterinoslav|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Ekaterinoslav;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Ekaterinoslav;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Chernigov
StartEvent = evt_nam_ROMtroopsLosseCohesionInChernigov|999|1|NULL|NULL|$Chernigov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Chernigov;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Chernigov;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Poltava
StartEvent = evt_nam_ROMtroopsLosseCohesionInPoltava|999|1|NULL|NULL|$Poltava|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Poltava;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Poltava;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Kharkov
StartEvent = evt_nam_ROMtroopsLosseCohesionInKharkov|999|1|NULL|NULL|$Kharkov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Kharkov;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Kharkov;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Simferopol
StartEvent = evt_nam_ROMtroopsLosseCohesionInTaurida|999|1|NULL|NULL|$Simferopol|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Area_Taurida;FactionTags ROM
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Area_Taurida;FactionTags ROM
  AlterCuSubUnit = ApplyToList;ChgPtsCohesion -50

EndEvent

SelectFaction = $GER
SelectRegion = $Tashkent
StartEvent = evt_nam_DONtroopsLosseCohesionInCentral_Asia|999|1|NULL|NULL|$Tashkent|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Asia;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_DONtroopsLosseCohesionInTheater_Siberia|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Siberia;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Siberia;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Orenburg
StartEvent = evt_nam_DONtroopsLosseCohesionInTheater_Ural|999|1|NULL|NULL|$Orenburg|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ural;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ural;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Samara
StartEvent = evt_nam_DONtroopsLosseCohesionInVolga|999|1|NULL|NULL|$Samara|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Volga;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Volga;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Minsk
StartEvent = evt_nam_DONtroopsLosseCohesionInBelarus|999|1|NULL|NULL|$Minsk|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Belarus;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Belarus;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_DONtroopsLosseCohesionInCentral_Russia|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Central_Russia;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_DONtroopsLosseCohesionInNorthern|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Northern;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Northern;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
StartEvent = evt_nam_DONtroopsLosseCohesionInFinland|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Finland;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Finland;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Bucuresti
StartEvent = evt_nam_DONtroopsLosseCohesionInWestern|999|1|NULL|NULL|$Bucuresti|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Western;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Western;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent

SelectFaction = $GER
SelectRegion = $Kharkov
StartEvent = evt_nam_DONtroopsLosseCohesionInUkraine|999|1|NULL|NULL|$Kharkov|NULL

Conditions
  MinDate = 1918/06/01
  MaxDate = 1922/12/30
  SelectSubUnits = Area $Theater_Ukraine;FactionTags DON
  EvalSubUnitSel = NULL

Actions
  SelectSubUnits = Area $Theater_Ukraine;FactionTags DON
  AlterCuSubUnit = ApplyToList;Probability 30;ChgPtsCohesion -5

EndEvent
  NULL = NULL

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moral_Balance1|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;100

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Sevastopol

SelectFaction = $GER
SelectRegion = $Sevastopol
StartEvent = evt_nam_GER_Moral_Balance1|999|1|NULL|NULL|$Sevastopol|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;100

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GRN

SelectFaction = $GRN
StartEvent = evt_nam_GRN_Moral_Balance1|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;100

Actions
  ChangeFacMorale = 5

EndEvent

SelectFaction = $ANA

SelectFaction = $ANA
StartEvent = evt_nam_ANA_Moral_Balance1|999|0|NULL|NULL|NULL|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;100

Actions
  ChangeFacMorale = 5

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moral_BalanceMoscow|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Moscow

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Moscow
StartEvent = evt_nam_RED_Moral_BalanceMoscow2|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Moscow

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_Moral_BalancePetrograd|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Petrograd

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Petrograd
StartEvent = evt_nam_RED_Moral_BalancePetrograd2|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Petrograd

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Kazan
StartEvent = evt_nam_RED_Moral_BalanceKazan|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Kazan

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Kazan
StartEvent = evt_nam_RED_Moral_BalanceKazan2|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Kazan

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Moral_BalanceKiev|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Kiev

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Kiev
StartEvent = evt_nam_RED_Moral_BalanceKiev2|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Kiev

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Riga
StartEvent = evt_nam_RED_Moral_BalanceRiga|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Riga

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Riga
StartEvent = evt_nam_RED_Moral_BalanceRiga2|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Riga

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Baku
StartEvent = evt_nam_RED_Moral_BalanceBaku|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Baku

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Baku
StartEvent = evt_nam_RED_Moral_BalanceBaku2|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Baku

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Omsk
StartEvent = evt_nam_RED_Moral_BalanceOmsk|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Omsk

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Omsk
StartEvent = evt_nam_RED_Moral_BalanceOmsk2|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Omsk

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_RED_Moral_BalanceEkaterinburg|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Ekaterinburg

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_RED_Moral_BalanceEkaterinburg2|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Ekaterinburg

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Sevastopol
StartEvent = evt_nam_RED_Moral_BalanceSevastopol|999|1|NULL|NULL|$Sevastopol|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Sevastopol

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Sevastopol
StartEvent = evt_nam_RED_Moral_BalanceSevastopol2|999|1|NULL|NULL|$Sevastopol|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Sevastopol

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $RED
SelectRegion = $Rostov
StartEvent = evt_nam_RED_Moral_BalanceRostov|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/12/01
  EvalMorale = <;80

EvalRgnOwned = $Rostov

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $RED
SelectRegion = $Rostov
StartEvent = evt_nam_RED_Moral_BalanceRostov2|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Rostov

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_GER_Moral_BalanceMoscow|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Moscow

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Moscow
StartEvent = evt_nam_GER_Moral_BalanceMoscow2|999|1|NULL|NULL|$Moscow|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Moscow

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Petrograd
StartEvent = evt_nam_GER_Moral_BalancePetrograd|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Petrograd

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Petrograd
StartEvent = evt_nam_GER_Moral_BalancePetrograd2|999|1|NULL|NULL|$Petrograd|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Petrograd

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Kazan
StartEvent = evt_nam_GER_Moral_BalanceKazan|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Kazan

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Kazan
StartEvent = evt_nam_GER_Moral_BalanceKazan2|999|1|NULL|NULL|$Kazan|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Kazan

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_Moral_BalanceKiev|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Kiev

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Kiev
StartEvent = evt_nam_GER_Moral_BalanceKiev2|999|1|NULL|NULL|$Kiev|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Kiev

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Riga
StartEvent = evt_nam_GER_Moral_BalanceRiga|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Riga

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Riga
StartEvent = evt_nam_GER_Moral_BalanceRiga2|999|1|NULL|NULL|$Riga|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Riga

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Baku
StartEvent = evt_nam_GER_Moral_BalanceBaku|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Baku

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Baku
StartEvent = evt_nam_GER_Moral_BalanceBaku2|999|1|NULL|NULL|$Baku|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Baku

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Omsk
StartEvent = evt_nam_GER_Moral_BalanceOmsk|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Omsk

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Omsk
StartEvent = evt_nam_GER_Moral_BalanceOmsk2|999|1|NULL|NULL|$Omsk|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Omsk

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_GER_Moral_BalanceEkaterinburg|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = <;80

EvalRgnOwned = $Ekaterinburg

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Ekaterinburg
StartEvent = evt_nam_GER_Moral_BalanceEkaterinburg2|999|1|NULL|NULL|$Ekaterinburg|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Ekaterinburg

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Sevastopol
StartEvent = evt_nam_GER_Moral_BalanceSevastopol|999|1|NULL|NULL|$Sevastopol|NULL

Conditions
  MinDate = 1919/01/01
  EvalMorale = <;80

EvalRgnOwned = $Sevastopol

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Sevastopol
StartEvent = evt_nam_GER_Moral_BalanceSevastopol2|999|1|NULL|NULL|$Sevastopol|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Sevastopol

Actions
  ChangeFacMorale = -1

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_GER_Moral_BalanceRostov|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/12/01
  EvalMorale = <;80

EvalRgnOwned = $Rostov

Actions
  ChangeFacMorale = 1

EndEvent

SelectFaction = $GER
SelectRegion = $Rostov
StartEvent = evt_nam_GER_Moral_BalanceRostov2|999|1|NULL|NULL|$Rostov|NULL

Conditions
  MinDate = 1918/06/01
  EvalMorale = >;120

EvalRgnOwned = $Rostov

Actions
  ChangeFacMorale = -1

EndEvent
