NULL ==========================================================================

SelectFaction = $WH3
SelectRegion = $Samara

StartEvent = evt_nam_WH3_SamaraFactory_RplProduction|999|1|NULL|NULL|$Samara|NULL

Conditions

  MinDate = 1918/10/02
  Probability = 30
  EvalRgnOwned = $Samara
  EvalEvent = evt_nam_WH3_SamaraFactoryCompleted;=;1
  EvalEvent = evt_nam_WH3_SamaraFactory_RplProduction2;=;0

Actions

  ChangeWSUPool = 20
  Replacement = WH3;$famLine;2
  Replacement = WH3;$famMilitia;2
  Replacement = WH3;$famElite;2
  Replacement = WH3;$famCavalry;2
  Replacement = WH3;$famLightInf;2
  Replacement = WH3;$famRaider;2
  Replacement = WH3;$famLightArty;2
  Replacement = WH3;$famMedArty;2
  Replacement = WH3;$famHvyArty;2
  Replacement = WH3;$famService;2
  Replacement = WH3;$famEngineer;2
  Replacement = WH3;$famNavalEngineer;2
  Replacement = WH3;$famSupply;2
  Replacement = WH3;$famLtVehicle;2
  Replacement = WH3;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

  ChangeUnitPool = $uni_ORE_Rgt;1
  ChangeUnitPool = $uni_ORE_Cav;1
  ChangeUnitPool = $uni_ORE_Div0;1
  ChangeUnitPool = $uni_ORE_Div1;1
  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG0;2
  ChangeUnitPool = $uni_WH3_Rgt6;1
  ChangeUnitPool = $uni_WH3_Rgt2;1
  ChangeUnitPool = $uni_WH3_Rgt3;1
  ChangeUnitPool = $uni_WH3_Rgt4;1
  ChangeUnitPool = $uni_WH3_Lit0;1
  ChangeUnitPool = $uni_WH3_Cav0;1
  ChangeUnitPool = $uni_WH3_Cav2;1
  ChangeUnitPool = $uni_WH3_Cav3;1
  ChangeUnitPool = $uni_WH3_Eng;1
  ChangeUnitPool = $uni_WH3_Sig;1
  ChangeUnitPool = $uni_WH3_Med;1
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc1;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Sai;1
  ChangeUnitPool = $uni_WH3_Gar0;2
  ChangeUnitPool = $uni_WH3_Div10;1
  ChangeUnitPool = $uni_WH3_Div11;1
  ChangeUnitPool = $uni_WH3_Div12;1
  ChangeUnitPool = $uni_WH3_Div13;1
  ChangeUnitPool = $uni_WH3_Div14;1
  ChangeUnitPool = $uni_WH3_Div15;1

  ChangeUnitPool = $uni_WH3_Mil1;4
  ChangeUnitPool = $uni_WH3_Cav5;4
  ChangeUnitPool = $uni_WH3_Div0;2
  ChangeUnitPool = $uni_WH3_Div1;1
  ChangeUnitPool = $uni_WH3_Bde6;1

EndEvent

SelectFaction = $WH3
SelectRegion = $Samara

StartEvent = evt_nam_WH3_SamaraFactory_RplProduction2|999|1|NULL|NULL|$Samara|NULL

Conditions

  EvalEvent = evt_nam_WH3_New1919;=;1
  EvalEvent = evt_nam_WH3_New1921;=;0
  Probability = 30
  EvalRgnOwned = $Samara
  EvalEvent = evt_nam_WH3_SamaraFactoryCompleted;=;1

Actions

  Replacement = WH3;$famLine;2
  Replacement = WH3;$famMilitia;2
  Replacement = WH3;$famElite;2
  Replacement = WH3;$famCavalry;2
  Replacement = WH3;$famLightInf;2
  Replacement = WH3;$famRaider;2
  Replacement = WH3;$famLightArty;2
  Replacement = WH3;$famMedArty;2
  Replacement = WH3;$famHvyArty;2
  Replacement = WH3;$famService;2
  Replacement = WH3;$famEngineer;2
  Replacement = WH3;$famNavalEngineer;2
  Replacement = WH3;$famSupply;2
  Replacement = WH3;$famLtVehicle;2
  Replacement = WH3;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

  ChangeUnitPool = $uni_WH3_Cav6;4
  ChangeUnitPool = $uni_WH3_Bde8;1
  ChangeUnitPool = $uni_WH3_MilAG;4
  ChangeUnitPool = $uni_WH3_Bde11;1
  ChangeUnitPool = $uni_WH3_Bde12;1

  ChangeUnitPool = $uni_ORE_Rgt;1
  ChangeUnitPool = $uni_ORE_Cav;1
  ChangeUnitPool = $uni_ORE_Div0;1
  ChangeUnitPool = $uni_ORE_Div1;1
  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG0;2
  ChangeUnitPool = $uni_WH3_Rgt6;1
  ChangeUnitPool = $uni_WH3_Rgt2;1
  ChangeUnitPool = $uni_WH3_Rgt3;1
  ChangeUnitPool = $uni_WH3_Rgt4;1
  ChangeUnitPool = $uni_WH3_Lit0;1
  ChangeUnitPool = $uni_WH3_Cav0;1
  ChangeUnitPool = $uni_WH3_Cav2;1
  ChangeUnitPool = $uni_WH3_Cav3;1
  ChangeUnitPool = $uni_WH3_Eng;1
  ChangeUnitPool = $uni_WH3_Sig;1
  ChangeUnitPool = $uni_WH3_Med;1
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc1;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Sai;1
  ChangeUnitPool = $uni_WH3_Gar0;2
  ChangeUnitPool = $uni_WH3_Div10;1
  ChangeUnitPool = $uni_WH3_Div11;1
  ChangeUnitPool = $uni_WH3_Div12;1
  ChangeUnitPool = $uni_WH3_Div13;1
  ChangeUnitPool = $uni_WH3_Div14;1
  ChangeUnitPool = $uni_WH3_Div15;1

  ChangeUnitPool = $uni_WH3_Mil1;-4
  ChangeUnitPool = $uni_WH3_Cav5;-4
  ChangeUnitPool = $uni_WH3_Div0;-1
  ChangeUnitPool = $uni_WH3_Div1;-1
  ChangeUnitPool = $uni_WH3_Bde6;-1

EndEvent

SelectFaction = $WH3
SelectRegion = $Samara

StartEvent = evt_nam_WH3_SamaraFactory_RplProduction3|999|1|NULL|NULL|$Samara|NULL

Conditions

  EvalEvent = evt_nam_WH3_New1921;=;1
  Probability = 30
  EvalRgnOwned = $Samara
  EvalEvent = evt_nam_WH3_SamaraFactoryCompleted;=;1

Actions

  Replacement = WH3;$famLine;2
  Replacement = WH3;$famMilitia;2
  Replacement = WH3;$famElite;2
  Replacement = WH3;$famCavalry;2
  Replacement = WH3;$famLightInf;2
  Replacement = WH3;$famRaider;2
  Replacement = WH3;$famLightArty;2
  Replacement = WH3;$famMedArty;2
  Replacement = WH3;$famHvyArty;2
  Replacement = WH3;$famService;2
  Replacement = WH3;$famEngineer;2
  Replacement = WH3;$famNavalEngineer;2
  Replacement = WH3;$famSupply;2
  Replacement = WH3;$famLtVehicle;2
  Replacement = WH3;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

  ChangeUnitPool = $uni_WH3_Cav6;-4
  ChangeUnitPool = $uni_WH3_Bde8;-1
  ChangeUnitPool = $uni_WH3_MilAG;-4
  ChangeUnitPool = $uni_WH3_Bde11;-1
  ChangeUnitPool = $uni_WH3_Bde12;-1

  ChangeUnitPool = $uni_WH3_Mil3;4
  ChangeUnitPool = $uni_WH3_DivNewInf1;1
  ChangeUnitPool = $uni_WH3_DivNewInf2;1
  ChangeUnitPool = $uni_WH3_NewCav1;4
  ChangeUnitPool = $uni_WH3_DivNewCav1;1

  ChangeUnitPool = $uni_ORE_Rgt;1
  ChangeUnitPool = $uni_ORE_Cav;1
  ChangeUnitPool = $uni_ORE_Div0;1
  ChangeUnitPool = $uni_ORE_Div1;1
  ChangeUnitPool = $uni_WH3_MP;2
  ChangeUnitPool = $uni_WH3_MG0;2
  ChangeUnitPool = $uni_WH3_Rgt6;1
  ChangeUnitPool = $uni_WH3_Rgt2;1
  ChangeUnitPool = $uni_WH3_Rgt3;1
  ChangeUnitPool = $uni_WH3_Rgt4;1
  ChangeUnitPool = $uni_WH3_Lit0;1
  ChangeUnitPool = $uni_WH3_Cav0;1
  ChangeUnitPool = $uni_WH3_Cav2;1
  ChangeUnitPool = $uni_WH3_Cav3;1
  ChangeUnitPool = $uni_WH3_Eng;1
  ChangeUnitPool = $uni_WH3_Sig;1
  ChangeUnitPool = $uni_WH3_Med;1
  ChangeUnitPool = $uni_WH3_Art0;1
  ChangeUnitPool = $uni_WH3_Art1;1
  ChangeUnitPool = $uni_WH3_Art2;1
  ChangeUnitPool = $uni_WH3_Art3;1
  ChangeUnitPool = $uni_WH3_Art4;1
  ChangeUnitPool = $uni_WH3_Art5;1
  ChangeUnitPool = $uni_WH3_Amt1;1
  ChangeUnitPool = $uni_WH3_Amt2;1
  ChangeUnitPool = $uni_WH3_Amc1;1
  ChangeUnitPool = $uni_WH3_Sup1;2
  ChangeUnitPool = $uni_WH3_GB1;1
  ChangeUnitPool = $uni_WH3_RT1;1
  ChangeUnitPool = $uni_WH3_RT2;1
  ChangeUnitPool = $uni_WH3_Sup2;2
  ChangeUnitPool = $uni_WH3_Sai;1
  ChangeUnitPool = $uni_WH3_Gar0;2
  ChangeUnitPool = $uni_WH3_Div10;1
  ChangeUnitPool = $uni_WH3_Div11;1
  ChangeUnitPool = $uni_WH3_Div12;1
  ChangeUnitPool = $uni_WH3_Div13;1
  ChangeUnitPool = $uni_WH3_Div14;1
  ChangeUnitPool = $uni_WH3_Div15;1

  ChangeUnitPool = $uni_WH3_Mil1;-4
  ChangeUnitPool = $uni_WH3_Cav5;-4
  ChangeUnitPool = $uni_WH3_Div0;-1
  ChangeUnitPool = $uni_WH3_Div1;-1
  ChangeUnitPool = $uni_WH3_Bde6;-1

EndEvent

NULL ==========================================================================

SelectFaction = $WH3
SelectRegion = $Samara

StartEvent = evt_nam_WH3_SamaraFactory_RplProduction4|999|1|NULL|NULL|$Samara|NULL

Conditions

  MinDate = 1918/06/02
  Probability = 30
  EvalUnqUnit = A.V. Kolchak;NOT
  EvalRgnOwned = $Samara
  EvalEvent = evt_nam_WH3_SamaraFactoryCompleted;=;1

Actions

  Replacement = WH2;$famLine;2
  Replacement = WH2;$famMilitia;2
  Replacement = WH2;$famElite;2
  Replacement = WH2;$famCavalry;2
  Replacement = WH2;$famLightInf;2
  Replacement = WH2;$famRaider;2
  Replacement = WH2;$famLightArty;2
  Replacement = WH2;$famMedArty;2
  Replacement = WH2;$famHvyArty;2
  Replacement = WH2;$famService;2
  Replacement = WH2;$famEngineer;2
  Replacement = WH2;$famNavalEngineer;2
  Replacement = WH2;$famSupply;2
  Replacement = WH2;$famLtVehicle;2
  Replacement = WH2;$famArmoredTrain;2

  ChangeUnitPool = $uni_WH2_Wor;4
  ChangeUnitPool = $uni_WH2_Bde4;2
  ChangeUnitPool = $uni_WH2_Bde5;1
  ChangeUnitPool = $uni_WH2_Cav0;4
  ChangeUnitPool = $uni_WH2_Bde6;1
  ChangeUnitPool = $uni_WH2_Gar;2
  ChangeUnitPool = $uni_WH2_Art0;1
  ChangeUnitPool = $uni_WH2_Art1;1
  ChangeUnitPool = $uni_WH2_Art2;1
  ChangeUnitPool = $uni_WH2_Art3;1
  ChangeUnitPool = $uni_WH2_Art4;1
  ChangeUnitPool = $uni_WH2_MG0;2
  ChangeUnitPool = $uni_WH2_Eng;1
  ChangeUnitPool = $uni_WH2_Sai;1
  ChangeUnitPool = $uni_WH2_Amt2;1
  ChangeUnitPool = $uni_WH2_Amc;1
  ChangeUnitPool = $uni_WH2_Sup1;2
  ChangeUnitPool = $uni_WH2_FDD;1
  ChangeUnitPool = $uni_WH2_GB1;1
  ChangeUnitPool = $uni_WH2_RT1;1
  ChangeUnitPool = $uni_WH2_Med;1
  ChangeUnitPool = $uni_WH2_Sig;1

EndEvent
