NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Sevastopol

StartEvent = evt_nam_WHI_SevastopolFactory_RplProduction|999|1|NULL|NULL|$Sevastopol|NULL

Conditions

  MinDate = 1918/10/02
  Probability = 30
  EvalRgnOwned = $Sevastopol
  EvalEvent = evt_nam_WHI_SevastopolFactoryCompleted;=;1
  EvalEvent = evt_nam_WHI_SevastopolFactory_RplProduction2;=;0

Actions

  ChangeWSUPool = 20

  Replacement = WHI;$famLine;2
  Replacement = WHI;$famMilitia;2
  Replacement = WHI;$famElite;2
  Replacement = WHI;$famCavalry;2
  Replacement = WHI;$famLightInf;2
  Replacement = WHI;$famRaider;2
  Replacement = WHI;$famLightArty;2
  Replacement = WHI;$famMedArty;2
  Replacement = WHI;$famHvyArty;2
  Replacement = WHI;$famService;2
  Replacement = WHI;$famEngineer;2
  Replacement = WHI;$famNavalEngineer;2
  Replacement = WHI;$famSupply;2
  Replacement = WHI;$famLtVehicle;2
  Replacement = WHI;$famArmoredTrain;2
  Replacement = DON;$famLine;2
  Replacement = DON;$famMilitia;2
  Replacement = DON;$famElite;2
  Replacement = DON;$famCavalry;2
  Replacement = DON;$famLightInf;2
  Replacement = DON;$famRaider;2
  Replacement = DON;$famLightArty;2
  Replacement = DON;$famMedArty;2
  Replacement = DON;$famHvyArty;2
  Replacement = DON;$famService;2
  Replacement = DON;$famEngineer;2
  Replacement = DON;$famSupply;2
  Replacement = DON;$famLtVehicle;2
  Replacement = DON;$famArmoredTrain;2
  Replacement = WH4;$famLine;2
  Replacement = WH4;$famMilitia;2
  Replacement = WH4;$famElite;2
  Replacement = WH4;$famCavalry;2
  Replacement = WH4;$famLightInf;2
  Replacement = WH4;$famRaider;2
  Replacement = WH4;$famLightArty;2
  Replacement = WH4;$famMedArty;2
  Replacement = WH4;$famHvyArty;2
  Replacement = WH4;$famService;2
  Replacement = WH4;$famEngineer;2
  Replacement = WH4;$famSupply;2
  Replacement = WH4;$famLtVehicle;2
  Replacement = WH4;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WHI_Mil1;4
  ChangeUnitPool = $uni_WHI_MBde1;2
  ChangeUnitPool = $uni_WHI_MBde2;1
  ChangeUnitPool = $uni_WHI_Cav10;4
  ChangeUnitPool = $uni_WHI_Bde6;1

  ChangeUnitPool = $uni_WHI_MP;2
  ChangeUnitPool = $uni_WHI_Rgt3;1
  ChangeUnitPool = $uni_WHI_Rgt8;1
  ChangeUnitPool = $uni_WHI_RBde1;1
  ChangeUnitPool = $uni_WHI_RBde2;1
  ChangeUnitPool = $uni_WHI_Cav2;1
  ChangeUnitPool = $uni_WHI_Cav9;1
  ChangeUnitPool = $uni_WHI_RBde3;1
  ChangeUnitPool = $uni_WHI_RBde4;1
  ChangeUnitPool = $uni_WHI_Gar0;2
  ChangeUnitPool = $uni_WHI_Mon;1
  ChangeUnitPool = $uni_WHI_Sai;1
  ChangeUnitPool = $uni_WHI_Rgt5;1
  ChangeUnitPool = $uni_WHI_Art0;1
  ChangeUnitPool = $uni_WHI_Art1;1
  ChangeUnitPool = $uni_WHI_Art2;1
  ChangeUnitPool = $uni_WHI_Art3;1
  ChangeUnitPool = $uni_WHI_Art4;1
  ChangeUnitPool = $uni_WHI_Art5;1
  ChangeUnitPool = $uni_WHI_Art6;1
  ChangeUnitPool = $uni_WHI_MG0;2
  ChangeUnitPool = $uni_WHI_Bty;1
  ChangeUnitPool = $uni_WHI_FtG;1
  ChangeUnitPool = $uni_WHI_Coa;1
  ChangeUnitPool = $uni_WHI_Hq2;1
  ChangeUnitPool = $uni_WHI_Sie;1
  ChangeUnitPool = $uni_WHI_Sig;2
  ChangeUnitPool = $uni_WHI_Eng;2
  ChangeUnitPool = $uni_WHI_Med;2
  ChangeUnitPool = $uni_WHI_Amc1;1
  ChangeUnitPool = $uni_WHI_Amt1;1
  ChangeUnitPool = $uni_WHI_Amt2;1
  ChangeUnitPool = $uni_WHI_Sup1;5
  ChangeUnitPool = $uni_WHI_BB1;1
  ChangeUnitPool = $uni_WHI_BA1;1
  ChangeUnitPool = $uni_WHI_AC1;1
  ChangeUnitPool = $uni_WHI_CL1;1
  ChangeUnitPool = $uni_WHI_DD1;1
  ChangeUnitPool = $uni_WHI_FDD;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_GB1;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_TR1;1
  ChangeUnitPool = $uni_WHI_RT1;1
  ChangeUnitPool = $uni_WHI_RT2;1

  ChangeUnitPool = $uni_DON_Mil;4
  ChangeUnitPool = $uni_DON_Dct1;1
  ChangeUnitPool = $uni_DON_Rgt2;4
  ChangeUnitPool = $uni_DON_Bde1;1

  ChangeUnitPool = $uni_DON_Art0;1
  ChangeUnitPool = $uni_DON_Art1;1
  ChangeUnitPool = $uni_DON_Art2;1
  ChangeUnitPool = $uni_DON_Eng;2
  ChangeUnitPool = $uni_DON_Amt1;1
  ChangeUnitPool = $uni_DON_Amt2;1
  ChangeUnitPool = $uni_DON_Amc1;1
  ChangeUnitPool = $uni_DON_Sup1;5
  ChangeUnitPool = $uni_DON_GB1;1
  ChangeUnitPool = $uni_DON_Hq2;1
  ChangeUnitPool = $uni_DON_MG0;2

  ChangeUnitPool = $uni_WH4_Mil1;4
  ChangeUnitPool = $uni_WH4_Bde2;1
  ChangeUnitPool = $uni_WH4_Cav0;4
  ChangeUnitPool = $uni_WH4_Bde3;1

  ChangeUnitPool = $uni_WH4_Art1;1
  ChangeUnitPool = $uni_WH4_Art2;1
  ChangeUnitPool = $uni_WH4_Art3;1
  ChangeUnitPool = $uni_WH4_Art4;1
  ChangeUnitPool = $uni_WH4_Eng;2
  ChangeUnitPool = $uni_WH4_Med;2
  ChangeUnitPool = $uni_WH4_Sig;2
  ChangeUnitPool = $uni_WH4_Amt1;1
  ChangeUnitPool = $uni_WH4_Amt2;1
  ChangeUnitPool = $uni_WH4_Amc;3
  ChangeUnitPool = $uni_WH4_Sup1;1
  ChangeUnitPool = $uni_WH4_GB1;1
  ChangeUnitPool = $uni_WH4_MG0;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Lit;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

EndEvent

SelectFaction = $WHI
SelectRegion = $Sevastopol

StartEvent = evt_nam_WHI_SevastopolFactory_RplProduction2|999|1|NULL|NULL|$Sevastopol|NULL

Conditions

  EvalEvent = evt_nam_WHI_New1919;=;1
  EvalEvent = evt_nam_WHI_New1921;=;0
  Probability = 30
  EvalRgnOwned = $Sevastopol
  EvalEvent = evt_nam_WHI_SevastopolFactoryCompleted;=;1

Actions

  Replacement = WHI;$famLine;2
  Replacement = WHI;$famMilitia;2
  Replacement = WHI;$famElite;2
  Replacement = WHI;$famCavalry;2
  Replacement = WHI;$famLightInf;2
  Replacement = WHI;$famRaider;2
  Replacement = WHI;$famLightArty;2
  Replacement = WHI;$famMedArty;2
  Replacement = WHI;$famHvyArty;2
  Replacement = WHI;$famService;2
  Replacement = WHI;$famEngineer;2
  Replacement = WHI;$famNavalEngineer;2
  Replacement = WHI;$famSupply;2
  Replacement = WHI;$famLtVehicle;2
  Replacement = WHI;$famArmoredTrain;2
  Replacement = DON;$famLine;2
  Replacement = DON;$famMilitia;2
  Replacement = DON;$famElite;2
  Replacement = DON;$famCavalry;2
  Replacement = DON;$famLightInf;2
  Replacement = DON;$famRaider;2
  Replacement = DON;$famLightArty;2
  Replacement = DON;$famMedArty;2
  Replacement = DON;$famHvyArty;2
  Replacement = DON;$famService;2
  Replacement = DON;$famEngineer;2
  Replacement = DON;$famSupply;2
  Replacement = DON;$famLtVehicle;2
  Replacement = DON;$famArmoredTrain;2
  Replacement = WH4;$famLine;2
  Replacement = WH4;$famMilitia;2
  Replacement = WH4;$famElite;2
  Replacement = WH4;$famCavalry;2
  Replacement = WH4;$famLightInf;2
  Replacement = WH4;$famRaider;2
  Replacement = WH4;$famLightArty;2
  Replacement = WH4;$famMedArty;2
  Replacement = WH4;$famHvyArty;2
  Replacement = WH4;$famService;2
  Replacement = WH4;$famEngineer;2
  Replacement = WH4;$famSupply;2
  Replacement = WH4;$famLtVehicle;2
  Replacement = WH4;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WHI_Vol1;4
  ChangeUnitPool = $uni_WHI_MBde5;1
  ChangeUnitPool = $uni_WHI_MBde6;1
  ChangeUnitPool = $uni_WHI_Cav12;4
  ChangeUnitPool = $uni_WHI_Bde6;1

  ChangeUnitPool = $uni_WHI_Mil1;-4
  ChangeUnitPool = $uni_WHI_MBde1;-1
  ChangeUnitPool = $uni_WHI_MBde2;-1
  ChangeUnitPool = $uni_WHI_Cav10;-4
  ChangeUnitPool = $uni_WHI_Bde6;-1

  ChangeUnitPool = $uni_WHI_MP;2
  ChangeUnitPool = $uni_WHI_Rgt3;1
  ChangeUnitPool = $uni_WHI_Rgt8;1
  ChangeUnitPool = $uni_WHI_RBde1;1
  ChangeUnitPool = $uni_WHI_RBde2;1
  ChangeUnitPool = $uni_WHI_Cav2;1
  ChangeUnitPool = $uni_WHI_Cav9;1
  ChangeUnitPool = $uni_WHI_RBde3;1
  ChangeUnitPool = $uni_WHI_RBde4;1
  ChangeUnitPool = $uni_WHI_Gar0;2
  ChangeUnitPool = $uni_WHI_Mon;1
  ChangeUnitPool = $uni_WHI_Sai;1
  ChangeUnitPool = $uni_WHI_Rgt5;1
  ChangeUnitPool = $uni_WHI_Art0;1
  ChangeUnitPool = $uni_WHI_Art1;1
  ChangeUnitPool = $uni_WHI_Art2;1
  ChangeUnitPool = $uni_WHI_Art3;1
  ChangeUnitPool = $uni_WHI_Art4;1
  ChangeUnitPool = $uni_WHI_Art5;1
  ChangeUnitPool = $uni_WHI_Art6;1
  ChangeUnitPool = $uni_WHI_MG0;2
  ChangeUnitPool = $uni_WHI_Bty;1
  ChangeUnitPool = $uni_WHI_FtG;1
  ChangeUnitPool = $uni_WHI_Coa;1
  ChangeUnitPool = $uni_WHI_Hq2;1
  ChangeUnitPool = $uni_WHI_Sie;1
  ChangeUnitPool = $uni_WHI_Sig;2
  ChangeUnitPool = $uni_WHI_Eng;2
  ChangeUnitPool = $uni_WHI_Med;2
  ChangeUnitPool = $uni_WHI_Amc1;1
  ChangeUnitPool = $uni_WHI_Amt1;1
  ChangeUnitPool = $uni_WHI_Amt2;1
  ChangeUnitPool = $uni_WHI_Sup1;5
  ChangeUnitPool = $uni_WHI_BB1;1
  ChangeUnitPool = $uni_WHI_BA1;1
  ChangeUnitPool = $uni_WHI_AC1;1
  ChangeUnitPool = $uni_WHI_CL1;1
  ChangeUnitPool = $uni_WHI_DD1;1
  ChangeUnitPool = $uni_WHI_FDD;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_GB1;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_TR1;1
  ChangeUnitPool = $uni_WHI_RT1;1
  ChangeUnitPool = $uni_WHI_RT2;1

  ChangeUnitPool = $uni_DON_Mil;4
  ChangeUnitPool = $uni_DON_Dct1;1
  ChangeUnitPool = $uni_DON_Rgt2;4
  ChangeUnitPool = $uni_DON_Bde1;1

  ChangeUnitPool = $uni_DON_Art0;1
  ChangeUnitPool = $uni_DON_Art1;1
  ChangeUnitPool = $uni_DON_Art2;1
  ChangeUnitPool = $uni_DON_Eng;2
  ChangeUnitPool = $uni_DON_Amt1;1
  ChangeUnitPool = $uni_DON_Amt2;1
  ChangeUnitPool = $uni_DON_Amc1;1
  ChangeUnitPool = $uni_DON_Sup1;5
  ChangeUnitPool = $uni_DON_GB1;1
  ChangeUnitPool = $uni_DON_Hq2;1
  ChangeUnitPool = $uni_DON_MG0;2

  ChangeUnitPool = $uni_WH4_Mil1;4
  ChangeUnitPool = $uni_WH4_Bde2;1
  ChangeUnitPool = $uni_WH4_Cav0;4
  ChangeUnitPool = $uni_WH4_Bde3;1

  ChangeUnitPool = $uni_WH4_Art1;1
  ChangeUnitPool = $uni_WH4_Art2;1
  ChangeUnitPool = $uni_WH4_Art3;1
  ChangeUnitPool = $uni_WH4_Art4;1
  ChangeUnitPool = $uni_WH4_Eng;2
  ChangeUnitPool = $uni_WH4_Med;2
  ChangeUnitPool = $uni_WH4_Sig;2
  ChangeUnitPool = $uni_WH4_Amt1;1
  ChangeUnitPool = $uni_WH4_Amt2;1
  ChangeUnitPool = $uni_WH4_Amc;3
  ChangeUnitPool = $uni_WH4_Sup1;1
  ChangeUnitPool = $uni_WH4_GB1;1
  ChangeUnitPool = $uni_WH4_MG0;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Lit;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

EndEvent

SelectFaction = $WHI
SelectRegion = $Sevastopol

StartEvent = evt_nam_WHI_SevastopolFactory_RplProduction3|999|1|NULL|NULL|$Sevastopol|NULL

Conditions

  EvalEvent = evt_nam_WHI_New1921;=;1
  Probability = 30
  EvalRgnOwned = $Sevastopol
  EvalEvent = evt_nam_WHI_SevastopolFactoryCompleted;=;1

Actions

  Replacement = WHI;$famLine;2
  Replacement = WHI;$famMilitia;2
  Replacement = WHI;$famElite;2
  Replacement = WHI;$famCavalry;2
  Replacement = WHI;$famLightInf;2
  Replacement = WHI;$famRaider;2
  Replacement = WHI;$famLightArty;2
  Replacement = WHI;$famMedArty;2
  Replacement = WHI;$famHvyArty;2
  Replacement = WHI;$famService;2
  Replacement = WHI;$famEngineer;2
  Replacement = WHI;$famNavalEngineer;2
  Replacement = WHI;$famSupply;2
  Replacement = WHI;$famLtVehicle;2
  Replacement = WHI;$famArmoredTrain;2
  Replacement = DON;$famLine;2
  Replacement = DON;$famMilitia;2
  Replacement = DON;$famElite;2
  Replacement = DON;$famCavalry;2
  Replacement = DON;$famLightInf;2
  Replacement = DON;$famRaider;2
  Replacement = DON;$famLightArty;2
  Replacement = DON;$famMedArty;2
  Replacement = DON;$famHvyArty;2
  Replacement = DON;$famService;2
  Replacement = DON;$famEngineer;2
  Replacement = DON;$famSupply;2
  Replacement = DON;$famLtVehicle;2
  Replacement = DON;$famArmoredTrain;2
  Replacement = WH4;$famLine;2
  Replacement = WH4;$famMilitia;2
  Replacement = WH4;$famElite;2
  Replacement = WH4;$famCavalry;2
  Replacement = WH4;$famLightInf;2
  Replacement = WH4;$famRaider;2
  Replacement = WH4;$famLightArty;2
  Replacement = WH4;$famMedArty;2
  Replacement = WH4;$famHvyArty;2
  Replacement = WH4;$famService;2
  Replacement = WH4;$famEngineer;2
  Replacement = WH4;$famSupply;2
  Replacement = WH4;$famLtVehicle;2
  Replacement = WH4;$famArmoredTrain;2
  Replacement = WH5;$famLine;2
  Replacement = WH5;$famMilitia;2
  Replacement = WH5;$famElite;2
  Replacement = WH5;$famCavalry;2
  Replacement = WH5;$famLightInf;2
  Replacement = WH5;$famRaider;2
  Replacement = WH5;$famLightArty;2
  Replacement = WH5;$famMedArty;2
  Replacement = WH5;$famHvyArty;2
  Replacement = WH5;$famService;2
  Replacement = WH5;$famEngineer;2
  Replacement = WH5;$famSupply;2
  Replacement = WH5;$famLtVehicle;2
  Replacement = WH5;$famArmoredTrain;2

  ChangeUnitPool = $uni_WHI_VolBde;4
  ChangeUnitPool = $uni_WHI_MBde7;1
  ChangeUnitPool = $uni_WHI_MBde8;1
  ChangeUnitPool = $uni_WHI_NewCav1;4
  ChangeUnitPool = $uni_WHI_DivNewCav1;1

  ChangeUnitPool = $uni_WHI_Vol1;-4
  ChangeUnitPool = $uni_WHI_MBde5;-1
  ChangeUnitPool = $uni_WHI_MBde6;-1
  ChangeUnitPool = $uni_WHI_Cav12;-4
  ChangeUnitPool = $uni_WHI_Bde6;-1

  ChangeUnitPool = $uni_WHI_Mil1;-4
  ChangeUnitPool = $uni_WHI_MBde1;-1
  ChangeUnitPool = $uni_WHI_MBde2;-1
  ChangeUnitPool = $uni_WHI_Cav10;-4
  ChangeUnitPool = $uni_WHI_Bde6;-1

  ChangeUnitPool = $uni_WHI_MP;2
  ChangeUnitPool = $uni_WHI_Rgt3;1
  ChangeUnitPool = $uni_WHI_Rgt8;1
  ChangeUnitPool = $uni_WHI_RBde1;1
  ChangeUnitPool = $uni_WHI_RBde2;1
  ChangeUnitPool = $uni_WHI_Cav2;1
  ChangeUnitPool = $uni_WHI_Cav9;1
  ChangeUnitPool = $uni_WHI_RBde3;1
  ChangeUnitPool = $uni_WHI_RBde4;1
  ChangeUnitPool = $uni_WHI_Gar0;2
  ChangeUnitPool = $uni_WHI_Mon;1
  ChangeUnitPool = $uni_WHI_Sai;1
  ChangeUnitPool = $uni_WHI_Rgt5;1
  ChangeUnitPool = $uni_WHI_Art0;1
  ChangeUnitPool = $uni_WHI_Art1;1
  ChangeUnitPool = $uni_WHI_Art2;1
  ChangeUnitPool = $uni_WHI_Art3;1
  ChangeUnitPool = $uni_WHI_Art4;1
  ChangeUnitPool = $uni_WHI_Art5;1
  ChangeUnitPool = $uni_WHI_Art6;1
  ChangeUnitPool = $uni_WHI_MG0;2
  ChangeUnitPool = $uni_WHI_Bty;1
  ChangeUnitPool = $uni_WHI_FtG;1
  ChangeUnitPool = $uni_WHI_Coa;1
  ChangeUnitPool = $uni_WHI_Hq2;1
  ChangeUnitPool = $uni_WHI_Sie;1
  ChangeUnitPool = $uni_WHI_Sig;2
  ChangeUnitPool = $uni_WHI_Eng;2
  ChangeUnitPool = $uni_WHI_Med;2
  ChangeUnitPool = $uni_WHI_Amc1;1
  ChangeUnitPool = $uni_WHI_Amt1;1
  ChangeUnitPool = $uni_WHI_Amt2;1
  ChangeUnitPool = $uni_WHI_Sup1;5
  ChangeUnitPool = $uni_WHI_BB1;1
  ChangeUnitPool = $uni_WHI_BA1;1
  ChangeUnitPool = $uni_WHI_AC1;1
  ChangeUnitPool = $uni_WHI_CL1;1
  ChangeUnitPool = $uni_WHI_DD1;1
  ChangeUnitPool = $uni_WHI_FDD;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_GB1;1
  ChangeUnitPool = $uni_WHI_TB1;1
  ChangeUnitPool = $uni_WHI_TR1;1
  ChangeUnitPool = $uni_WHI_RT1;1
  ChangeUnitPool = $uni_WHI_RT2;1

  ChangeUnitPool = $uni_DON_Mil;4
  ChangeUnitPool = $uni_DON_Dct1;1
  ChangeUnitPool = $uni_DON_Rgt2;4
  ChangeUnitPool = $uni_DON_Bde1;1

  ChangeUnitPool = $uni_DON_Art0;1
  ChangeUnitPool = $uni_DON_Art1;1
  ChangeUnitPool = $uni_DON_Art2;1
  ChangeUnitPool = $uni_DON_Eng;2
  ChangeUnitPool = $uni_DON_Amt1;1
  ChangeUnitPool = $uni_DON_Amt2;1
  ChangeUnitPool = $uni_DON_Amc1;1
  ChangeUnitPool = $uni_DON_Sup1;5
  ChangeUnitPool = $uni_DON_GB1;1
  ChangeUnitPool = $uni_DON_Hq2;1
  ChangeUnitPool = $uni_DON_MG0;2

  ChangeUnitPool = $uni_WH4_Mil1;4
  ChangeUnitPool = $uni_WH4_Bde2;1
  ChangeUnitPool = $uni_WH4_Cav0;4
  ChangeUnitPool = $uni_WH4_Bde3;1

  ChangeUnitPool = $uni_WH4_Art1;1
  ChangeUnitPool = $uni_WH4_Art2;1
  ChangeUnitPool = $uni_WH4_Art3;1
  ChangeUnitPool = $uni_WH4_Art4;1
  ChangeUnitPool = $uni_WH4_Eng;2
  ChangeUnitPool = $uni_WH4_Med;2
  ChangeUnitPool = $uni_WH4_Sig;2
  ChangeUnitPool = $uni_WH4_Amt1;1
  ChangeUnitPool = $uni_WH4_Amt2;1
  ChangeUnitPool = $uni_WH4_Amc;3
  ChangeUnitPool = $uni_WH4_Sup1;1
  ChangeUnitPool = $uni_WH4_GB1;1
  ChangeUnitPool = $uni_WH4_MG0;2

  ChangeUnitPool = $uni_WH5_Mil0;4
  ChangeUnitPool = $uni_WH5_Bde2;1
  ChangeUnitPool = $uni_WH5_Cav0;4
  ChangeUnitPool = $uni_WH5_Bde3;1

  ChangeUnitPool = $uni_WH5_Mar;1
  ChangeUnitPool = $uni_WH5_Lit;1
  ChangeUnitPool = $uni_WH5_Art1;1
  ChangeUnitPool = $uni_WH5_Art2;1
  ChangeUnitPool = $uni_WH5_Art3;1
  ChangeUnitPool = $uni_WH5_Art4;1
  ChangeUnitPool = $uni_WH5_Eng;2
  ChangeUnitPool = $uni_WH5_Med;2
  ChangeUnitPool = $uni_WH5_Sig;2
  ChangeUnitPool = $uni_WH5_Amt1;1
  ChangeUnitPool = $uni_WH5_Amc;1
  ChangeUnitPool = $uni_WH5_Amt2;1
  ChangeUnitPool = $uni_WH5_Sup1;5
  ChangeUnitPool = $uni_WH5_GB1;1
  ChangeUnitPool = $uni_WH5_AC1;1
  ChangeUnitPool = $uni_WH5_DD1;1
  ChangeUnitPool = $uni_WH5_MG0;2

EndEvent

NULL ==========================================================================