NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Denikin|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1918/06/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Denikin3
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Denikin3
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = A.I. Denikin
    SetCommit = 1
    SetType = $uni_WHI_Denikin4
    SetName = A.I. Denikin
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_DenikinOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1918/06/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Denikin;=;1
  EvalUnqUnit = A.I. Denikin;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Denikin_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1918/06/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_DenikinOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Mai-Maievski|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Mai-Maievski2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Mai-Maievski2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = V.Z. Mai-Maeivski
    SetCommit = 1
    SetType = $uni_WHI_Mai-Maievski3
    SetName = V.Z. Mai-Maeivski
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Mai-MaievskiOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Mai-Maievski;=;1
  EvalUnqUnit = V.Z. Mai-Maievski;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Mai-Maievski_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Mai-MaievskiOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Wrangel|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Wrangel2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Wrangel2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = P.N. Wrangel
    SetCommit = 1
    SetType = $uni_WHI_Wrangel3
    SetName = P.N. Wrangel
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_WrangelOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Wrangel;=;1
  EvalUnqUnit = P.N. Wrangel;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Wrangel_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_WrangelOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Drozdovsky|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Drozdovsky2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Drozdovsky2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = M.G. Drozdovsky
    SetCommit = 1
    SetType = $uni_WHI_Drozdovsky3
    SetName = M.G. Drozdovsky
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_DrozdovskyOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Drozdovsky;=;1
  EvalUnqUnit = M.G. Drozdovsky;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Drozdovsky_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_DrozdovskyOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Markov|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Markov2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Markov2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = S.L. Markov
    SetCommit = 1
    SetType = $uni_WHI_Markov3
    SetName = S.L. Markov
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_MarkovOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Markov;=;1
  EvalUnqUnit = S.L. Markov;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Markov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_MarkovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Slushov|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Slushov2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Slushov2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = Slushov
    SetCommit = 1
    SetType = $uni_WHI_Slushov3
    SetName = Slushov
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_SlushovOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Slushov;=;1
  EvalUnqUnit = Slushev;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Slushov_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_SlushovOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Belsky|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Belsky2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Belsky2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = Belsky
    SetCommit = 1
    SetType = $uni_WHI_Belsky3
    SetName = Belsky
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_BelskyOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Belsky;=;1
  EvalUnqUnit = Belsky;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Belsky_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_BelskyOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Koshelev|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Koshelev2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Koshelev2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = Koshelev
    SetCommit = 1
    SetType = $uni_WHI_Koshelev3
    SetName = Koshelev
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_KoshelevOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Koshelev;=;1
  EvalUnqUnit = Koshelev;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Koshelev_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_KoshelevOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_Cherbachev|1|0|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  SelectSubUnits = Models $ldr_WHI_Cherbachev2
  EvalSubUnitSel = NULL
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Ready;=;1

Actions

  SelectSubUnits = Models $ldr_WHI_Cherbachev2
  AlterCuSubUnit = ApplyToList;Kill

SelectFaction = $WHI
SelectRegion = $Voronezh

  CreateGroup
    Posture = $Defensive
    SetKind = $Land
    Entranch = 4
    InCS = 1
    FixType = 12
    SetName = Central Russia Great Head Quarter
  Apply
  CreateUnit
    GMEParam = Cherbachev
    SetCommit = 1
    SetType = $uni_WHI_Cherbachev3
    SetName = Cherbachev
  Apply
  CreateUnit
    SetType = $uni_WHI_Sup1
    SUFlavorName = 1st Co.|2nd Co.|3rd Co.|4th Co.
    SetName = GHQ Supply
  Apply
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;MaxOccurs;0
  SetEvtOccurs = evt_nam_WHI_VoronezhGHQ_Ready;CuOccurs;0

SelectFaction = $CMN

  GenTextMsg  = opt_notify_WHI_New_VoronezhGHQ;1;NULL;NULL;NULL

SelectFaction = $WHI

  ChgFacEngagementPts = -7
  ChangeActorPool = $gmaOptionReinf;MaxUse;0;SubType;WHI_VoronezhGHQ

EndEvent

NULL ==========================================================================

SelectFaction = $WHI
SelectRegion = $Voronezh

StartEvent = evt_nam_WHI_VoronezhGHQ_CherbachevOverrunned|1|1|NULL|NULL|$Voronezh|NULL

Conditions

  MinDate = 1919/01/01
  EvalEvent = evt_nam_WHI_VoronezhGHQ_Cherbachev;=;1
  EvalUnqUnit = Cherbachev;NOT

Actions

EndEvent

NULL ==========================================================================

SelectFaction = $WHI

StartEvent = evt_nam_WHI_VoronezhGHQ_Cherbachev_Regen|1|0|NULL|NULL|NULL|NULL

Conditions

  MinDate = 1919/01/01
  EvalRgnOwned = $Voronezh
  EvalEvent = evt_nam_WHI_VoronezhGHQ_CherbachevOverrunned;=;1
  ActorDisabled = $gmaOptionReinf;WHI_VoronezhGHQ

Actions

  GenTextMsg  = opt_notify_WHI_VoronezhGHQ_Regen;1;NULL;NULL;NULL
  ChangeActorPool = $gmaOptionReinf;MaxUse;1;ResetFreq;1;ImageID;Opt_RUS_Leader2.png;Title;opt_title_WHI_VoronezhGHQ;MsgString;opt_desc_WHI_VoronezhGHQ;ToolString;opt_hint_WHI_VoronezhGHQ;SubType;WHI_VoronezhGHQ;SParam1;WHI

EndEvent

NULL ==========================================================================

